


<!-- breadcrumbs Work -->
<% navigation_add 'Guardian Custom Fields', '/guardians/custom_new' %>

<!-- breadcrumbs Work -->
<!-- Sec --> 
<%= render  partial: 'master_settings/master_settings_left.html' %>
<div id="editGuardianCustomFieldsDivID"></div>

<h4 class="mg-h4">Guardian Custom Fields </h4>
<div>
<%= button_to "Create Guardian Custom Field",{ :controller=> "guardians", :action=> "custom_index"} ,:key => "value", :class=>"mg-custom-form-btn" %>
<%if(@dbdatas.length > 0) %>

  <table class="batch-tbl mg-tbl-margin">
    <tr>
            <th><%=t('fieldname')%></th>
            <th><%=t('fieldtype')%></th>
            <th><%=t('defaultvalue')%></th>
            <th><%=t('actions')%></th>
   </tr>
            <% @dbdatas.each do |guardian| %>
    <tr>
            <td><%=guardian.name %></td>
            <% 
                temp=guardian.data_type.split("_") 
                str=temp[0].split.map(&:capitalize).join(' ')+" "+temp[1]
            %>
            <td><%=str%></td>
            <td><%=guardian.text_data %></td>
            <td colspan="2">
                <button title="Edit" id="editCustum-<%=raw guardian.id %>" class="edit-guardian-custum-fields mg-icon-btn"><i class="fa fa-pencil-square-o"></i></button>
                <button title="Delete" class="delete-guardian-custum-field mg-icon-btn" id="deleteCustumID-<%= guardian.id%>"><i class="fa fa-trash"></i></button>
            </td>
    </tr>
    <%end%>
  </table>
<% else %>
<h5 class="mg-text-margin">Please add some custom fields for guardian</h5>

<% end %>
</div>
<%= render partial: 'application/common_left_close' %>


<script >
 $(document).ready(function () {

    focusCurrentTab("viewGuardianCustomFieldAId","viewGuardianCustomFieldiId");
  });

        

</script>





