<table border="1" class="mg-showdata-bg " cellspacing="1" cellpadding="1">
   <tr>
     <td class="mg-td-width-half" valign="top">
        <label class="mg-label"> <%= t('name')%></label>
     </td>
     <td class="mg-td-width-half mg-capitalize-text" valign="top">
        <%= @show_address_book_data.try(:name) %>
     </td>
 </tr>

 <tr>
     <td class="mg-td-width-half" valign="top">
        <label class="mg-label"><%=t('address')%></label>
     </td>
     <td class="mg-td-width-half " valign="top">
        <!-- <div class="text-scroll-for-log-text-cls comments-space" style="padding: 5px 40 0 10px"> -->
            <%= @show_address_book_data.try(:Address) %>
        <!-- </div> -->
     </td>
 </tr>
  <tr>
     <td class="mg-td-width-half" valign="top">
        <label class="mg-label"> <%= t('contact_number')%></label>
     </td>
     <td class="mg-td-width-half" valign="top">
        <%= @show_address_book_data.try(:contact_number) %>
     </td>
 </tr>
  <tr>
     <td class="mg-td-width-half" valign="top">
        <label class="mg-label"> <%= t('designation')%></label>
     </td>
     <td class="mg-td-width-half" valign="top">
    
        <%= @show_address_book_data.try(:designation) %>
     </td>
 </tr>
 <tr>
     <td class="mg-td-width-half" valign="top">
        <label class="mg-label"> <%= t('email_id')%></label>
     </td>
     <td class="mg-td-width-half" valign="top">
     
        <%= @show_address_book_data.try(:email_id) %>
     </td>
 </tr>
</table>
 <p class="mg-p-mgtop">
     <a class="mg-small-form-btn cancel-form-dialog"><%=t('cancel')%></a>

  </p>

<script type="text/javascript">
$(document).ready(function () {
//  textSeeMoreLess();
});

</script>
