
<%#= render  partial: 'laboratory/laboratry_left' %>

 <div class="mg-custom-labels">

<%= form_for :category, :url=>{:controller=>'front_office_management',:action=>'category_update',:id=>@category.id},:html => {:id => 'categoryUpdateID' } do |f| %>
<%= f.hidden_field :is_deleted, :value => 0 %>
<%= f.hidden_field :mg_school_id, :value => session[:current_user_school_id] %>
<%= f.hidden_field :updated_by, :value => session[:user_id] %>
<p>
    <label class="mg-label" style="width:140px"><%= t('category') %><span class="required-field">&nbsp;*</span></label>
    <br/>
   <%= f.text_field :category_name,:class=>"mg-text-field" %>
</p>

<p class="mg-p-mgtop">
    <!-- <%#= f.submit t('save') ,:class=>"mg-small-form-btn"%> -->
    <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn"><%=t("save")%></a>
    <%#= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
<a class="mg-small-form-btn cancel-form-dialog"><%=t("cancel")%></a>

</p>
<% end %>
</div>
<%#= render  partial: 'application/common_left_close' %>

<script>
$("#categoryUpdateID").validate({
        rules: {        
        "category[category_name]": {required: true}
      }
    });
</script>
