<div class="mg-custom-labels">
<%= form_for :financial_manager, url: front_office_management_update_path ,:html => {:id => 'financialManagerUpdateID' } do |f| %>

<%= f.hidden_field :is_deleted, :value => 0 %>
<%= f.hidden_field :mg_school_id, :value => session[:current_user_school_id] %>
<%= f.hidden_field :updated_by, :value => session[:user_id] %>
<%= f.hidden_field :user_type, :value => "front_office_manager" %>
<%= f.hidden_field :id, :value => @financial_manager.id %>
<%#= hidden_field_tag "change_financial_username", params[:change_financial_username]%>
<p>

  <%
    school_subdomain= MgSchool.where(:id=>session[:current_user_school_id],:is_deleted=>0)
    @subdomain = school_subdomain[0].subdomain
    mguser_name = @financial_manager.user_name
    @user_name = mguser_name.sub(@subdomain,"")
  %>
  <%= hidden_field_tag "subdomain", @subdomain %>

  <label class="mg-label" style="width:140px"><%= t('user_name') %><span class="required-field">&nbsp;*</span></label>
    <br/>
  <%=@subdomain%><%= f.text_field :user_name,:value=>@user_name,:class=>"mg-text-field" %>
</p>

<p class="mg-p-mgtop">
    <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn"><%=t("save")%></a>
    <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
</p>
<% end %>
</div>
<!-- <%#= render  partial: 'application/common_left_close' %> -->
<script>

$("#financialManagerUpdateID").validate({
    rules: {        
    "financial_manager[user_name]": {required: true},
  }
});
</script>