<% navigation_add t('faq'), front_office_management_faq_path %>
<%=render partial: 'front_office_management_left'%>

<h4 class="mg-h4"><%= t('manage_faq') %></h4>

<button class="new-add-faq mg-btn-bottom-margin mg-custom-form-btn"><%= t('add_faq')%></button>

<!-- <%#= button_to 'Add Laboratory', {:controller => "laboratory", :action => "new" } ,:class=>"mg-custom-form-btn"%> -->
<div class="mg_pagination">
<%if @faq.length>0%>
<table  class="batch-tbl mg-tbl-margin">   <!-- border="2" --> 
  <tr class="subject-table-header">
    <!-- <th>Subject Id</th> -->
    <th><%= t('category') %></th>
    <th><%= t('sub_category') %></th>
    <th><%= t('question') %></th>
    <th><%= t('answer') %></th>

    <th style="width: 100px;"><%= t('actions') %></th>
  </tr>
 
  <% @faq.each do |faqus| %>
    <tr>
      <%if faqus.mg_faq_category_id.present?%>
                <%faq=MgFaqCategory.find_by(:id=>faqus.mg_faq_category_id)%>
                <td class="mg-capitalize-text"><%= faq.try(:category_name)%></td>
     <%else%>
                <td><%= "" %></td>
     <%end%>

     <%if faqus.mg_faq_sub_category_id.present?%>
                <%faq=MgFaqSubCategory.find_by(:id=>faqus.mg_faq_sub_category_id)%>
                <td class="mg-capitalize-text"><%= faq.try(:sub_category_name)%></td>
     <%else%>
                <td><%= "" %></td>
     <%end%>

     <!--  <td><%#= truncate(lab.try(:item_description), :length => 25) %></td> -->


      <td><%= truncate(strip_tags(faqus.try(:question)), :length => 25) %></td>
      <td><%= truncate(strip_tags(faqus.try(:answer)), :length => 25) %></td>
      <td>

      <button title="Show" id="<%=raw faqus.id %>-showlabBTNID" class="show-faq-btn mg-icon-btn"><i class="fa fa-eye"></i></button>

        <button title="Edit" id="<%=raw faqus.id %>-editlabBTNID" class="edit-faq-btn mg-icon-btn"><i class="fa fa-pencil-square-o"></i></button>

        <button title="Delete" id="<%=raw faqus.id %>-deletelabBTNID" class="delete-faq-btn mg-icon-btn"><i class="fa fa-trash"></i></button>

      </td>

    </tr>
  <% end %>
</table>
<br/>
 <div class="pagination-align" style="position: relative; bottom: 10px;">
              <%= will_paginate @faq, :container => false %>
           </div>
<%else%>
<h5>No FAQ is created </h5>
<%end%>
</div>
<div id="newAddFaqDIVID"></div>
<div id="editFaqDIVID"></div>
<div id="showFaqDIVID"></div>


<%= render  partial: 'application/common_left_close' %>

<script>
$( document ).ready(function() {
            focusCurrentTab("frontOfficeManagerFaqAdminAID","frontOfficeManagerFaqAdminliId");
          //focusStudentHeaderBox();
});



$(document).on("click", ".delete-faq-btn", function(e){
     e.preventDefault();
      var myID =$(this).attr('id');
      var Id=myID.split("-");
                var retVal = confirm("Are you sure to delete?");
                if(retVal){
                  //  alert(retVal);
                     var urlLink = "/front_office_management/faq_delete/"+Id[0];
                      $.ajax({
                        url: urlLink ,
                        cache: false,
                        success: function(html){
                            window.location.reload();
                        }
                    });

                }else{
                   // alert(retVal);     
                   return false;
                }
        }); 






$(document).on("click", ".show-faq-btn", function(e){
        var myID =$(this).attr('id');
        var Id=myID.split("-");
        var urlLink = "/front_office_management/faq_show/"+Id[0];
        window.location = urlLink;
        // $.ajax({
        //     url: urlLink ,
        //     cache: false,
        //     success: function(html){
        //           $('#showFaqDIVID').dialog({
        //             modal: true,
        //              minHeight: '200px',
        //             width: 'auto',
        //             title: "Show Faq",
        //             open: function () {
                        
        //                 $(this).html(html);
        //             }
        //         }); 
               
        //     }
        // });
});


$(document).on("click", ".edit-faq-btn", function(e){
        var myID =$(this).attr('id');
        var Id=myID.split("-");
        var urlLink = "/front_office_management/faq_edit/"+Id[0];
        window.location = urlLink;

        // $.ajax({
        //     url: urlLink ,
        //     cache: false,
        //     success: function(html){
        //           $('#editFaqDIVID').dialog({
        //             modal: true,
        //              minHeight: 'auto',
        //             minWidth: '250px',
        //             title: "Edit FAQ",
        //             open: function () {
                        
        //                 $(this).html(html);
        //             }
        //         }); 
               
        //     }
        // });
});

$(document).on("click", ".new-add-faq", function(e){
        var urlLink = "/front_office_management/faq_new";
        window.location=urlLink;
        // $.ajax({
        //     url: urlLink ,
        //     cache: false,
        //     success: function(html){
        //           $('#newAddFaqDIVID').dialog({
        //             modal: true,
        //              minHeight: 'auto',
        //             minWidth: '250px',
        //             title: "Add FAQ",
        //             open: function () {
        //                 $(this).html(html);
        //             }
        //         }); 
               
        //     }
        // });
});
</script>
<style>


.table-batchs-tbl {
   /* font-family: verdana,arial,sans-serif;*/
    font-size:13px;
    color:#363131;
    border-width: 1px;
    border-color:  #363131;
    border-collapse: collapse;
    padding: 12px ;
    font-size: 0.8em;
    width: 261px !important;
    /* margin-left: 2px; */
}
</style>


