<%= form_for :financial_manager, url: change_front_office_manager_password_path, :html => {
                            :id => 'financialChangePasswordFormID' } do |f| %>
  <%= f.hidden_field :user_id, :value => @front_office_obj.id %>
  <%#= hidden_field_tag "change_financial_password", params[:change_financial_password] %>
  <%#= f.label :Current_Password ,:class=> "mg-label"%><!-- <span class="required-field">&nbsp;*</span><div id="feedbackcurrentdivId"></div> -->
  <%#= f.password_field :name ,:class=>"mg-text-field" %>
 

  <!--================validating current password===================-->
  <% if flash[:notice] %>
    <span style="color:red;font-weight: normal;  position: relative; top: -12px;"> <%= flash[:notice] %>
  <% end %>
  <!--================validating current password===================-->


  <p>
    <%= f.label :New_Password ,:class=> "mg-label"%><span class="required-field">&nbsp;*</span><br>
   <%= f.password_field :password,:class=>"mg-text-field",:id=>"newEmployeePassword" %>
  </p>
  <div id="employeefeedbackdivId" style="color:#ff0000"></div>
  <p>
    <%= f.label :Retype_Password ,:class=> "mg-label"%><span class="required-field">&nbsp;*</span><br>
   <%= f.password_field :hashed_password ,:class=>"mg-text-field",:id=>"reEmployeePassword" %>
  </p>
 
  <p class="mg-p-mgtop">
    <a onclick="$(this).closest('form').submit()" id="submitbutton" class="submit mg-change-password-form-btn mg-small-form-btn"><%=t("save")%></a>
   
    <a class="mg-small-form-btn cancel-form-dialog"><%=t("cancel")%></a>
  </p>
<% end %>




<script>
$(document).ready(function(){
  $("#reEmployeePassword").focusout(function(){
    
    var temp=$("#newEmployeePassword").val();
    var tempo=$(this).val();
    if(temp==tempo)
    {

    }
    else
    {
      $("#employeefeedbackdivId").text("Password doesn't matches..");
    }
  });

  $("#financialChangePasswordFormID").validate({
    rules: {
    "financial_manager[name]": {required: true},
    "financial_manager[password]": {required: true},
    "financial_manager[hashed_password]": {required: true}
    }
  });
});

</script>

