<% navigation_add t('transport_booking'), :controller=>'front_office_management' ,:action=> 'transport_booking_index' %>

<% navigation_add t('add_transport_booking'), :controller=>'front_office_management' ,:action=> 'transport_booking_new' %>

<%=render partial: 'front_office_management_left'%>
<h4 class="mg-h4"><%=t('add_transport_booking')%></h4>

<%= form_for :transport_booking_type ,:url=> {:action=>'transport_booking_create' }, :html=> 
			 { :id=> 'transport_booking_id' } do |f| %>
<table cellspacing="0" cellpadding="0" border="0" class="employee-form-cls mg-table-spacing">

<%= f.hidden_field :is_deleted, :value => 0 %>
<%= f.hidden_field :mg_school_id, :value => session[:current_user_school_id] %>
<%= f.hidden_field :created_by, :value => session[:user_id] %>
<%= f.hidden_field :updated_by, :value => session[:user_id] %>
<tr><td width="33%" valign="top">
<!-- <p> -->
	<%= f.label :date_of_booking, t("date_of_booking") ,:class=>"mg-label mg-rm-text-trans"%><span class="required-field"> *</span><br>
    <%= f.text_field :date_of_booking, :class=> 'date_of_booking mg-text-field' %>
<!-- </p> -->
</td>
<td width="33%" valign="top">
<!-- <p> -->
	<%= f.label :transport_time, t("transport_time") ,:class=>"mg-label"%><span class="required-field"> *</span><br>
    <%= f.text_field :transport_time, :class=> 'transport_time mg-text-field' %>
<!-- </p> -->
</td></tr>
<tr><td width="33%" valign="top">
<!-- <p> -->
	<%= f.label :place_from, t("place_from") ,:class=>"mg-label"%><span class="required-field"> *</span><br>
    <%= f.text_field :place_from, :class=> 'place_from mg-text-field' %>
<!-- </p> -->
</td>
<td width="33%" valign="top">
<!-- <p> -->
	<%= f.label :place_to, t("place_to") ,:class=>"mg-label"%><span class="required-field"> *</span><br>
    <%= f.text_field :place_to, :class=> 'place_to mg-text-field' %>
<!-- </p> -->
</td></tr>
<tr><td width="33%" valign="top">
<!-- <p> -->
	<%= f.label :way_mode, t('way_mode') ,:class=>"mg-label"%><span class="required-field"> *</span><br>
    <%= f.select :way_mode,options_for_select([['One Way','one way'],['Two Way','two way']])%>
<!-- </p> -->
</td>
<td width="33%" valign="top">

<!-- <p> -->
	<%= f.label :mg_employee_category_id, t("booked_by") ,:class=>"mg-label"%><span class="required-field"> *</span><br/>
 
  <%= f.collection_select(:mg_employee_category_id,MgEmployeeCategory.all, :id, :category_name,{:include_blank => t("Choose Category")},:onchange => "bookedbySelect()",:id => "bookedbySelectID")%>
<!-- </p> -->
</td></tr>
<tr><td width="33%" valign="top">
<!-- <p> -->
  <label class="mg-label"  for="currentInsuranceDueDate"><%= t ('employee_profile') %><span class="required-field">&nbsp;*</span></label><br/>
      
   <div id="profile_id_data">
      <%= select_tag :mg_employee_position_id_data,options_for_select([]),:prompt=>"Choose Profile"%>
   </div>
       
<!-- </p> -->
</td>
<td width="33%" valign="top">
<!-- <p> -->
  <label class="mg-label"  for="currentInsuranceDueDate"><%= t ('select_employee') %><span class="required-field">&nbsp;*</span></label><br/>
      
	<div id="mg_employee_data_for_fom">
           <%= select_tag :mg_employee_id_data,options_for_select(["Choose Employee"]),{:prompt=>"Choose Employee" }%>
    </div>
<!-- </p> -->
</td></tr>
<tr><td width="33%" valign="top">
<!-- <p> -->
	<%= f.label :purpose, t("purpose") ,:class=>"mg-label"%><span class="required-field"> *</span><br>
    <%= f.text_area :purpose,:class=>'mg-text-field'%>
<!-- </p> -->
</td>
<td width="33%" valign="top">
<!-- <p> -->
	<%= f.label :status_data, t("status") ,:class=>"mg-label"%><span class="required-field"> *</span><br>
    <%= f.select :status,options_for_select([['Pending','pending'],['Accepted','accepted'],['Rejected','rejected']]),{},
    {:disabled=>true}%>
    <%=f.hidden_field :status,:value=>"pending"%>
<!-- </p> -->
</td></tr>
<tr><td width="33%" valign="top">
<!-- <p> -->
  <%= f.label :remark, t("remark") ,:class=>"mg-label"%><span class="required-field"> </span><br>
  <%= f.text_area :remark,:readonly=>true,:class=>'mg-text-field' %>
<!-- </p> -->
</td></tr>
<tr><td width="33%" valign="top">
<p class="mg-p-mgtop">
    <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn"><%=t("save")%></a>
    <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
</p>
</td></tr></table>

<% end %>

<%= render  partial: 'application/common_left_close' %>



<script type="text/javascript">
	$(document).ready(function () {
        focusCurrentTab("transport_bookingAID","transport_bookingLiID");

          $("#transport_booking_id").validate({

          rules: { 
          "transport_booking_type[date_of_booking]": {required: true},
          "transport_booking_type[transport_time]" : {required: true},
          "transport_booking_type[place_from]": {required: true},
          "transport_booking_type[place_to]": {required: true},
          "transport_booking_type[way_mode]"     : {required: true},
          "transport_booking_type[mg_employee_category_id]": {required: true},
          "mg_employee_position_id_data": {required: true},
		      "mg_employee_id_data": {required: true},       
	        "transport_booking_type[purpose]": {required: true},
          "transport_booking_type[status]": {required: true},
            }
        });
     });

	dateFormatStr =  getJsDateFormat();
      $(".date_of_booking" ).datepicker({ changeMonth: true,
                changeYear: true,yearRange: "-50:+50",dateFormat: dateFormatStr });

      $("#transport_booking_type_transport_time").timepicker({ 'scrollDefault': 'now' });

      
	function bookedbySelect(){
        var empCategoryID = $( "#bookedbySelectID" ).val();
        var book_data = $( "#guest_room_booking_type_book_id_data" ).val();
         
       if(empCategoryID > 0) {
  
           var urlLink = "/front_office_management/employee_position_list/"+empCategoryID;
          	$.ajax({
             url: urlLink,
             cache: false,
             success: function(data){
                $("#profile_id_data").empty().append(data);
              }
           });
  		}
  	}
 
		function profileSelect(){
		    var empProfileID = $("#mg_employee_position_id").val();
		    var urlLink = "/front_office_management/employee_list/";
		         $.ajax({
		             url: urlLink,
		             cache: false,
		             data: {"emp_profile_id": empProfileID},
		             success: function(data){
		                    $("#mg_employee_data_for_fom").empty().append(data);
		               }
			     });
		}	



</script>