<% navigation_add t('generate_payslip'), :controller=>'payslips', :action=>"generate_payslip"%>
<%=render partial: 'payslip_left'%>


 <h4 class="mg-h4"><%=t('generate_payslips')%></h4>
<label class="mg-label mg-tt-width "><%=t('select_department')%><span class="required-field">*</span></label>
<%=select_tag :mg_employee_department, options_for_select(@department),:prompt=>t('select'),:class=>"mg-select-btn"%><br>



<label class="mg-label mg-tt-width "><%=t('select_employee')%><span class="required-field">*</span></label>
<%=select_tag :mg_employee_id_for_payslip,:class=>"mg-select-btn"%><br>
<%#employee=MgEmployee.find()%>

<div id="hideAndShowYearMonthDIVID" style="display:none">
	<label class="mg-label mg-tt-width "><%=t('select_year')%><span class="required-field">*</span></label>
	<%=select_year(Date.today, start_year: Time.now.year-20, end_year: Time.now.year, :field_name => 'grad_year')%><br>

	<label class="mg-label mg-tt-width "><%=t('select_month')%><span class="required-field">*</span></label>
	<%=select_month(Date.today) %>
    <label id="selectMonthPayslipErrorLID" class="error" for="select_month"></label><br>
<p class="mg-p-mgtop">
	<button id="generatePayslipsDIVID" class="mg-small-form-btn"><%=t('generate_payslips')%></button>
</p>
</div>

<div id="payslipPresHowDIVID"></div>


<%= render partial: 'application/common_left_close' %>

<script type="text/javascript">

  $(document).ready(function(){


     $("li").removeClass( "active" );
        $("a").removeClass( "activeMenu" );

        $("#viewGeneratePayslipsLiID").addClass( "active" );
        $("#viewGeneratePayslipsAID").addClass( "activeMenu" );

         focusPaySlip();

        var d = new Date().getMonth()+1;
        var select_year=$("#date_grad_year").val();
  
        var month_json={1: "January", 2: "February", 3: "March", 4:"April", 5: "May",6:"June",7:"July",8:"August",9:"September",10:"October",11:"November",12:"December" };
        var month_str='<option value="">Select</option>';
        for(var i=1; i<=d;i++){
            if(i !=d){
                month_str +='<option value="'+i+'">'+month_json[i]+'</option>';
            }else{
                month_str +='<option value="'+i+'" selected="selected">'+month_json[i]+'</option>';
        }

     }
        $("#date_month").empty().html(month_str);
         
   });

function findMonthCount(month_count){
    var month_json={1: "January", 2: "February", 3: "March", 4:"April", 5: "May",6:"June",7:"July",8:"August",9:"September",10:"October",11:"November",12:"December" };

    var month_str='<option value="">Select</option>';
    for(var i=1; i<=month_count;i++){
        if(i !=month_count){
            month_str +='<option value="'+i+'">'+month_json[i]+'</option>';
        }else{
            month_str +='<option value="'+i+'" selected="selected">'+month_json[i]+'</option>';
        }
    }
return month_str;
}



$(document).on("change", "#date_grad_year", function(e){
    e.preventDefault();
    $("#payslipPresHowDIVID").empty();
    
    var select_year=$("#date_grad_year").val();
    var date=new Date();
    var current_year = date.getFullYear();
    var month_str='';
    var month_count;
    if(select_year==current_year){
        month_count=date.getMonth()+1;
        month_str=findMonthCount(month_count);
    }else{
        month_count=12;
        month_str=findMonthCount(month_count);
   }

    $("#date_month").empty().html(month_str);
});

$(document).on("change", "#mg_employee_id_for_payslip", function(e){
    e.preventDefault();
    $("#payslipPresHowDIVID").empty();
    if(!$("#mg_employee_id_for_payslip").val()==''){
            $("#hideAndShowYearMonthDIVID").show();
        }else{
            $("#hideAndShowYearMonthDIVID").hide();
        }
});





$(document).on("click", "#generatePayslipsDIVID", function(e){
    e.preventDefault();

	 var mg_employee_id=$("#mg_employee_id_for_payslip").val();
	 var date_grad_year=$("#date_grad_year").val();
	 var date_month=$("#date_month").val();
     if (date_month==''){
         document.getElementById('selectMonthPayslipErrorLID').innerHTML = 'This field is required.';
     }else{
        document.getElementById('selectMonthPayslipErrorLID').innerHTML = '';

     }
var urlLink = "/payslips/payslips_for_employee/";
        $.ajax({
            url: urlLink ,
            cache: false,
            data:{
            	mg_employee_id: mg_employee_id,
            	date_grad_year: date_grad_year,
            	date_month: date_month
            },
            success: function(html){
            	$("#payslipPresHowDIVID").empty();
            	$("#payslipPresHowDIVID").append(html);
            }
        });
});


$(document).on("change","#date_month", function(e){
    e.preventDefault();
     $("#payslipPresHowDIVID").empty();
});





  $("#date_month").change(function(){
        document.getElementById('selectMonthPayslipErrorLID').innerHTML = '';
    });
</script>
