<table class="batch-tbl">
	<tr>
		<th><%=t('sl_no')%></th>
		<th><%=t('leave_type')%></th>
		<th><%=t('unpaid_leaves')%></th>

		
	</tr>
	<%count=0
	extra_leave=0.0%>
	<% if @leave_details[0].present?%>
		<%@leave_details[0].each do |leave_details|%>
			<tr>
				<td><%=count+=1%></td>
				<td><%=leave_details["leave_type"]%></td>
				<td>
					<%if leave_details['extra_leave_taken'].to_f>0.0%>
					  <%extra_leave +=leave_details['extra_leave_taken'].to_f%>
	                  <%= leave_details['extra_leave_taken'].to_f%>

	                  <%else%>
	                  0.0
	                  <%end%>
				</td>
			</tr>
		<%end%>
	<%end%>
	

	<tr>
		<td colspan="2"> <label class="mg-label mg-label-width "><%=t('total')%></label></td>
		<td><label class="mg-label mg-label-width "><%=extra_leave.to_f%> Days</label></td>
	</tr>
</table>
<p class="mg-p-mgtop">
	<a class="mg-small-form-btn cancel-form-dialog"><%=t('cancel')%></a>
</p>