<%= render  partial: 'transport_left' %>

<% navigation_add 'Transport', transports_path %>
<% navigation_add  'New', transports_new_path %>


   <%if flash[:error].present?%>
  <div class="alert alert-info mg-success-msg">

        <%=flash[:error]%>
  <div class="alert alert-info mg-success-msg">
        
   <%end%>
<h4 class="mg-h4"><%= t('New Pickup/Drop Point')%></h4>
<div class="box">
<%= form_for :transport_time,  :url=>{:controller=>'transports',:action=>'transport_time_management_create'}, :html=>{:id=>'route_form_fortransport'} do |f| %>

        <%= f.hidden_field :is_deleted ,:value=>0%>
        <%= f.hidden_field :mg_school_id ,:value=>@school_id%>
        <%#= f.text_field :vehicle_number ,:class=>"mg-text-field"%>
        
<table class="mg-tbl-margin mg-show-tbl-width">
    <tr>
      <td class="mg-td-width-one-third">
        <label class="mg-label" for="selectRoute"><%= t ('select_route') %><span class="required-field">&nbsp;*</span></label><br/>
        <%
 			transport_data=MgTransport.where(:is_deleted=>0,:mg_school_id=>@school_id).pluck(:route_name,:id)
        %>
        <%=f.select :mg_transport_id ,options_for_select(transport_data),:prompt=>"Select"%><br>
        <%#= f.text_field :route_name ,:class=>"mg-text-field"%>
      </td>
    </tr>
    <tr>
      <td class="mg-td-width-one-third">
        <label class="mg-label"  for="busStopName"><%= t ('bus_stop_name') %><span class="required-field">&nbsp;*</span></label><br/>
        <%= f.text_field :bus_stop_name ,:class=>"mg-text-field"%>
      </td>
    </tr>

    <tr>
      <td>
        <label class="mg-label" for="pickUpTime"><%= t ('pick_up_time') %><span class="required-field">&nbsp;*</span></label><br/>
     <%=time_select 'pick_up_time','game_time',{ampm: true},:class=>"mg-select-time-width"%><br>
      </td>
    </tr>

    <tr>
      <td>
        <label class="mg-label" for="dropTime"><%= t ('drop_time') %><span class="required-field">&nbsp;*</span></label><br/>
     <%=time_select 'drop_time','game_time',{ampm: true},:class=>"mg-select-time-width"%><br>
      </td>
    </tr>
    
</table>
  
 <br/>
 <p class="mg-p-mgtop">
<%= submit_tag t("save"),:class=>"transport_class mg-small-form-btn",:style=>"display:none"%>

<input type="button" value="Submit" id="submittransporteFormBtnId" class="addtransportSaveBtn mg-small-form-btn">


 <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"} %>

</p>
  </div>
<%end%>
 
<script>
    $(document).ready(function(){

   focusCurrentTab("transport_pickup_drop_managementAssociateAID","transport_pickup_drop_managementAssociateLiID");
       
   
    $("#route_form_fortransport").validate({
      rules:{
        "transport_time[mg_transport_id]":{required:true},
        "transport_time[bus_stop_name]":{required:true},
        "pick_up_time[game_time(4i)]":{required:true},
        "pick_up_time[game_time(5i)]":{required:true},
        "drop_time[game_time(4i)]":{required:true},
        "drop_time[game_time(5i)]":{required:true}
      
      },
     });
     });

$(document).on("click",".addtransportSaveBtn",function(){
    
   
    var start_time_hour=$("#pick_up_time_game_time_4i").val();
    var start_time_min=$("#pick_up_time_game_time_5i").val();
    var start_time=start_time_hour+":"+start_time_min+":00";
    var end_time_hour=$("#drop_time_game_time_4i").val();
    var end_time_min=$("#drop_time_game_time_5i").val();
    var end_time=end_time_hour+":"+end_time_min+":00";
    var school_id=$("#mg_school_id").val();
    if(end_time < start_time){
      alert("End Time should be greater than Start Time");
    }
    else{
        $(".transport_class").click(); 

    }
   
  });
</script>



<%=render partial: 'transport_left_close'%>
