



<table border="1" class="mg-showdata-bg mg-tbl-layout batch-tbl" cellspacing="1" cellpadding="1">
    <tr>
      <th class="mg-td-width-half" valign="top"><%=t('grade_name')%></th>
      <th class="mg-td-width-half" valign="top" colspan="2"><%= @employee_grade.grade_name %></th>
    </tr>
<!-- </table> -->
<tr><td colspan="3">  &nbsp;</td></tr>
<!-- <table border="1" class="mg-showdata-bg mg-tbl-layout batch-tbl" cellspacing="1" cellpadding="1"> -->

  <tr><th><%=t('components')%></h4></th><th><%=t('amount')%></th><th><%=t('applicable')%></th></tr>
  <%@salary_components.where(:is_deduction=>false ).each do |salary_components|%>
    <tr>
      <td class="mg-td-width-half"><label class="mg-label mg-pop-up-label-width"><%=salary_components.name%></label></td>
      <%@value=@employee_grade.mg_grade_components.find_by(:is_deleted=>0, :mg_salary_component_id=>salary_components.id)%>
      <td class="mg-td-width-half"><%= @value.present? ? @value.amount : 0.0%></td>
       <td><%=@value.is_applicable.present? ? "Yes" : "No"%></td>
    </tr>
  <%end%>


  <tr><th><%=t('deduction')%></h4></th><th><%=t('amount')%></h4></th><th><%=t('applicable')%></th></tr>
  <%@salary_components.where(:is_deduction=>true ).each do |salary_components|%>
    <tr>   
      <td class="mg-td-width-half"><label class="mg-label mg-pop-up-label-width"><%=salary_components.name%></label></td>
      <%@value=@employee_grade.mg_grade_components.find_by(:is_deleted=>0, :mg_salary_component_id=>salary_components.id)%>
      <td class="mg-td-width-half"><%= @value.present? ? @value.amount : 0.0%>
      </td>
      <td><%=@value.is_applicable.present? ? "Yes" : "No"%></td>
    </tr>
  <%end%>
    
  </table>
 <p class="mg-p-mgtop">
  <a  class="mg-small-form-btn cancel-form-dialog"><%=t("cancel")%></a>
</p>

