<!-- Sec --> 

 <%= form_for :hostel_fees, :url=>{:controller=>"canteen_managements",:action=>"canteen_fee_category_create"}, :html => {
                            :id => 'canteenCategoryCreateFormId', :class => 'elm_class',
                            :style => 'elm_style' } do |f| %>


  <div> 
<%= f.hidden_field :mg_school_id, :value=> session[:current_user_school_id]%>
      <p>
        <%= f.label :name ,:class=>"mg-label"%><span class="required-field"> *</span><br>
        <%= f.text_field :name ,:class=>"mg-text-field"%>
      </p>
     
      <p>
        <%= f.label :description ,:class=>"mg-label"%><br>
        <%= f.text_area :description ,:class=>"mg-text-field"%>
      </p>
<p>

<div id="finalDueFineDivId" >
                  
                    <div class="due-fine-div" id="dueFineDivId">
                      <%= render :partial => "canteen_particular",:locals => {:dueFine => "dueFine"} %>
                      <a  title="Remove" class="remove-fine-due-cls mg-icon-btn" style="color: #297ACC; font-size:0.8em;"> <i class="fa fa-trash"></i></a>
                      
                    </div>
                  </div>
                  <a  id="addDueFineId" class="mg-label-inner-form mg-custom-form-btn" style="color: #297ACC; font-size:0.8em; position: relative; top: 3px;" >Add Particular</a> <br/>
                  

</p>
  


        <div id="delete" style="display:none;">
      <p>

      <%= f.label :is_deleted, "Is Active" ,:class=>"mg-label"%><br />
        <label for="is_deleted" class="mg-label-inner-form "><%=t('active')%></label>

        <%= f.radio_button :is_deleted, false , :checked => true%>
         <label for="is_deleted" class="mg-label-inner-form "><%=t('inactive')%></label>


        <%= f.radio_button :is_deleted, true %>
      </p>
      </div>

      <br/>
      <p>
      <%= f.submit t('save') ,:class=>"mg-small-form-btn"%>
       <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
       </p>

  </div>



















<div style="display:none;"> 
<div style="float:left;width:50%"> 


    <label class="mg-label"><%=t('select')%> <%=t('coursebatchname')%></label><br/>

    <label class="mg-label"><%=t('select')%></label> <a href="#" id="checkAllCheckBoxInFeeCategoryId" class="mg-pop-link"><%=t('all')%></a>
    <a href="#" id="unCheckAllCheckBoxInFeeCategoryId" class="mg-pop-link"><%=t('none')%></a>
    <div class="mg-scroll-bar">
      <%@feesquery.each do |d|%>
        <input id="item_selected_batches" class="auto-ckeckbox-fee-category-batch-cls" name="selected_batches[]"
              type="checkbox" value="<%=raw d[1]%>" />
        
        <%@course=MgCourse.select(:course_name).find_by_id(d[2])%>
        <%if@course!=nil%>
          <%= @course.course_name %> - <%=d[0]%><br/> 
        <%else%>
          <%=d[0]%><br/> 
        <%end%>
      <% end %>
    </div>

</div> 
</div>

<% end %>


<style type="text/css">
  .mg-scroll-bar{
      width: 200px;
      height: 157px;
      overflow: scroll;
  }
</style>

<script>
  $(document).ready(function(){

    $("#canteenCategoryCreateFormId").validate({
      rules: 
      {
          "hostel_fees[name]": {required: true},
          "particulars[]": {required: true}
         
      }
    });


  });
</script>

