<%= form_for :canteen_manager_change_password, :url=>session[:user_type]=='admin' ? 'canteen_manager_change_password' : '/canteen_managements/change_password_by_canteen_manager', :html => {:id => 'canteenManagerChangePasswordFormID' } do |f| %>                 

  <%= f.hidden_field :user_id, :value => @canteen_manager.id %>
  <%= hidden_field_tag "password_changed_by", session[:user_type] %>

  <%if session[:user_type]=="canteen_manager"%>  
    <%= f.label :Current_Password ,:class=> "mg-label"%><span class="required-field">&nbsp;*</span><div id="feedbackcurrentdivId"></div>
    <%= f.password_field :name ,:class=>"mg-text-field" %>
  <%end%>
  <p>
    <%= f.label :New_Password ,:class=> "mg-label"%><span class="required-field">&nbsp;*</span><br>
    <%= f.password_field :new_password,:class=>"mg-text-field",:id=>"newCanteenManagerPassword" %>
  </p>
  <div id="passwordfeedbackdivIds" style="color:#ff0000"></div>
  <p>
    <%= f.label :Retype_Password ,:class=> "mg-label"%><span class="required-field">&nbsp;*</span><br>
    <%= f.password_field :re_type_password ,:class=>"mg-text-field",:id=>"reCanteenManagerPassword" %>
  </p>
  <p class="mg-p-mgtop">
   <a onclick="$(this).closest('form').submit()" id="submitbutton" class="submit mg-change-password-form-btn mg-small-form-btn"><%=t("save")%></a>
    <a class="mg-small-form-btn cancel-form-dialog"><%=t("cancel")%></a>
  </p>
<% end %>

<script>
  $(document).ready(function(){
    $("#reCanteenManagerPassword").focusout(function(){
      var new_password=$("#newCanteenManagerPassword").val();
      var retype_password=$(this).val();
      if(new_password==retype_password)
      {
        
      }
      else
      {
        $("#passwordfeedbackdivIds").text("Password doesn't matches..");
      }
    });

    $("#canteenManagerChangePasswordFormID").validate({
      rules: {
        "canteen_manager_change_password[name]": {required: true},
        "canteen_manager_change_password[new_password]": {required: true},
        "canteen_manager_change_password[re_type_password]": {required: true}
      }
    });
  });
</script>