<%= render partial: 'canteen_management_left' %>
<% navigation_add t('balance_amount'), :controller=>'canteen_managements', :action=>'balance_amount' %>
<% navigation_add t('pay_balance_amount'), :controller=>'canteen_managements', :action=>'pay_balance_amount'%>

<h4 class="mg-h4"><%=t("pay_balance_amount")%></h4>

<%= form_for :pay_balance_amount, :url=>'/canteen_managements/update_balance_amount', :method=> "patch",:html => {:id => 'payBalanceAmountFormID'} do |f| %>
  
  <%if @bill_detail_object.present?%>
    <%= f.hidden_field :user_type, :value => @bill_detail_object.user_type %>
    <%= f.hidden_field :mg_batch_id, :value => @bill_detail_object.mg_batch_id %>
    <%= f.hidden_field :mg_student_id, :value => @bill_detail_object.mg_student_id %>
    <%= f.hidden_field :mg_employee_department_id, :value => @bill_detail_object.mg_employee_department_id %>
    <%= f.hidden_field :mg_employee_id, :value => @bill_detail_object.mg_employee_id %>
    <%#= f.hidden_field :id, :value => @canteen_bill_details.try(:id) %>
  <%end%>


  <label class="mg-label mg-tt-width" style=";"><%= t('select_user') %><span class="required-field">&nbsp;*</span></label>&nbsp;
  <%if @bill_detail_object.present?%>
    <%= f.select :user_type, options_for_select([[t("Select"), ""],[t("Student"), "student"], [t("Employee"), "employee"]],:selected=>@bill_detail_object.user_type),{},:disabled=>true%>
  <%else%>
    <%= f.select :user_type, options_for_select([[t("Select"), ""],[t("Student"), "student"], [t("Employee"), "employee"]],:selected=>""),{}%>
  <%end%>
  <br/>

  <div id="billDetailStudentDivId" class="studentDivClass" style=";">
    <%if @bill_detail_object.present?%>
      <label class="mg-label mg-tt-width" style=""><%= t('select') %> <%= t('semester') %><span class="required-field">&nbsp;*</span></label>
      <%= f.collection_select(:mg_batch_id,MgBatch.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]), :id, :course_batch_name,{:selected=>@bill_detail_object.mg_batch_id,:include_blank => t("select")},:class =>"mg-select-btn",:onchange=>"studentPaymentFunction(this.value)",:disabled=>true)%><br/>

      <label class="mg-label mg-tt-width" style=""><%= t('select_student') %><span class="required-field">&nbsp;*</span></label>
      <%= f.collection_select(:mg_student_id,MgStudent.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]), "id", "student_full_name",{:selected=>@bill_detail_object.mg_student_id,:include_blank => t("select")},:class =>"mg-select-btn",:onchange=>"studentPaymentDetailFunction(this.value)",:disabled=>true)%><br/>
    <%else%>
      <label class="mg-label mg-tt-width" style=""><%= t('select') %> <%= t('semester') %><span class="required-field">&nbsp;*</span></label>
      <%= f.collection_select(:mg_batch_id,MgBatch.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]), :id, :course_batch_name,{:selected=>"",:include_blank => t("select")},:class =>"mg-select-btn",:onchange=>"studentPaymentFunction(this.value)")%><br/>

      <label class="mg-label mg-tt-width" style=""><%= t('select_student') %><span class="required-field">&nbsp;*</span></label>
      <%= f.collection_select(:mg_student_id,MgStudent.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]), "id", "student_full_name",{:selected=>"",:include_blank => t("select")},:class =>"mg-select-btn",:onchange=>"studentPaymentDetailFunction(this.value)")%><br/>
    <%end%>
  </div>


  <div id="billDetailEmployeeDivId" class="employeeDivClass" style="display:none;">
    <%if @bill_detail_object.present?%>
      <label class="mg-label mg-tt-width" style=""><%= t('select') %> <%= t('department') %><span class="required-field">&nbsp;*</span></label>
        <%= f.collection_select(:mg_employee_department_id,MgEmployeeDepartment.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]), :id, :department_name,{:selected=>@bill_detail_object.mg_employee_department_id,:include_blank => t("select")},:class =>"mg-select-btn",:onchange=>"employeePaymentFunction(this.value)",:disabled=>true)%><br/>

      <label class="mg-label mg-tt-width" style=""><%= t('select_employee') %><span class="required-field">&nbsp;*</span></label>
      <%= f.collection_select(:mg_employee_id,MgEmployee.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]), "id", "employee_full_name_with_number",{:selected=>@bill_detail_object.mg_employee_id,:include_blank => t("select")},:class =>"mg-select-btn",:onchange=>"studentPaymentDetailFunction(this.value)",:disabled=>true)%><br/>
    <%else%>
      <label class="mg-label mg-tt-width" style=""><%= t('select') %> <%= t('department') %><span class="required-field">&nbsp;*</span></label>
        <%= f.collection_select(:mg_employee_department_id,MgEmployeeDepartment.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]), :id, :department_name,{:selected=>"",:include_blank => t("select")},:class =>"mg-select-btn",:onchange=>"employeePaymentFunction(this.value)")%><br/>

      <label class="mg-label mg-tt-width" style=""><%= t('select_employee') %><span class="required-field">&nbsp;*</span></label>
      <%= f.collection_select(:mg_employee_id,MgEmployee.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]), "id", "employee_full_name_with_number",{:selected=>"",:include_blank => t("select")},:class =>"mg-select-btn",:onchange=>"studentPaymentDetailFunction(this.value)")%><br/>
    <%end%>
  </div>

  <div id="balanceDetailsList"></div> 
  <div id="showBillHistoryDiveID"></div> 
  <div id="showBalancePaidHistoryID"></div> 



  <p class="mg-p-mgtop">
    <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn"><%=t("save")%></a>
    <!-- <a class="mg-small-form-btn cancel-form-dialog"><%#=t("cancel")%></a> -->
    <%= link_to t('cancel'), {:controller=>'canteen_managements',:action=>'balance_amount'}, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
  </p>
<% end %>

<%= render  partial: 'application/common_left_close' %>


<script>
  $(document).ready(function(){
    focusCurrentTab("canteenBalanceAmountAID","canteenBalanceAmountLID");

    pay_balance_user_type=$("#pay_balance_amount_user_type").val();

    if(pay_balance_user_type!=""){
      if(pay_balance_user_type=="employee"){
        $("#billDetailStudentDivId").hide();
        $("#billDetailEmployeeDivId").show();
        studentPaymentDetailFunction();
      }else{
        $("#billDetailEmployeeDivId").hide();
        $("#billDetailStudentDivId").show();
        studentPaymentDetailFunction();
      }
    }

    $("#payBalanceAmountFormID").validate({
      rules: {        
       "pay_balance_amount[user_type]": {required: true},
       "pay_balance_amount[mg_batch_id]": {required: true},
       "pay_balance_amount[mg_student_id]": {required: true},
       "pay_balance_amount[mg_employee_department_id]": {required: true},
       "pay_balance_amount[mg_employee_id]": {required: true}
      }
    });
    $.validator.addClassRules("total-paid-amount-cls", {required: true, number: true});
  });


  $(document).on("click",".show-bill-history-details-btn",function(e){   
    e.preventDefault();  
    var showID = $(this).attr('id');
    var id = showID.split("-"); 
    var urlLink = "/canteen_managements/show_bill_history/"+id[0];
    $.ajax({
      url: urlLink,
      cache: false,
      success: function(data){
        $("#showBillHistoryDiveID").dialog({
          model: true,
          height: 'auto',
          width: 'auto',
          title: "Bill History",
          open: function(){
            $(this).html(data);
          }
        })
      }
    })
  });

  $(document).on("click",".show-balance-paid-history-btn",function(e){   
    e.preventDefault();  
    var showID = $(this).attr('id');
    var id = showID.split("-");
    var urlLink = "/canteen_managements/balance_paid_history/"+id[0];
    $.ajax({
      url: urlLink,
      cache: false,
      success: function(data){
        $("#showBalancePaidHistoryID").dialog({
          model: true,
          height: 'auto',
          width: 'auto',
          title: "Balance Paid History",
          open: function(){
            $(this).html(data);
          }
        })
      }
    })
  });

  // ===========================================================================================

  $(document).on("change",".wallet-balance-check-amount-cls",function(e){
      var tempStatus=$(this).is(':checked');
      var totalBalanceAmount=$("#balance_amount_").val();
      if (tempStatus==true)
      {
        temWalletVal=$("#wallet_balance_amount_").val();
        temPaidVal=$("#paid_amount_").val();
        if (temPaidVal=="")
        {   
            if (parseInt(temWalletVal)<parseInt(totalBalanceAmount)){
            $("#paid_amount_").val(temWalletVal);
            $("#wallet_balance_amount_").val(0);
            }
            else{
              $("#paid_amount_").val(totalBalanceAmount);
              $("#wallet_balance_amount_").val(parseInt(temWalletVal)-parseInt(totalBalanceAmount));
            }
        }
        else{
            resultantVal=parseInt(temWalletVal)+parseInt(temPaidVal);
            if (parseInt(resultantVal)<parseInt(totalBalanceAmount)){
            $("#paid_amount_").val(resultantVal);
            $("#wallet_balance_amount_").val(0);
            }
            else{
              $("#paid_amount_").val(totalBalanceAmount);
              $("#wallet_balance_amount_").val(parseInt(resultantVal)-parseInt(totalBalanceAmount));
            }
        }
      }
      else
      {
        $("#wallet_balance_amount_").val($("#wallet_amount_value").val());
        $("#paid_amount_").val("");
      }


      if (  parseInt($("#paid_amount_").val()) < parseInt($("#balance_amount_").val())  )
      {
          $("#remaining_balance_amount_").val(parseInt($("#balance_amount_").val())-parseInt($("#paid_amount_").val()));
      }
      else{
          $("#remaining_balance_amount_").val(0);
      }
  });
  // ===========================================================================================





$(document).on("change","#paid_amount_",function(e){
  $(".wallet-balance-check-amount-cls").prop('checked', false);
  $("#wallet_balance_amount_").val($("#wallet_amount_value").val());
  if (  parseInt($("#paid_amount_").val()) < parseInt($("#balance_amount_").val())  )
  {
    $("#remaining_balance_amount_").val(parseInt($("#balance_amount_").val())-parseInt($("#paid_amount_").val()));
  }
});

</script>

