<table border="1" class="mg-showdata-bg" cellspacing="1" cellpadding="1" style="width: 440px;">
  <%if @canteen_bill_details.user_type=="student"%>
    <%student_detail=MgStudent.find_by(:id=>@canteen_bill_details.mg_student_id)%>
    <%student_or_employee_name=student_detail.try(:first_name) +" "+student_detail.try(:last_name)%>
    <%student_or_employee_number=student_detail.try(:admission_number)%>
    <%betch_obj=MgBatch.find_by(:id=>@canteen_bill_details.mg_batch_id)%>
    <%programme_or_department_name=betch_obj.try(:course_batch_name)%>
  <%else%>
    <%employee_detail=MgEmployee.find_by(:id=>@canteen_bill_details.mg_employee_id)%>
    <%student_or_employee_name=employee_detail.try(:first_name) +" "+employee_detail.try(:last_name)%>
    <%student_or_employee_number=employee_detail.try(:employee_number)%>
    <%dept_object=MgEmployeeDepartment.find_by(:id=>@canteen_bill_details.mg_employee_department_id)%>
    <%programme_or_department_name=dept_object.try(:department_name)%>
  <%end%>

  <tr>
    <td valign="top">
      <label class="mg-label"> <%= t('name')%></label>
    </td>
    <td valign="top">
       <%=student_or_employee_name%>
    </td>
  </tr>

  <tr>
    <td valign="top">
      <label class="mg-label"> <%= t('Admission/Employee Number')%></label>
    </td>
    <td valign="top">
       <%=student_or_employee_number%>
    </td>
  </tr>

  <tr>
    <td valign="top">
      <label class="mg-label"> <%= t('Semeste/Department')%></label>
    </td>
    <td valign="top">
       <%=programme_or_department_name%>
    </td>
  </tr>
</table>
<br/>
<div class="mg-scroll-employee-bar">
  <table class="mg-show-tbl-width batch-tbl mg-adjust-padding width-set-for-purchase-table">  
    <tr>
      <th colspan="4"><%=@canteen_bill_details.created_at.strftime("%d/%m/%y")%></th>
    </tr>  
    <tr>
      <th><label class="mg-label custome-mg-tt-width"><%= t('sl_no') %></label></th>
      <th style="width: 120px;"><label class="mg-label mg-tt-width" style="width:;"><%= t('food_item') %></label></th>
      <th style="width: 120px;"><label class="mg-label mg-tt-width" style="width:;"><%= t('quantity') %></label></th>
      <th style="width: 120px;"><label class="mg-label mg-tt-width" style="width:;"><%= t('total_price') %></label></th>
    </tr>
    <%count=0%>
    <%@bill_payment_detail.each do |payment_detail|%>
      <%food_item=MgFoodItem.find_by(:id=>payment_detail.mg_food_item_id)%>
      <%count=count+1%>
      <tr class="bill-detail-row-div-id">
        <td class="mg-align-center"><span class="incremented-field-text-cls"><%=count%></span></td>
        <td class="mg-align-center food-items-cls">
          <%= food_item.try(:item_name)%><br/>
        </td>
        <td class="mg-align-center quantites-cls">
          <%= payment_detail.try(:quantity)%><br/>
        </td>
        <td class="mg-align-center total-price-cls">
          <%= payment_detail.try(:amount)%><br/>
        </td>
      </tr>
    <%end%>
    <tr>
      <td colspan="2" class="mg-align-center"><b><%="Paid Amount"%></b>&nbsp;<%="="%>&nbsp;<%=@canteen_bill_details.try(:paid_amount)%></td>
      <td colspan="2" class="mg-align-center"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%="Total Amount"%></b>&nbsp;<%="="%>&nbsp;<%=@canteen_bill_details.try(:total_amount)%></td>
    </tr> 
  </table>
</div>

  <p class="mg-p-mgtop">
    <a class="mg-small-form-btn cancel-form-dialog"><%=t("cancel")%></a>
    <%#= link_to t('cancel'), {:controller=>'canteen_managements',:action=>'bill_detail'}, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
  </p>

<%= render  partial: 'application/common_left_close' %>


<script>
  // $(document).ready(function(){
  //   focusCurrentTab("canteenBillGenerateAID","canteenBillGenerateLID");
  // });
</script>

<style>
  .width-set-for-bill-detail-table {
    max-width: 64em !important;
  }
</style>