
<%= fields_for :employeechild do |f| %>
<!-- <#%= fields_for (language) do |f| %> -->

<%= f.hidden_field :is_deleted, :value => 0 %>
<%= f.hidden_field :mg_school_id, :value => session[:current_user_school_id] %>
<%= f.hidden_field :mg_user_id, :value => @student.mg_user_id %>
<%= f.hidden_field :created_by, :value => session[:user_id] %>
<%= f.hidden_field :updated_by, :value => session[:user_id] %>

            <div id="studentEmployeeChildDivId" class="Student-Employee-Child-Div-Class">
            <table width="100%" cellspacing="0" cellpadding="0" border="0" class="employee-form-cls mg-btn-bottom-margin">
                <tbody>
                        <tr>
                          <td valign="top" class="mg-td-width-34">
                            <label class="mg-label" for="employee_name" ><%= t('employee_name') %>
                            <span class="required-field">*</span> 
                            </label>
                          </td>
                          <td></td>
                          <td valign="top" class="mg-td-width-34">
                            <label class="mg-label" for="employee_type" ><%= t("employee_type") %>
                            <span class="required-field">*</span> 
                            </label>
                          </td>
                          <td></td>
                          <td valign="top" class="mg-td-width-34">
                            <label class="mg-label" for="employee_id" ><%= t("employee_id") %>
                            <span class="required-field"></span>
                            </label>
                          </td>
                      </tr>
                    <tr>
                        <td valign="top" class="mg-td-width-34">
                        <%= f.text_field :employee_name  ,:class => ' mg-text-field mg-emp-child-field'%>
                        </td>
                        <td></td>
                        <td valign="top" class="mg-td-width-34">
                         <%= f.select :employee_type, [ 'Teaching', 'Non-Teaching', 'Admin' ], {:include_blank => 'Select'} ,:class=>"mg-select-btn mg-emp-child-field"%>
                        </td>
                        <td></td>
                        <td valign="top" class="mg-td-width-34">
                         <%= f.text_field :employee_id  ,:class => ' mg-text-field mg-emp-child-field'%>
                        </td>
                    </tr>
                    <tr>
                     
                        <td valign="top" class="mg-td-width-34">
                            <label class="mg-label" for="joining_date" ><%= t("joining_date") %>
                              <span class="required-field"></span> 
                            </label>
                        </td>
                    </tr>
                      <tr>
                          <td valign="top" class="mg-td-width-34">
                             <%= f.text_field :joining_date  ,:class => ' mg-text-field joining_date mg-emp-child-field'%>
                          </td>
                          
                        
                          <td valign="top">
                                
                          </td>
                        
                          <td valign="top">
                             
                          </td>
                      </tr>
                    
                    </tbody>
                    </table>
                    </div>


      <%end%>
<!-- </div> -->
<script>
$(document).ready(function(){



  dateFormatSt =  getJsDateFormat();
      $( ".joining_date" ).datepicker({ changeMonth: true,
                changeYear: true,yearRange: "-50:+0",maxDate: "0",dateFormat: dateFormatSt });
});
</script>