<!-- Sec --> 
<section id="userBodyContentBox" style="margin: 0 auto;">
    <table width=100% border="0" cellspacing="0" cellpadding="0"  style="margin-bottom: 0px;">
        <tr>
            <td valign="top" class="userBodyContentBox1">
                <div class="userMenuBoxLeft" style="width: 210px;">
                    <ul class="menuListHome">

                        <li class="myAccountMenu mg-toggle-plus"><%= t('managestudent') %></li>
                        <div class="mg-left-sub-menu-title">
                            <li id="viewStudentListLiId">
                                <a class="menuItemsActivities" href="/students" id="viewStudentListAId">
                                    <div class="setMenu"><i class="fa fa-list">&nbsp;&nbsp;</i><%= t('studentlist') %><!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                    </div>
                                </a>
                            </li>
                            <li id="createNewStudentLiID">
                                <a class="menuItemsActivities" href="/students/new" id="createNewStudentAID" >
                                    <div class="setMenu"><i class="fa fa-plus-square-o">&nbsp;&nbsp;</i><%= t('createnewstudent') %><!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                    </div>
                                </a>
                            </li>

                            <!-- custom fields work in progress
                            <li >
                                <a class="menuItemsActivities" href="/students/custom_new/" id="createCustonFields">
                                    <div class="setMenu"><i class="fa fa-pencil">&nbsp;&nbsp;</i><%#= t('managecustumfields') %><i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px;"></i>
                                    </div>
                                </a>
                            </li>
                            end custom fields work -->
                        </div>
                      
                        <li class="myAccountMenu mg-toggle-plus"><%= t('manageguardian') %></li>
                        <div class="mg-left-sub-menu-title">
                            <li id="viewGuardiantListLiId">
                                <a class="menuItemsActivities" href="/guardians" id="viewGuardiantListAId">
                                    <div class="setMenu"><i class="fa fa-list">&nbsp;&nbsp;</i><%= t('guardianlist') %><!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->
                                    </div>
                                </a>
                            </li>
                        </div>
                    </ul>    

                </div>
            </td>
            <td  valign="top" id="manageStudentCategoryID" class="mg-table-td-main-2">

<script>
$( document ).ready(function() {
    collapseLeftMenu();
    focusStudentHeaderBox();
});
</script>