 <%= form_for :events, url: event_create_path, method: :post, :html => {
                            :id => 'newEventsFormID' } do |f| %>
<p>
    <%= f.label :Title, t('title') ,:class=>"mg-label"%><span class="required-field"> *</span><br>
    <%= f.text_field :title   %>
  </p>


   <p>
    <%= f.label :mg_event_type_id, t('eventtype') ,:class=>"mg-label"%><span class="required-field"> *</span><br>
    <%= f.collection_select(:mg_event_type_id, MgEventType.where(:is_deleted=>0), :id, :name,{:include_blank => 'Select Type'} ,:class=>"mg-select-btn")  %>
  
  </p>
   <p>
    <%= f.label :event_privacy, t('eventprivacy') ,:class=>"mg-label"%><span class="required-field"> *</span><br>  
   <%= f.select :event_privacy, options_for_select([["Public" ,"Public"],["Teacher" ,"Teacher"],["Admin","Admin"],["Parent","Parent"],["Student","Student"]], :prompt => 'Select') %>
  </p>
   <p>
    <%= f.label :event_description, t('eventdescription') ,:class=>"mg-label"%><span class="required-field"> *</span><br>
    <%= f.text_area :event_description  ,:class=>"mg-text-field" %>
  </p>
  
  
   

  <p>
    <table>
      <tr>
         <td><%= f.label :start_date, t('startdate') ,:class=>"mg-label"%><span class="required-field"> *</span></td>
        <td> <%= f.label :start_time, t('starttime') ,:class=>"mg-label"%><span class="required-field"> *</span> </td>
      </tr>
      <tr>
        <td><%= f.text_field :event_date, :value=>@date, :readonly => true, :id=>"clickDateID"%>
        </td><td><%= f.text_field :start_time  ,:class=>"mg-text-field"%></td>
      </tr>
    </table>
  </p>
  <p>
    <table>
      <tr>
         <td><%= f.label :end_date, t('enddate') ,:class=>"mg-label"%><span class="required-field"> *</span></td>
        <td><%= f.label :end_time, t('endtime') ,:class=>"mg-label"%><span class="required-field"> *</span></td>
      </tr>
      <tr>
        <td><%= f.text_field :end_date ,:class=>"mg-text-field"%></td><td> <%= f.text_field :end_time ,:class=>"mg-text-field"%></td>
      </tr>
    </table>
  </p>
 

<p>
  <%= f.label :is_deleted, t('isactive') ,:class=>"mg-label"%><br />
    <%= f.label :is_deleted,t('yes') ,:class=>"mg-label"%>
    <%= f.radio_button :is_deleted, false  , :checked => true %>
    <%= f.label :is_deleted,t('no') ,:class=>"mg-label"%>
    <%= f.radio_button :is_deleted, true%>
</p>
    

  <p>
    <%= f.submit  t('save') ,:class=>"mg-small-form-btn"%>
  </p>
<% end %>


<SCRIPT TYPE="text/javascript">

$(document).ready(function(){
  $('#events_start_time').timepicker({ 'scrollDefault': 'now' });
  $('#events_end_time').timepicker({ 'scrollDefault': 'now' });
 var date=$("#clickDateID").val();
 $( "#events_end_date" ).datepicker({  minDate: new Date(date), dateFormat: 'dd-mm-yy' });
  $("#newEventsFormID").validate({
  rules: {
  "events[title]": {required: true},
  "events[mg_event_type_id]": {required: true},
  "events[event_privacy]": {required: true},
  "events[event_description]": {required: true},
  "events[start_time]": {required: true},
  "events[end_time]": {required: true},
  "events[end_date]": {required: true}
  }
  });
});
</SCRIPT>
<!--  -->