<!-- Sec --> 
<%= render  partial: 'settings/setting_left' %>
<input type="button" value="Add New Role" id= "addRoleBtn" />
<div class="mg_pagination">
    <h4 class="mg-h4">Listing Actions</h4>

    <table class="batch-tbl" id='people_table'>
        <tr>
          <th>Role name</th>
          <th>Description</th>
          <th><%=t("actions")%></th>
        </tr>

        <% @mg_roles.each do |mg_role| %>
          <%= render partial: 'table_row', locals: {mg_role: mg_role} %>
        <% end %>
    </table>
    <br/>
    <div class="pagination-align">
      <%= will_paginate @mg_roles, :container => false %>
    </div>
    <br/>
   
</div>
<%= render  partial: 'application/common_left_close' %>
