<% navigation_add t('placement'), :controller=>'placements', :action=>'job_upload' %>

<%= render  partial: 'placements_left' %>
<% if @action=='new'%>
	<h4 class="mg-h4"><%=t('add_job_details')%></h4>
	<% navigation_add t('new_job'),:controller=>'placements',:action=>'job_upload_new' %>
<% else %>
	<h4 class="mg-h4"><%=t('edit_job_details')%></h4>
	<% navigation_add  t('edit_job_details'), :controller=>'placements', :action=>'job_upload_edit',:id=>params[:id] %>
<%end%>


<%= form_for :job_upload_type, :url=>@action=='new' ? 'job_upload_create' : '/placements/'+@job_upload.try(:id).to_s+'/job_upload_update', :method=> @action=='new' ? "post" : "patch" , :html => {:id => 'job_upload_id'} do |f| %>



<%= f.hidden_field :is_deleted, :value => 0 %>
<%= f.hidden_field :mg_school_id, :value => session[:current_user_school_id] %>
<%= f.hidden_field :created_by, :value => session[:user_id] %>
<%= f.hidden_field :updated_by, :value => session[:user_id] %>
<%= f.hidden_field :mg_user_id, :value => session[:user_id] %>

<table>

	<tr>
		<td class="mg-table-data-width">
			<%if session[:user_type]=="Company"%>
				<%= f.label :company, t('company') ,:class=>"mg-label"%>
			<% else %>
				<%= f.label :company, t('company') ,:class=>"mg-label"%><span class="required-field"> *</span>
			<%end%>
		</td>

		<td class="mg-table-data-width">
			<%if session[:user_type]=="Company"%>
				<%= f.label :company_website, t('company_website') ,:class=>"mg-label"%>
			<%  else %>	
				<%= f.label :company_website, t('company_website') ,:class=>"mg-label"%><span class="required-field"> *</span>
			<%end%>
		</td>
		
	</tr>

	<tr>
		<td>
			<%if session[:user_type]=="Company"%>

				<% company_data=MgPlacementRegistration.find_by(:mg_user_id=>session[:user_id])%>
				<%= f.text_field :company, :class=> 'mg-text-field',:readonly => "readonly",:value=>company_data.name_of_the_company%>
			<% else %>
				<% companies_data=MgPlacementRegistration.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id],:status=>"Active").pluck(:name_of_the_company,:id) %>
				<% if @action=='new'%>
					<%= f.select :company,options_for_select(companies_data),:prompt=> "Select"%>
				<% else %>
					<%= f.select :company,options_for_select(companies_data,:selected=>@job_upload.company),:prompt=> "Select"%>
				<%end%>
			<%end%>
		</td>
		<td class="mg-table-data-width">
			<%if session[:user_type]=="Company"%>
				<%= f.text_field :company_website, :class=> 'mg-text-field',:readonly => "readonly",:value=>company_data.company_website_url %>
			<%  else %>	
				<% if @action=='new'%>
					<%= f.text_field :company_website, :class=> 'mg-text-field' %>
				<% else %>
					<%= f.text_field :company_website, :class=> 'mg-text-field', :value=>@job_upload.company_website %><br>
				<%end%>
			<% end %>
		</td>


	</tr>




	<tr>
		<td class="mg-table-data-width">
			<%= f.label :position, t('position/designation') ,:class=>"mg-label"%><span class="required-field"> *</span>
		</td>
		<td class="mg-table-data-width">
			<%= f.label :job_id, "job Id" ,:class=>"mg-label"%><br>
		</td>
	</tr>

	<tr>
		<td class="mg-table-data-width">
			<% if @action=='new'%>
				<%= f.text_field :position  ,:class => 'mg-text-field'%><br>
			<% else %>
				<%= f.text_field :position  ,:class => 'mg-text-field', :value=>@job_upload.position%>
			<%end%>
		</td>
		<td class="mg-table-data-width">
			<% if @action=='new'%>
		   		<%= f.text_field :job_id, :readonly => "readonly", :class=>"mg-text-field",:value => @job_id%>
			<% else %>
		   		<%= f.text_field :job_id, :readonly => "readonly", :class=>"mg-text-field",:value => @job_upload.job_id%>
			<%end%>
		<%= tooltip '<i class="fa fa-question"></i>'.html_safe, { :tooltip => 'Job Id is auto generated. ' }, :class => 'mytooltip mg-icon-btn' ,:style=>"font-size: 0.85em;"%>
		</td>
	</tr>




<tr>
		<td class="mg-table-data-width">
			<%= f.label :job_description, t('job_description') ,:class=>"mg-label"%><span class="required-field"> *</span><br>
		</td>
		<td class="mg-table-data-width">
			<%= f.label :functional_area, t('functional_area') ,:class=>"mg-label"%><span class="required-field"> *</span><br>
		</td>
	</tr>

	<tr>
		<td class="mg-table-data-width">
			<% if @action=='new'%>
				<%= f.text_area :job_description, :class=> 'mg-text-field' %>
			<% else %>
				<%= f.text_area :job_description, :class=> 'mg-text-field' ,:value=>@job_upload.job_description%><br>
			<%end%>
		</td>
		<td class="mg-table-data-width">
			<% if @action=='new'%>
				<%= f.text_field :functional_area, :class=> 'mg-text-field' %>
			<% else %>
				<%= f.text_field :functional_area, :class=> 'mg-text-field', :value=>@job_upload.functional_area %><br>
			<%end%>
		
		</td>
</tr>




<tr>
		<td class="mg-table-data-width">
			<%= f.label :industry, t('industry') ,:class=>"mg-label"%>
		</td>
		<td class="mg-table-data-width">
			<%= f.label :job_location, t('job_location') ,:class=>"mg-label"%><br>
		</td>
	</tr>

	<tr>
		<td class="mg-table-data-width">
			<% if @action=='new'%>
				<%= f.text_field :industry, :class=> 'mg-text-field' %>
			<% else %>
				<%= f.text_field :industry, :class=> 'mg-text-field', :value=>@job_upload.industry %><br>
			<%end%>
		</td>
		<td class="mg-table-data-width">
			<% if @action=='new'%>
				<%= f.text_field :job_location, :class=> 'mg-text-field' %>
			<% else %>
				<%= f.text_field :job_location, :class=> 'mg-text-field', :value=>@job_upload.job_location %><br>
			<%end%>
		
		</td>
</tr>




<tr>
		<td class="mg-table-data-width">
			<%= f.label :edu_qual, t('educational_qualification') ,:class=>"mg-label"%><span class="required-field"> *</span>
		</td>
		<td class="mg-table-data-width">
			<%= f.label :min_exp, t('minimum_experience_required') ,:class=>"mg-label"%>
		</td>
	</tr>

	<tr>
		<td class="mg-table-data-width">
			<% if @action=='new'%>
				<%= f.text_field :edu_qual, :class=> 'mg-text-field' %>
			<% else %>
				<%= f.text_field :edu_qual, :class=> 'mg-text-field', :value=>@job_upload.edu_qual %><br>
			<%end%>
		</td>
		<td class="mg-table-data-width">
			<% if @action=='new'%>
				<%= f.number_field :min_exp, :class=> 'mg-text-field' %>
			<% else %>
				<%= f.number_field :min_exp, :class=> 'mg-text-field', :value=>@job_upload.min_exp %><br>
			<%end%>
		</td>
</tr>




<tr>
		<td class="mg-table-data-width">
			<%= f.label :technical_skills, t('technical_skills') ,:class=>"mg-label"%>
		</td>
		<td class="mg-table-data-width">
			<%= f.label :soft_skills, t('soft_skills') ,:class=>"mg-label"%>
		</td>
	</tr>

	<tr>
		<td class="mg-table-data-width">
			<% if @action=='new'%>
				<%= f.text_area :technical_skills, :class=> 'mg-text-field' %>
			<% else %>
				<%= f.text_area :technical_skills, :class=> 'mg-text-field', :value=>@job_upload.technical_skills %><br>
			<%end%>
		</td>
		<td class="mg-table-data-width">
			<% if @action=='new'%>
				<%= f.text_area :soft_skills, :class=> 'mg-text-field' %>
			<% else %>
				<%= f.text_area :soft_skills, :class=> 'mg-text-field', :value=>@job_upload.soft_skills %><br>
			<%end%>
		</td>
</tr>




<tr>
		<td class="mg-table-data-width">
			<%= f.label :salary, t('salary') ,:class=>"mg-label"%><span class="required-field"> *</span>
		</td>
		<td class="mg-table-data-width">
			<%= f.label :relevant_experience, t('relevant_experience') ,:class=>"mg-label"%>
		</td>
	</tr>

	<tr>
		<td class="mg-table-data-width">
			<% if @action=='new'%>
				<%= f.number_field :salary, :class=> 'mg-text-field' %>
			<% else %>
				<%= f.number_field :salary, :class=> 'mg-text-field', :value=>@job_upload.salary %><br>
			<%end%>
		</td>
		<td class="mg-table-data-width">
			<% if @action=='new'%>
				<%= f.text_field :rel_exp, :class=> 'mg-text-field' %>
			<% else %>
				<%= f.text_field :rel_exp, :class=> 'mg-text-field', :value=>@job_upload.rel_exp %><br>
			<%end%>
		</td>
</tr>




	<tr>
		<td class="mg-table-data-width">
			<%= f.label :referral_code, t('referral_code') ,:class=>"mg-label"%>
		</td>
		<td class="mg-table-data-width">
			<%= f.label :last_date_application, t("last_date_of_application") ,:class=>"mg-label mg-rm-text-trans"%><span class="required-field"> *</span>
		</td>
	</tr>

	<tr>
		<td class="mg-table-data-width">
			<% if @action=='new'%>
				<%= f.text_field :referral_code, :class=> 'mg-text-field' %>
			<% else %>
				<%= f.text_field :referral_code, :class=> 'mg-text-field', :value=>@job_upload.referral_code %><br>
			<%end%>	
		</td>
		<td class="mg-table-data-width">
			<% if @action=='new'%>

		    <%= f.text_field :last_date_application, :class=> 'last_date_application mg-text-field' %>
			<% else %>
		    	<%= f.text_field :last_date_application, :class=> 'last_date_application mg-text-field',:value=>@job_upload.last_date_application.strftime(@timeformat.date_format) %>
			<%end%>
		</td>
	</tr>



	<tr>
		<td class="mg-table-data-width">
			<%= f.label :interview_date, t("interview_date") ,:class=>"mg-label"%><span class="required-field"> *</span>
		</td>
		<td class="mg-table-data-width">
			<%= f.label :interview_location, t('interview_location') ,:class=>"mg-label"%>
		</td>
	</tr>

	<tr>
		<td class="mg-table-data-width">
			<% if @action=='new'%>
		    	<%= f.text_field :interview_date, :class=> 'interview_date mg-text-field' %>
		    <% else %>
		    	<%= f.text_field :interview_date, :class=> 'interview_date mg-text-field',:value=>@job_upload.interview_date.strftime(@timeformat.date_format) %>
		    <%end %>
		</td>
		<td class="mg-table-data-width">
			<% if @action=='new'%>
				<%= f.text_area :interview_location, :class=> 'mg-text-field' %>
			<% else %>
				<%= f.text_area :interview_location, :class=> 'mg-text-field',:value=>@job_upload.interview_location %><br>
			<%end%>
		</td>
	</tr>


	<tr>
		<td class="mg-table-data-width">
			<%= f.label :status_data, t("status") ,:class=>"mg-label"%><span class="required-field"> *</span>
		</td>
	</tr>

	<tr>
		<td class="mg-table-data-width">
			<% if @action=='new'%>
				<%= f.select :status,options_for_select([['Active','active'],['Inactive','inactive']]),{:prompt=>"Select"}%>
			<% else %>
				<%= f.select :status,options_for_select([['Active','active'],['Inactive','inactive']],:selected=>@job_upload.status),:prompt=> "Select"%>
			<%end%>
		</td>
	</tr>

</table>



<h4 class="mg-h4">Interview Rounds</h4>



<p>
	<% rounds_data=MgInterviewRound.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]).pluck(:name,:id) %>
	<% if @action=='new' %>
	 <table class="exam-rounds">
				<tr>
					<a id="addRound" class="mg-label-inner-form mg-custom-form-btn" style="color: #297ACC; font-size:0.8em; position: relative; top: -1px;" >Add Round</a>
				</tr>

				<tr class="rounds-div"> 
					
					<td>
						<%= f.label :round, t("round 1") ,:class=>"mg-label "%><span class="required-field">*</span>

	    				<%= select_tag "round[1]",options_for_select(rounds_data),{:class => 'round1 round_data',:prompt=>"Select"} %>
						 <br/>
					</td>
					<td>
						<a  title="Remove" class="remove-round mg-icon-btn" style="margin-left: 5px"> <i class="fa fa-trash" ></i></a>
					</td>
				</tr>
				<br>
	 </table>
	 <% else %>

	 <table class="exam-rounds">
			<tr>
				<a id="addRound" class="mg-label-inner-form mg-custom-form-btn" style="color: #297ACC; font-size:0.8em; position: relative; top: -1px;" >Add Round</a>
			</tr>

		<% (1..10).each do |i| %>
			 	<% if @job_upload.public_send("round#{i}").present? %>

			 <tr class="rounds-div"> 
				
				<td>
				    <label class="mg-label"> <%= "Round "+ i.to_s%></label>
				    <% round_data=MgInterviewRound.where(:id=>@job_upload.public_send("round#{i}")).pluck(:id)%>
				    <%= select_tag "round[1]",options_for_select(rounds_data,:selected=>round_data),{:prompt=>"Select",:class => 'round1 round_data'} %>

				</td>
				<td>
					<a  title="Remove" class="remove-round mg-icon-btn" style="margin-left: 5px"> <i class="fa fa-trash" ></i></a>
				</td>

			</tr>

	        <% end %>
		<% end %>
	 </table>

	 <% end %>
</p>


<p class="mg-p-mgtop">
    <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn"><%=t("save")%></a>
    <%= link_to t('cancel'), {:controller=>'placements',:action=>'job_upload'}, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
</p>

<%end%>

<%= render  partial: 'application/common_left_close' %>
<script>
  $( document ).ready(function() {
    focusCurrentTab("placementsJobUploadAID","placementsJobUploadLiID");
    reset_fun();
  });


  $("#job_upload_id").validate({

		rules: {
			"job_upload_type[position]": {required: true},
			"job_upload_type[job_description]": {required: true},
			"job_upload_type[functional_area]": {required: true},
			"job_upload_type[edu_qual]": {required: true},
			"job_upload_type[salary]": {number: true,required: true},
			"job_upload_type[last_date_application]": {required: true},
			"job_upload_type[interview_date]": {required: true},
			"job_upload_type[company]": {required: true},
			"job_upload_type[company_website]": {required: true},
			"job_upload_type[status]": {required: true},
			"round[1]": {required: true}
			}
	});

  dateFormatStr =  getJsDateFormat();

      $(".last_date_application" ).datepicker({ changeMonth: true,
                changeYear: true,yearRange: "-50:+50",minDate: "0",dateFormat: dateFormatStr });
      $(".interview_date" ).datepicker({ changeMonth: true,
                changeYear: true,yearRange: "-50:+50",minDate: "0",dateFormat: dateFormatStr });


	$(document).on("change","#job_upload_type_interview_date",function(){
		var dateFormatStr =  getJsDateFormat();
		var last_date=$("#job_upload_type_last_date_application").val();
		var interview_date=$(this).val();

		if(last_date && interview_date){
		  if(!(compareDate(last_date,interview_date,dateFormatStr))){
			alert("Interview Date should be greater than Last date of application");
			document.getElementById('job_upload_type_interview_date').value="";
		  }
		}
	});



   $(document).on("change","#job_upload_type_last_date_application",function(){
		var dateFormatStr =  getJsDateFormat();
		var last_date=$(this).val();
		var interview_date=$("#job_upload_type_interview_date").val();
		
		if(last_date && interview_date){
		  if(!(compareDate(last_date,interview_date,dateFormatStr))){
			alert("Last date of application should be less than Interview Date");
			document.getElementById('job_upload_type_last_date_application').value="";
		  }
		}
  });

   
   


      
$(document).on("click", "#addRound", function(e){
	var length=$('.remove-round').length;
	if(length<10){

	var lastRepeatingGroup = $('.rounds-div').last();
    
    var cloned = lastRepeatingGroup.clone();

    var str="round_"+($('.rounds-div').length+1);
    var str1="round["+($('.rounds-div').length+1)+"]"
    cloned.find("label").text("Round "+($('.rounds-div').length+1));

    cloned.find(".round1").prop('id',str );
    cloned.find(".round1").prop('name',str1 );
    cloned.find('a#addRound').remove();
    

    var round=$(".round1").length;
    console.log($(this).children());

    cloned.insertAfter( lastRepeatingGroup );
     cloned.find('select').val('');
    reset_fun();
	}
    return false;
  }); 


$(document).on("click", ".remove-round", function(e){
   var total = $('.remove-round').length;
   if(total!=1)
   {
        $(this).parent().parent().remove();
    }
    reset_fun();
   });

function reset_fun(){
	var count=1;
    $('.round1').each(function(){
    	$(this).attr('id',"round_" + count.toString() );
    	$(this).attr('name','round[' + count.toString() + ']' );
    	$(this).siblings("label").text("Round "+count.toString());
    	count++;
    });
   
}





</script>
