 <%= form_for :shortlist_students , url:student_selection_create_path ,:html => {:id => 'placement_TrainingID' } do |f| %>


<p>

    <%= f.label :select_company, t('select_company') ,:class=>"mg-label mg-rm-text-trans"%><span class="required-field"> *</span><br>
    
<%= f.collection_select(:mg_placement_registration_id, MgPlacementRegistration.where(:is_deleted=>0, :mg_school_id=>session[:current_user_school_id]), :id, :name_of_the_company,{:include_blank => 'Select'} ,:class=>"mg-select-btn" , :onchange=>"selectShortlistedStudentsForCompany(this.value);") %>
  </p>

  <p>

    <%= f.label :select_job_id, t('select_job_id') ,:class=>"mg-label mg-rm-text-trans"%><span class="required-field"> *</span><br>
    <%= f.collection_select(:mg_placement_job_upload,[], :id, :job_id,{:include_blank => 'Select'} ,:class=>"mg-select-btn")  %>

  </p>


  <p>

    <%= f.label :select_programme, t('select_programme') ,:class=>"mg-label mg-rm-text-trans"%><span class="required-field"> *</span><br>
   <%= f.collection_select(:mg_wing_id, MgWing.where(:is_deleted=>0, :mg_school_id=>session[:current_user_school_id]), :id, :wing_name,{:include_blank => 'Select'} ,:class=>"mg-select-btn" ,:onchange=>"selectSemesterShortlistedStudentsForCompany(this.value);")%>

  </p>
 <p>

    <%= f.label :select_semester, t('select_semester') ,:class=>"mg-label mg-rm-text-trans"%><span class="required-field"> *</span><br>
   <%=select_tag :mg_batch_id ,options_for_select([]),:prompt=>t('select'),:class=>"mg-select-btn",:onchange=>"selectRoundsBasedOnJobId(this.value);"%>

  </p>
  <p id="add_student_data_on_job_id"></p>
  <%= f.hidden_field :mg_school_id, :value => session[:current_user_school_id]%>
  <%= f.hidden_field :created_by, :value => session[:user_id]%> 
  <%= f.hidden_field :updated_by, :value => session[:user_id]%> 
  <%= f.hidden_field :is_deleted, :value => 0%>

<p class="mg-p-mgtop">
    <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn"><%=t("accept")%></a>
    <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
</p>
<%end%>
<script>


function selectShortlistedStudentsForCompany(data){
  var urlLink = "/placements/onchange_data";

  
          $.ajax({
              url: urlLink ,
              cache: false,
              data:{ 
                selecter: "company_job_id",
                id: data
              },
              success: function(data){

                  console.log("data   ~>  "+data.main);
                $("#shortlist_students_mg_placement_job_upload").html(data.main);              }
          });
}
function selectSemesterShortlistedStudentsForCompany(data){
  var urlLink = "/placements/onchange_data";
  
  
          $.ajax({
              url: urlLink ,
              cache: false,
              data:{ 
                selecter: "Select_Semester",
                id: data
              },
              success: function(data){

                $("#mg_batch_id").html(data.main);              }
          });
}

function selectRoundsBasedOnJobId(data){
var job_id=$("#shortlist_students_mg_placement_job_upload").val();
 var urlLink = "/placements/select_students_on_job";
  
          $.ajax({
              url: urlLink ,
              cache: false,
              data:{ 
                selecter: "Select_Semester",
                id: data,
                job_id:job_id
              },
              success: function(data){

                $("#add_student_data_on_job_id").empty().html(data);              }
          });
}



</script>