<% navigation_add t('reset_password'), :controller => 'placements', :action => 'corporate_resetpassword' %>
<%= render  partial: 'placements_left' %>
<h4 class="mg-h4"><%= t('reset_password') %></h4>

<%if @user.length>0%>
  <table  class="batch-tbl mg-tbl-margin">
  <tr class="subject-table-header">
    <th><%= t('user_name') %></th>
    <th><%= t('actions') %></th>
  </tr>
 
  <% @user.each do |user| %>
    <%=hidden_field_tag "user_type",user.user_type%>
    <tr>
      <td><%= user.try(:user_name) %></td>
      <td>
        <button title="Change Password" id="<%=raw user.id %>-showBTNID" class="change-user-password-btn mg-icon-btn"><i class="fa fa-exchange"></i></button>

        <button title="Edit" id="<%=raw user.id %>-editaccountBTNID" class="edit-user-detail-btn mg-icon-btn"><i class="fa fa-pencil-square-o"></i></button>
       
      </td>
    </tr>
  <% end %>
</table>
<br/>

<%else%>
  <h5>No Corporate users created</h5>
<%end%>
<%= render  partial: 'application/common_left_close' %>
<div id="newPlacementCellHeadDivId"></div>
<div id="editUserDivId"></div>
<div id="changePasswordUserDIVID"></div>

<script>
  $( document ).ready(function() {
    focusCurrentTab("resetPasswordAID","resetPasswordLiID");
  });


  $(document).on("click", ".edit-user-detail-btn", function(e){
  var user_type=$("#user_type").val();
  var myID =$(this).attr('id');
  var Id=myID.split("-");
  var urlLink = "/placements/edit_user/"+Id[0];
  $.ajax({
      url: urlLink ,
      cache: false,
      success: function(html){
            $('#editUserDivId').dialog({
              modal: true,
              minHeight: 'auto',
              minWidth: '250px',
              title: "Edit",
              open: function () {
                  $(this).html(html);
              }
          }); 
      }
  });
});

$(document).on("click", ".change-user-password-btn", function(e){
  var myID =$(this).attr('id');
  var Id=myID.split("-");
  var urlLink = "/placements/resetpassword_corporate/"+Id[0];
  $.ajax({
      url: urlLink ,
      cache: false,
      success: function(html){
            $('#changePasswordUserDIVID').dialog({
              modal: true,
              minHeight: 'auto',
              minWidth: '250px',
              title: "Change Password",
              open: function () {
                  $(this).html(html);
              }
          }); 
      }
  });
});




</script>