<% navigation_add t('profile'), corporate_profile_path %>


<%= render  partial: 'placements_left' %>

<h4 class="mg-h4"><%= t('profile') %></h4>

                
<div class="mg-back-btn-align-report">
  <%#= link_to t('back'), :back, {:class=>"mg-btn-bottom-margin mg-custom-form-btn cancel-form-dialog"} %>
  <button id="editcorporateID-<%=raw @placements_registration.id %>" title="Edit" class="editcorporateClass mg-icon-btn"><i class="fa fa-pencil-square-o"></i></button>
 </div>
 <br/>
 <table>
         <tr>
                <td class="mg-table-data-width">
                    <label class="mg-label mg-rm-text-trans"> <%= t('name_of_the_company')%></label>
                </td>

                <td class="mg-table-data-width">
                    <%=@placements_registration.name_of_the_company%>
                </td>


                <td class="mg-table-data-width">
                    <label class="mg-label"> <%= t('industry')%></label>
                </td>

                <td class="mg-table-data-width">
                    <%=@placements_registration.industry%>
                </td>
        </tr>

        <tr>
                <td class="mg-table-data-width">
                    <label class="mg-label"> <%= t('company_website_url')%></label>
                </td>

                <td class="mg-table-data-width">
                    <%=@placements_registration.company_website_url%>
                </td>


                <td class="mg-table-data-width">
                    <label class="mg-label"> <%= t('location')%></label>
                </td>

                <td class="mg-table-data-width">
                    <%=@placements_registration.location%>
                </td>
             
         </tr>
           


         <tr>
                <td class="mg-table-data-width">
                    <label class="mg-label"><%=t('address')%></label>
                </td>

                <td class="mg-table-data-width">
                    <%=@placements_registration.address%>
                </td>


                <td class="mg-table-data-width">
                    <label class="mg-label"> <%= t('contact_email')%></label>
                </td>

                <td class="mg-table-data-width">
                    <%=@placements_registration.contact_email%>
                </td>
             
         </tr>

         <tr>
                <td class="mg-table-data-width">
                    <label class="mg-label"> <%= t('contact_number')%></label>
                </td>

                <td class="mg-table-data-width">
                    <%=@placements_registration.contact_number%>
                </td>


                <td class="mg-table-data-width">
                    <label class="mg-label"> <%= t('contact_person')%></label>
                </td>

                <td class="mg-table-data-width">
                    <%=@placements_registration.contact_person%>
                </td>
             
         </tr>
 <% user_data= @placements_registration.mg_user_id %>
 <% placement_data=MgUser.where(:id=>user_data).pluck(:user_name).join(", ") %>

         <tr>
                <td class="mg-table-data-width">
                     <label class="mg-label"> <%= t('user_name')%></label>
                </td>

                <td class="mg-table-data-width">
                   <%= placement_data %>
                </td>

                <%if @placements_registration.have_alumni_id%>
                <td class="mg-table-data-width">
                    <label class="mg-label"> <%= t('alumni id')%></label>
                </td>

                <td class="mg-table-data-width">
                    <%=@placements_registration.alumni_id%>
                </td>
             
         </tr>
         <%end%>

         
               <% if @placements_registration.status!=''%>
               <tr>
                <td class="mg-table-data-width">
                     <label class="mg-label"> <%= t('status')%></label>
                </td>

                <td class="mg-table-data-width">
                    <%=@placements_registration.status%>
                </td>
                </tr>
                <%end%>
    
    </table>
    <br>
    <br>
 
<p>
<%#= button_to 'Cancel', {:controller=>'placements',:action=>'placements_registration'}, :class=> 'mg-custom-form-btn' %>
</p>
<%= render  partial: 'application/common_left_close' %>

<script type="text/javascript">
  $( document ).ready(function() {
    focusCurrentTab("corporate_profileAID","corporate_profileLiID");
  });

  $(document).on("click", ".editcorporateClass", function(e){  
            
            var id=$(this).attr("id");
            var emp_id=id.split('-');
          //  alert("hello");
            var urlLink = "/placements/corporate_profile_edit/"+emp_id[1] ;

           
             window.location = urlLink;



        }); 
</script>

