<%= render  partial: 'dashboards/student_dashboard_left' %>
<% navigation_add t('job_apply'), :controller=>'placements', :action=>'job_apply' %>
<button onclick="window.location.href='/placements/job_apply_new'" class="mg-btn-bottom-margin mg-custom-form-btn"><%= t('apply_job')%></button>  
<h4 class="mg-h4"><%= t('job_applied_list')%></h4>
<%if @job_apply.present?%>
<div class="mg_pagination">
<table class="batch-tbl mg-tbl-margin">   <!-- border="2" --> 
 <tr >
  	<th class="mg-rm-text-trans"><%=t('name_of_the_company')%></th>
<th class="mg-rm-text-trans"><%=t('job_id')%></th>
    <th><%=t('actions')%></th>
  </tr>
  <% @job_apply.each do |e| %>
    <tr>
    <%placement=MgPlacementRegistration.find_by(:id=>e.mg_placement_registration_id)%>
    <%job_upload=MgPlacementJobUpload.find_by(:id=>e.mg_job_upload_id)%>

      <td class='mg-capitalize-text'><%= placement.try(:name_of_the_company) %></td>
      <td><%= job_upload.try(:job_id) %></td>
     
      <td>
        <button title="Show" id="<%=raw e.id %>-showPlacementrainingBTNID" class="show-placements-job-apply-btn mg-icon-btn"><i class="fa fa-eye"></i></button>
        <button title="Edit" onclick="window.location.href='/placements/<%=e.id%>/job_apply_edit'" class="edit-event-type-btn mg-icon-btn"><i class="fa fa-pencil-square-o"></i></button>
        <button title="Delete"  onclick="confirm('Are you sure to delete?') ? window.location.href='/placements/<%=e.id%>/job_apply_delete/' : ''" class="delete-event-type-btn mg-icon-btn"><i class="fa fa-trash"></i></button></td>
    </tr>
  <% end %>
</table>
 <%= will_paginate @job_apply, :container => false %>
  </div>

<%else%>
<p>No Records</p>
<%end%>


<div id="showPlacementsRegistrationDIVID"></div>



<%= render  partial: 'application/common_left_close' %>

<script>
  $( document ).ready(function() {
    focusCurrentTab("job_applyAID","job_applyLiID");
  });

  $(document).on("click", ".show-placements-job-apply-btn", function(e){
        var myID =$(this).attr('id');
        var Id=myID.split("-");


        var urlLink = "/placements/"+Id[0]+"/job_apply_show/";
        $.ajax({
            url: urlLink ,
            cache: false,
            success: function(html){
                  $('#showPlacementsRegistrationDIVID').dialog({
                    modal: true,
                    minHeight: 'auto',
                    title: "Job Applied Details",
                    open: function () {
                        
                        $(this).html(html);
                    }
                }); 
               
            }
        });
});

</script>