  <%= form_for :training_required_show, :url=>{:action=>"placement_training_status_update",:id=>@training_requested.id},:html => {
                            :id => 'trainingRequiredNewEditFormId' } do |f| %>
  <table border="1" class="mg-showdata-bg " cellspacing="1" cellpadding="1">

  <% student_data=MgStudent.find_by(:id=>@training_requested.student_id)%>
 
      <tr>
         <td class="mg-td-width-half" valign="top">
          <label class="mg-label"> <%= t('student_name')%></label>
         </td>
         <td class="mg-td-width-half" valign="top">
          <%="#{student_data.try(:first_name)} #{student_data.try(:last_name)}"%>
         </td>
      </tr>

      <tr>
         <td class="mg-td-width-half" valign="top">
          <label class="mg-label"> <%= t('placement_student_admission_id')%></label>
         </td>
         <td class="mg-td-width-half" valign="top">
            <%=student_data.try(:admission_number)%>
         </td>
      </tr>


   <tr>
     <td class="mg-td-width-half" valign="top">
      <label class="mg-label mg-rm-text-trans"> <%= t('area_of_training_required')%></label>
     </td>
     <td class="mg-td-width-half" valign="top">
      <%= @training_requested.area_of_training_required %>
     </td>
 </tr>

 <tr>
     <td class="mg-td-width-half" valign="top">
      <label class="mg-label"><%=t('description')%></label>
     </td>
     <td class="mg-td-width-half " valign="top">
        <div class="text-scroll-for-log-text-cls comments-space" style="padding: 5px 40 0 10px">
          <%= @training_requested.description %>
        </div>
     </td>
 </tr>

   
<tr>
      
        
                        
       <tr>
         <td class="mg-td-width-half" valign="top">
            <label class="mg-label"> <%= t('status')%></label>
         </td>

          <td class="mg-td-width-half " valign="top">
            
            <%= select_tag "status",options_for_select([["Pending", "Pending"], ["Accepted", "Accepted"], ["Rejected", "Rejected"]],:selected=>@training_requested.status),{} %><br/>

         </td>
       </tr>
         




</tr>

</table><br/>
<p>
         
     <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn"><%=t("save")%></a>

  

     <a class="mg-small-form-btn cancel-form-dialog"><%=t('cancel')%></a>
     </p>

    <% end %>
 
 
<script type="text/javascript">
$(document).ready(function () {
  textSeeMoreLess();
});

</script>
   
