
<%= form_for :placement_head_password_data, :url=>{:action=>"change_placement_head_password"}, :html => {
                            :id => 'change_placement_cell_login_passwordFormID' } do |f| %>
   <%= f.hidden_field :user_id, :value => session[:user_id] %>
   <%= hidden_field_tag "change_store_password", params[:change_store_password] %>
   
<p>
    <%= f.label :old_password ,:class=> "mg-label"%><span class="required-field">&nbsp;*</span><br>
   <%= password_field_tag :old_password,nil,:class=>"mg-text-field",:id=>"oldPlacementHeadPassword" %>
 <div id="old_passworddivId" style="color:#ff0000"></div>
 </p>
 

 <p>
    <%= f.label :New_Password ,:class=> "mg-label"%><span class="required-field">&nbsp;*</span><br>
   <%= password_field_tag :password,nil,:class=>"mg-text-field",:id=>"newPlacementHeadPassword" %>
 </p>
 <div id="newpassworddivId" style="color:#ff0000"></div>

 <p>
    <%= f.label :Retype_Password ,:class=> "mg-label"%><span class="required-field">&nbsp;*</span><br>
   <%= password_field_tag :PlacementHead_hashed_password ,nil,:class=>"mg-text-field",:id=>"rePlacementHeadPassword" %>
 </p>
 <div id="employeefeedbackdivId" style="color:#ff0000"></div>
 
<p class="mg-p-mgtop">
     
          <a id="accept-class-PlacementHead-password" class="mg-custom-labels mg-small-form-btn"><%=t("save")%></a>
        <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
       <%=f.submit t("save") ,:id=>"submitPlacementHeadpasswordFormBtnId" , :style=>"display:none"%>
    
</p>
<% end %>


<%= render  partial: 'application/common_left_close' %>


<script>
$(document).ready(function(){

$("#change_placement_cell_login_passwordFormID").validate({
  rules: {
  "old_password": {required: true},
  "password": {required: true},
  "PlacementHead_hashed_password": {required: true},

  }
  });

});

$(document).on("change","#newPlacementHeadPassword",function(e){
 var oldPlacementHeadPassword=$("#oldPlacementHeadPassword").val();

 if(oldPlacementHeadPassword==""){
  $(this).val("");
 $("#newpassworddivId").text("Enter old password..");

 }
 else{
$("#newpassworddivId").text("");

 }

});
$(document).on("change","#oldPlacementHeadPassword",function(e){
 var urlLink = "/placements/password_search_data";
        $("#newpassworddivId") .text("");
var password=$(this).val();
  
  $.ajax({
            url: urlLink,
            cache: false,
            data: {"password":password},
            success: function(html){  
                       if (parseInt(html.name)>0){
                        $("#old_passworddivId").text("");
                       }
                       else{
                          $("#old_passworddivId").text("Wrong password..");
                          $("#oldPlacementHeadPassword").val("");
                       }
                    },
            error: function(){
              alert("error");
            }
                }); 
});


$(document).on("click","#accept-class-PlacementHead-password",function(e){
   
   
    var temp=$("#newPlacementHeadPassword").val();
    var tempo=$("#rePlacementHeadPassword").val();
    if(temp==tempo)
    {
      $("#employeefeedbackdivId").text("");
       $("#submitPlacementHeadpasswordFormBtnId").click();
    }
    else
    {
      $("#rePlacementHeadPassword").val("");
      $("#employeefeedbackdivId").text("Password doesn't matches..");
    }
  
    
  });
</script>






