<%if @placement_short_list_data.length>0%>
<table class="batch-tbl mg-tbl-margin">   <!-- border="2" --> 
 <tr >
  	<th class="mg-rm-text-trans"><%=t('name_of_the_company')%></th>
<th class="mg-rm-text-trans"><%=t('job_id')%></th>
<th class="mg-rm-text-trans"><%=t('student_name')%></th>
<th class="mg-rm-text-trans"><%=t('student_id')%></th>



<th class="mg-rm-text-trans"><%=t('pass_out_year')%></th>

    <!-- <th><%#=t('round')%></th>
    <th><%#=t('next_round_date')%></th> -->
    <th><%=t('status')%></th>

    <th><%=t('action')%></th>



  </tr>
  <% @placement_short_list_data.each do |e| %>
    <tr>

    <%#placement_data=MgPlacementShortListStudent.find_by(:id=>e.mg_placement_short_list_student_id)%>
    
    <%placement=MgPlacementRegistration.find_by(:id=>e.mg_placement_registration_id)%>
      <td><%= placement.try(:name_of_the_company) %></td>
         <%job=MgPlacementJobUpload.find_by(:id=>e.mg_job_upload_id)%>
      <td><%= job.try(:job_id) %></td>
      <%student=MgStudent.find(e.mg_student_id)%>
      <td><%= "#{student.first_name} #{student.last_name}" %></td>
      <td><%= student.try(:admission_number) %></td>

      <td><%= e.try(:pass_out_year) %></td>

        <%#round_data=MgInterviewRound.find_by(:id=>placement_data.mg_interview_round_id)%>
        <%#if e.is_round_selected==false%>
       
     <!--  <td><%#= round_data.name %><%#="  (Not Selected)"%></td>
        <td><%= "-"%></td> -->

      <%#else%>
      <!-- <td><%#= round_data.name %><%#="  (Selected)"%></td>
        <td><%#= placement_data.next_round_date.strftime(@dateFormat)%></td>
      <%#end%> -->
      <%if e.is_round_selected==true %>
      <td><%="Selected for further Process"%></td>

      <%else%>
      <td><%=" Not Selected"%></td>

      <%end%>
       <td>
       <button title="Show" id="<%=raw job.id %>-showjobUploadBTNID" class="show-job-upload-fom-btn-student-login mg-icon-btn"><i class="fa fa-eye"></i></button>
    </tr>
  <% end %>
</table>

<%else%>
<%="No Records"%>

<%end%>