<%= render  partial: 'examination/examination_table_left' %>

<%=text_area_tag 'display-report',@finalTable, :id=>"displayStudentCceReportId" , :style=>"display:none"%>

<div>
<%=params.inspect%>
<!-- sa_exam_scores.each do |sa_score|
		Sa Scores=<%#=sa_score.marks%>
	<%#end%> -->

<%

	student = MgStudent.find(params[:id])
	batch = MgBatch.find(student.mg_batch_id)
	exam_groups = MgExamGroup.where(:mg_batch_id=>batch.id)

	#SA data
	#sa_exams  = MgExam.where(:mg_exam_group_id=>exam_groups.pluck(:id))
	#sa_exam_scores = MgExamScore.where(:mg_student_id=>params[:id],:mg_exam_id=>sa_exams.pluck(:id))
	
  
	#FA data

	cce_category_ids = exam_groups.pluck(:cce_exam_category_id)


%>

<br/>
SA Data
<br/>
<%
exam_groups.each do |eg|
	exams_list = MgExam.where(:mg_exam_group_id=>eg.id)
	cce_category = MgCceExamCategory.find(eg.cce_exam_category_id)
%>
	<br/>
	Exam Group = <%= eg.name%>
	Cce Category = <%=cce_category.name%>
	<br/>

<%
exams_list.each do|el|
	subject=MgSubject.find(el.mg_subject_id)
	fa_group_ids = MgFaGroupsSubject.where(:mg_subject_id=>subject.id).pluck(:mg_fa_group_id)
	fa_group_array = MgFaGroup.where(:id=>fa_group_ids,:mg_cce_exam_category_id=>cce_category.id)
		exams_scores=MgExamScore.where(:mg_student_id=>params[:id],:mg_exam_id=>el.id)
%>
	<br/>
	<%
		fa_group_array.each do |fg|
		fa_criteria_list = MgFaCriteria.where(:mg_fa_group_id=>fg.id)
	%>
		FA Group = <%=fg.name%>
		<br/>
		<%
 			fa_criteria_list.each do |fc|
 			  desc_indicators = MgDescriptiveIndicator.where(:describable_type=>"FaCriteria", :mg_fa_criteria_id => fc.id)	
 		%>
 		FACriteria = <%=fc.fa_name%>
 		<br/>

 		<%
 			desc_indicators.each do |di|
 				assesment_scores = MgAssessmentScore.where(:mg_student_id=>params[:id],:mg_descriptive_indicator_id=> di.id)
 		%>

 		Desc Indicator = <%=di.name%> <%=di.total_marks%>
 		<br/>

 		<%
				assesment_scores.each do |as|
 		%>
 				AssesmentScore = <%=as.marks_obtained%>
 				<br/>



	<%
			end
		end
	end
	end	

	%>

	<br/>
	Subject=<%=subject.subject_name%><%=el.maximum_marks%>
	<br/>
	<%
		exams_scores.each do |es|
	%>
		SA Score = <%=es.marks%>	
		<br/>
	<%end%>	

	
<%
		
	end	
end
%>



</div>



<div id="displayReportDivId">
</div>


<!-- <table class="batch-tbl">
<tr>
<th colspan="1"><%#="Scholastic Area"%></th>
<th colspan="4"><%#="Term1"%></th>
<th colspan="4"><%#="Term2"%></th>
<th colspan="4"><%#="Final Assesment"%></th>
</tr>
<tr>
<th>subjects</th>
<th>FA1</th>
<th>FA2</th>
<th>SA1</th>
<th>Total</th>
<th>FA3</th>
<th>FA4</th>

<th>SA2</th>
<th>Total</th>
<th>FA</th>
<th>SA</th>
<th>Overall</th>

</tr>


<%#@mg_subjects.each_with_index do |sub,i|%>

<tr>

<td><%#=sub.subject_name %></td>
<%#subject=MgExam.where(:is_deleted=>0, :mg_subject_id=>sub.id)%>
<td><%#=subject.inspect%></td>
<td><%#=sub.id%></td>


<%#mg_exam_category.each do |exam_category|%>
<%#if @mg_exam_category[i].name=="term1"%>
<%#@mg_exam_score.each do |exam_score|%>
<td><%#=@mg_exam_score[i]%></td>
<%#end%>
<%#else%>
<%#count =1%>
<%#@mg_exam_score.each do |exam_score|%>
 <%#if count / 2==0%>
<td><%#=exam_score%></td> 
<%#count +=1%>
<%#end%>
<%##end%>

<%#end%>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>

</tr>
<%#end%>
</table>
 -->
<%= render  partial: 'examination/examination_table_close' %>

<script>
	$(document).ready(function(){

		var reportData=$("#displayStudentCceReportId").val();
		$("#displayReportDivId").append(reportData);
	});

</script>

<style>

	.report-tbl{
		
		margin-top: 10px;
		width: 100%;
	}

	.report-tbl ,.tbl-td , .tbl-tr {
		border: 1px solid #999999;
	}
</style>