<!-- Sec --> 

<%= render  partial: 'settings/setting_left' %>
<input type="button" value="Add New Model" id= "addModelBtn" />
<div class="mg_pagination">
    <h4 class="mg-h4">Listing Models</h4>

    <table class="batch-tbl" id='people_table'>
        <tr>
          <th>Model name</th>
          <th>Description</th>
          <th><%=t("actions")%></th>
        </tr>

        <% @mg_models.each do |mg_model| %>
          <%= render partial: 'table_row', locals: {mg_model: mg_model} %>
        <% end %>
    </table>
        <br/>
    <div class="pagination-align">
      <%= will_paginate @mg_models, :container => false %>
    </div>
    <br/>
    
</div>
<%= render  partial: 'application/common_left_close' %>

