<%= render  partial: 'library_left' %>
<% navigation_add 'Books Purchase', libraries_path %>
<% navigation_add 'Edit Books Purchase', libraries_edit_path %>

<h4 class="mg-h4"><%= t('edit_books_purchase_information')%></h4> 

<div class="box">
<%= form_for :library_purchase_details ,  :url=>{:controller=>'libraries',:action=>'update',:id=>@library_purchase_details.id}, :html=>{:id=>'edit_libraries_details_data'} do |f| %>

        <%= f.hidden_field :is_deleted ,:value=>0%>
        <%= f.hidden_field :mg_school_id ,:value=>@school_id%>
        
<table class="mg-tbl-margin mg-show-tbl-width">
    <tr>
      <td class="mg-td-width-one-third">
        <label class="mg-label" for="vendorName"><%= t ('vendor_name') %><span class="required-field">&nbsp;*</span></label><br/>
        <%= f.text_field :vendor_name ,:class=>"mg-text-field"%>
      </td>
    </tr>
    <tr>
      <td class="mg-td-width-one-third">
        <label class="mg-label mg-label-text-transform-none" for="dateofPurchase"><%= t ('date_of_purchase') %><span class="required-field">&nbsp;*</span></label><br/>
        
        <%= f.text_field :date_of_purchase ,:class=>"mg-text-field"%>
      </td>
    </tr>
    <tr>
    <tr>
      <td class="mg-td-width-one-third">
        <label class="mg-label" for="dateofPurchase"><%= t ('amount_paid') %><span class="required-field">&nbsp;*</span></label><br/>
        <%= f.text_field :Amount_paid ,:class=>"mg-text-field"%>
      </td>
    </tr>
    <tr>
    </tr>
</table>  
<h4 class="mg-h4"><%= t('Item Information')%></h4> 
<a href="#" id="library_details_for_data" class="mg-label-inner-form mg-custom-form-btn" style="color: #297ACC; font-size:0.8em; position: relative;" >Add </a> <br/>
 <div class="mg-scroll-employee-bar mg-tbl-margin">   
 
<table class="mg-show-tbl-width mg-table-nowrap batch-tbl mg-adjust-padding">  

        <th>S No.</th>
        <th>Book Name</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Cost</th>
        <th class="mg-rm-text-trans">No. of Copies</th>
        <th>Total</th>
        <th>Select Class</th>
        <th><%=t('actions')%></th>
            <%@book_purchase_details.each_with_index do |details,i|%>

        <tr class="demo-div">

            <div id="finalDueFineDivId">
            <div class="due-fine-div" id="dueFineDivId">
            <td><span class="required-incremented-field"><%=i+1%></span></td>
          
          <td class="mg-align-center">

          <%#= f.collection_select("mg_category_id[]",MgCourse.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]), :id, :course_name,{:include_blank => t("select")},:class => "call-purpose-class consumption-category-class category-laboratory-class",:name=>"mg_category_id[]")%>
          <%= hidden_field_tag 'ids[]' ,details.id,:class=>"mg-text-field-particular required-field"%>

          <%= text_field_tag 'book_name[]' ,details.book_name,:class=>"mg-text-field-particular required-field"%>

          </td>
          <td class="mg-align-center">
          <%#= text_field_tag 'item_name[]' ,nil,:class=>"mg-text-field-particular required-field"%>
          <%= text_field_tag 'author[]' ,details.author,:class=>"mg-text-field-particular required-field"%>
          </td>
          <td class="mg-align-center">
          <%#= text_field_tag 'cost[]' ,nil,:class=>"mg-text-field-particular cost-auto-class required-field",:id=>"cost_"%>
          <%= text_field_tag 'publisher[]' ,details.publisher,:class=>"mg-text-field-particular required-field"%>
          </td>
          <td class="mg-align-center libraries-td-class">
          <%#= text_field_tag 'unit[]' ,nil,:class=>"mg-text-field-particular required-field unit-auto-class",:id=>"unit_"%>
          <%= text_field_tag 'cost[]' ,details.cost,:class=>"mg-text-field-particular required-field library-cost-auto-class"%>
          </td>
          <td class="mg-align-center unit-td-class">

          <%= text_field_tag 'no_of_copies[]' ,details.no_of_copies,:class=>"mg-text-field-particular required-field library-auto-class"%>
          <%#= text_field_tag 'total[]' ,nil,:class=>"mg-text-field-particular required-field total-auto-class",:id=>"total_amount", readonly: true%>
          </td>
          <td class="mg-align-center library-total-td-class">
          <%= text_field_tag 'total[]' ,details.total,:class=>"mg-text-field-particular required-field library-total-auto-class",readonly: true%>
          </td>
          <td class="mg-align-center">
          <%#= text_field_tag 'select_class[]' ,nil,:class=>"mg-text-field-particular required-field"%>
          <%course_data=MgCourse.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]).pluck(:course_name,:id)%>
           <%=select_tag 'select_class[]',options_for_select(course_data,:selected=>details.mg_course_id),:prompt=>"Select" %>
          <%#= f.collection_select("select_class[]",MgCourse.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]), :id, :course_name,{:include_blank => t("select")},:class => "call-purpose-class consumption-category-class category-laboratory-class",:name=>"select_class[]")%>
          </td>
          <td class="mg-align-center">
                      <a href="#" title="Remove" class="remove-library-details mg-icon-btn" style="color: #297ACC; font-size:0.8em;"> <i class="fa fa-trash"></i></a>
                      
            </td>  

            <%end%>
             </div>
             </div>
          </tr>



</table >

  </div>                
                      
                     
<br/>
<%#=f.submit "Submit" ,:class=>"mg-small-form-btn"%>
 <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn"><%=t("Submit")%></a>
<%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
<%end%>
</div>
<%= render  partial: 'schools/school_left_close' %>

<script>
$(document).ready(function(){
    focusCurrentTab("libraryinformationAID","libraryInformationLiID");
        focusLibrary();
 dateFormatStr =  getJsDateFormat();

  $( "#library_purchase_details_date_of_purchase" ).datepicker({ changeMonth: true,
                changeYear: true,yearRange: "-50:+0",maxDate: "0" ,dateFormat: dateFormatStr});
         var admission_date =  $.datepicker.formatDate(dateFormatStr,new Date($('#library_purchase_details_date_of_purchase').val()));

//alert(joiningDate);
$('#library_purchase_details_date_of_purchase').val(admission_date);


$(function () {
    $.validator.addMethod('dateFormat',
    function (value, element) {
      dateFormatStr =  getJsDateFormat();
        if (this.optional(element)) {
            return true;
        }
        var ok = true;
        try {
            $.datepicker.parseDate(dateFormatStr, value);
        }
        catch (err) {
            ok = false;
        }
        return ok;
    },


      "Please enter a date in the format "+ getDateFormat(dateFormatStr) +".");
      dateFormatStr =  getJsDateFormat();

    $(".datefield").datepicker({ dateFormat: dateFormatStr, changeYear: true });
});
$("#edit_libraries_details_data").validate({
//   $(".category-validation-class").rules("add", { 
//   required:true
// });
        rules: {   
        "library_purchase_details[vendor_name]": {required: true}, 
        "library_purchase_details[date_of_purchase]": {required: true,dateFormat:true},    
        "library_purchase_details[Amount_paid]": {required: true,number: true},
        "laboratry[amount_paid]": {required: true, number: true},
        "book_name[]": {required: true},
        "author[]": {required: true},
        "publisher[]": {required: true},
        "cost[]": {required: true, number: true},
        "no_of_copies[]": {required: true, number: true},
        "total[]": {required: true, number: true},
        "select_class[]":{required: true}
      }
    });

});
</script>