  
      <%@school_id=session[:current_user_school_id]%>
     
<table class="mg-tbl-margin mg-show-tbl-width">
    <tr>
      <td class="mg-td-width-one-third">
        <label class="mg-label" for="selectClass"><%= t ('select_class') %><span class="required-field">&nbsp;*</span></label><br/>
        <%
        @course_data=MgCourse.where(:is_deleted=>0,:mg_school_id=>@school_id).pluck(:course_name,:id)
        %>
       <%=select_tag 'mg_course_id_for_data', options_for_select(@course_data),:prompt=>t('select'),:onchange=>"selectedcourseid(this.value)"%>
      </td>
    </tr>
     <tr>
      <td class="mg-td-width-one-third">
        <label class="mg-label" for="selectSection"><%= t ('select_section') %><span class="required-field">&nbsp;*</span></label><br/>
        <div class="select_sections_validate">
       
       <%=select_tag :mg_batch_id_for_data, options_for_select([]),:prompt=>t('select'),:class=>"mg_batch_id_for_data",:onchange=>"selectedBatchIdforissue(this.value)"%>
       </div>
      </td>
    </tr> 
    
    <tr>
      <td class="mg-td-width-one-third">
        <label class="mg-label" for="selectStudent"><%= t ('select_student') %><span class="required-field">&nbsp;*</span></label><br/>

        <div class="select_students">

       <%=select_tag :mg_student_ids_data, options_for_select([]),:prompt=>t('select')%>
       </div>
      </td>
    </tr>
    </table>
  <div id="student_list_for_library_status">
</div>
   <button  id='issue-<%=@inventory_data %>' class="submits_issued_validates  form_close_calss mg-custom-form-btn">Submit</button>

 <button  id='Cancellation-<%=@inventory_data %>' class="cancel-submits-ISSUE-validation-data  form_close_calss mg-custom-form-btn">Cancel</button>


<script>
$(document).on("click",".cancel-submits-ISSUE-validation-data",function(e){

      e.preventDefault();

        var ID =$(this).attr('id');
          var data=ID.split("-");
              var status_data=data[0];
              var id=data[1];
      
         $("#issued_pop_up").empty();
          $("#cancel_reservation-"+id+"").attr("disabled",false)
         

                    });

      </script>