<%= render  partial: 'master_settings/master_settings_left' %>
<h4 class="mg-h4"><%= t('Library Settings')%></h4>

  <%if flash[:error].present?%>
  <div class="alert alert-info mg-success-msg">

        <%=flash[:error]%>
        </div>
   <%end%>



<%=form_for :library_settings, :url=>{:controller=>'libraries',:action=>'library_settings_create'},:html=>{:id=>"library_settings_data"} do |f|%>

        <%= f.hidden_field :is_deleted ,:value=>0%>
        <%= f.hidden_field :mg_school_id ,:value=>@school_id%>
       
        
<table class="mg-tbl-margin mg-show-tbl-width">
    <tr>
      <td class="mg-td-width-one-third">
        <label class="mg-label" for="maxBooksIssuable"><%= t ('max_books_issuable') %><span class="required-field">&nbsp;*</span></label><br/>
        <%= f.text_field :max_books_issuable,:class=>"mg-text-field"%>
      </td>
    </tr>
    <tr>
      <td class="mg-td-width-one-third">
        <label class="mg-label" for="maxBorrowDays"><%= t ('max_borrow_days') %><span class="required-field">&nbsp;*</span></label><br/>
        <%= f.text_field :max_borrow_days,:class=>"mg-text-field"%>
      </td>
    </tr>
    
    <tr>
      <td class="mg-td-width-one-third">
        <label class="mg-label" for="fineForLateReturn"><%= t ('fine_for_late_return') %><span class="required-field">&nbsp;*</span></label><br/>
        <%= f.text_field :fine_for_late_return ,:class=>"mg-text-field"%>
      </td>
    </tr>
    
    <tr>
      <td class="mg-td-width-one-third">
        <label class="mg-label" for="maxDaysonReservationAfterReturn"><%= t ('max_days_on_reservation_after_return') %><span class="required-field">&nbsp;*</span></label><br/>
        <%= f.text_field  :max_days_on_reservation_after_return,:class=>"mg-text-field"%>
      </td>
    </tr>
    
    <tr>
      <td class="mg-td-width-one-third">
        <label class="mg-label" for="selectDepartment"><%= t('select_department') %><span class="required-field">&nbsp;*</span></label><br/>
      

          <span>
        <%
        department_data=MgEmployeeDepartment.where(:is_deleted=>0, :mg_school_id=>session[:current_user_school_id]).pluck(:department_name,:id)
        %>
    <%=select_tag :notSelected, options_for_select(department_data),:multiple => true,:size =>10, :class=>"mg-add-library-particular"%>
    </span>
  <a  id="addingdatas" class="mg-custom-form-btn mg-fee-btn">Select Dept</a> 

<span id="selected_students">
<%=select_tag :selectedEmployees,options_for_select([]),:multiple => true,:size =>10 ,:class=>"mg-add-library-particular"%>
</span>
<a  id="addingemployeedatas" class="mg-custom-form-btn mg-fee-btn">Add</a> 

<span id="removing_employees">
<%=select_tag :selected_employees,options_for_select([]),:multiple => true,:size =>10 ,:class=>"mg-add-library-particular"%>
</span>

<a  id="removingdata" class="mg-custom-form-btn mg-fee-btn">Remove</a>
</td>
    </tr>

    </table>
    <br/>
    <br/>
 <%= f.submit t('save'), class: "submit mg-small-form-btn mg-custom-labels" %>
      <%= link_to t('cancel'), students_path, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
<%end%>


<%= render  partial: 'schools/school_left_close' %>

<script>
$(document).ready(function () {
        focusCurrentTab("librarysettingsAID","librarysettingsLiID");
        focusMasterSettings();
  $("#library_settings_data").validate({
        //debug: true,
        rules: {
                  "library_settings[max_books_issuable]": {required: true,number: true},
                  "library_settings[max_borrow_days]": {required: true,number: true},
                  "library_settings[fine_for_late_return]": {required: true,number: true},

                  "library_settings[max_days_on_reservation_after_return]": {required: true,number: true},
                  "notSelected[]": {required: true}
                  
        }

    });

    });
 $(document).on("click","#addingemployeedatas",function(e){



 var selectedOption=$("#selectedEmployees option:selected").remove();

$("#selected_employees").append(selectedOption);


  });


$(document).on("click","#removingdata",function(e){

var selectedOption=$("#selected_employees option:selected").remove();

$("#selectedEmployees").append(selectedOption);

  });




 $(document).on("click","#addingdatas",function(e){
    
    var dept_values=$("#notSelected").val();
    
    
 $.ajax({
            url: "/libraries/select_employees",
            type: "GET",
            data: {"dept_data":dept_values},
            dataType: "html",
            success: function(data) {
              //console.log(data);
               // $(".fee-particular-admission-number-cls").empty();
               // $(".fee-particular-admission-number-cls").append(data);
             $("#selected_students").empty();

             $("#selected_students").append(data);
             
              
            },
            error:function(){
              alert("Something went wrong!");
            }
        });
    
});

</script>