<!-- Sec --> 
<%= render  partial: 'students/student_left' %>

 <h4 class="mg-h4"><%= t('previousedcuation') %></h4>
 <div class="mg-custom-labels">
<%= form_for :previous_educations, url: previous_educations_path, :html => {
                            :id => 'previousEducationsID' } do |f| %>




       
        <%= f.hidden_field :is_deleted, :value => 0%> 
        <%= f.hidden_field :mg_student_id,:value => @last_studentId %>
        <%= f.hidden_field :mg_school_id,:value => session[:current_user_student_id] %>






<p>
  <label class="mg-label" for="school_name"><%= t('school_name') %></label>
  <span class="required-field">&nbsp;*</span> <br>
   <%= f.text_field :school_name,:class=>"mg-text-field" %>
 </p>
 <p>
<label class="mg-label" for="course"><%= t('course') %></label>
<span class="required-field">&nbsp;*</span> <br>
   <%= f.text_field :course,:class=>"mg-text-field" %>
 </p>

 <p>
 <label class="mg-label" for="year"><%= t('year') %></label>
 <span class="required-field">&nbsp;*</span> <br>
    <%= f.text_field :year,:class=>"mg-text-field"   %>
  </p>

  <p>
  <label class="mg-label" for="marks_obtained"><%= t('marks_obtained') %></label>
  <span class="required-field">&nbsp;*</span> <br>
    <%= f.text_field :marks_obtained,:class=>"mg-text-field"%>
  </p>
 
  <p>
  <label class="mg-label" for="total_marks"><%= t('total_marks') %></label>
  <span class="required-field">&nbsp;*</span> <br>
    <%= f.text_field :total_marks,:class=>"mg-text-field" %>
  </p>

  <p>
  <label class="mg-label" for="grade"><%= t('grade_percentage') %></label>
  <span class="required-field"></span> <br>
    <%= f.text_field :grade,:class=>"mg-text-field" %>
  </p>

  <!--<button class="skip-previous-education" id="skipPreviousEducationIDd"><#%= t('skip') %></button>           {controller:"students",action:"index"},method:
  :get-->
  <%= button_tag "Skip",:type => 'button',:class => "skipBtn mg-skip-btn", :onclick => "location.href = '#{students_path()}'" %>
 
    <%= f.submit t('save') ,:class=>"mg-small-form-btn"%>
  </p>
<% end %>
</div>
<!--  closing student -->
<%= render  partial: 'application/common_left_close' %>
<script>
$(document).ready(function () {

$("#previousEducationsID").validate({

rules: {
"previous_educations[school_name]": {required: true},
"previous_educations[course]": {required: true},
"previous_educations[year]": {required: true, minlength: 4,  number: true},
"previous_educations[marks_obtained]": {required: true, number: true},

"previous_educations[total_marks]" :{required: true, number: true}

}
});
});
</script>