<!-- Sec --> 
<% if @employeelist.length > 0 %>
<div class="mg_pagination" id="employeeUnderManagerId"> 
    <%=form_for :selectEmployee  do|f|%>
    <%= f.hidden_field :mg_manager_id, :value => 0,:id => "employeeID" %>
    <table class="batch-tbl" style="margin-left:12px;">
    	<tr>
    		<th><%= t('name') %></th>
    		<th><%= t('position') %></th>
    		<th><%= t('category') %></th>
    		<th><%= t('select') %></th>
    	</tr>
    	<%@employeelist.each do |employee|%>
    	<tr>
            <td><%=employee[0]%></td>
            <td><%=MgEmployeePosition.where(:id=>employee[1]).pluck(:position_name).join("")%></td>
            <td><%=MgEmployeeCategory.where(:id=>employee[2]).pluck(:category_name).join("")%></td>
            <td><input id="item_selected_employee" name="selected_employee[]" type="checkbox" value="<%=raw employee[3]%>"/></td>
    	</tr>
    	<%end%>
    </table><br>
 
   <!--  <#%=submit t('save') ,:style=>"margin-left:10px;"%> -->
    
    <%end%>
    <button id="mg-employee-manager-save-btn" class="mg-small-form-btn"><%=t('save')%></button>
    <div id="employeeunderManagerSaveId"></div>
</div>
<% else %>
  <h4>No Employee In this department </h4>
<%end%>

<script type="text/javascript">
    $(document).ready(function(){
       var depVal = $("#employee").val();
       $("#employeeID").val(depVal);

    });
</script>

