<%= render  partial: 'library/library_left' %>
<% navigation_add 'Resource Type', library_resource_path %>

<h4 class="mg-h4"><%= t('edit_resource_type') %></h4>

<%= form_for :library, :url=>{:controller=>'library',:action=>'resource_update',:id=>@library.id},:html => {:id => 'libraryResourceUpdateID' } do |f| %>
<%= f.hidden_field :is_deleted, :value => 0 %>
<%= f.hidden_field :mg_school_id, :value => session[:current_user_school_id] %>
<%#= f.hidden_field :created_by, :value => session[:user_id] %>
<%= f.hidden_field :updated_by, :value => session[:user_id] %>
<%= f.hidden_field :temp_prefix,:class=>"current-prefix-value-class", :value => @library.prefix %>
<%#= hidden_field_tag :temp_prefix,:class=>"current-prefix-value-class", :value => @library.prefix %>

<p>
    <label class="mg-label" style="width:220px"><%= t('select_resource_category') %><span class="required-field">&nbsp;*</span></label>
    <br/>
    <%= f.collection_select(:mg_resource_category_id,MgResourceCategory.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]), :id, :name,{:include_blank => t("select")},:id => "libraryResourceCategoryId")%>

   <%#= f.text_field :mg_resource_category_id,:class=>"mg-text-field" %>
</p>






<p>
    <label class="mg-label mg-label-text-transform-none" style="width:220px"><%= t('type_of_resource') %><span class="required-field">&nbsp;*</span></label>
    <br/>
   <%= f.text_field :name,:class=>"mg-text-field" %>
</p>
<p>
    <label class="mg-label" style="width:220px"><%= t('description') %></label>
    <br/>
   <%= f.text_area :description,:class=>"mg-text-field" %>
</p>
<p>
    <label class="mg-label mg-tt-width"><%= t('is_non_issuable') %></label>
                    <%= f.check_box :is_non_issuable %>
</p>
<p>
    <label class="mg-label" style="width:220px"><%= t('max_issuable_count') %><span class="required-field">&nbsp;*</span></label>
    <br/>
   <%= f.text_field :max_issuable_count,:class=>"one_two mg-text-field" %>
</p>
<p>
    <label class="mg-label" style="width:220px"><%= t('max_borrow_days') %><span class="required-field">&nbsp;*</span></label>
    <br/>
   <%= f.text_field :max_borrow_day,:class=>"one_two mg-text-field" %>
</p>
<p>
    <label class="mg-label" style="width:220px"><%= t('renewal_period') %><span class="required-field">&nbsp;*</span></label>
    <br/>
   <%= f.text_field :renewal_period,:class=>"one_two mg-text-field" %>
</p>
<p>
    <label class="mg-label mg-label-text-transform-none" style="width:220px"><%= t('max_no_of_renewals_allowed') %><span class="required-field">&nbsp;*</span></label>
    <br/>
   <%= f.text_field :max_renewals_allowed,:class=>"one_two mg-text-field" %>
</p>
<p>
    <label class="mg-label" style="width:220px"><%= "#{"fine"}(#{"per day"})" %><span class="required-field">&nbsp;*</span></label>
    <br/>
   <%= f.text_field :fine_per_day,:class=>"one_two mg-text-field" %>
</p>
<p>
    <label class="mg-label" style="width:220px"><%= t('prefix') %><span class="required-field">&nbsp;*</span></label>
    <br/>
   <%= f.text_field :prefix,:class=>"mg-text-field library-resource-edit-prefix" %>
</p>
<p class="mg-p-mgtop">
    <button type="button" class="library-resource-edit-for-submit-class mg-small-form-btn"><%=t("save")%></button>
    <a onclick="$(this).closest('form').submit()" class="library-resource-edit-submit-class" style="display:none"><%#=t("save")%></a>
    <!-- <%#= f.submit t('save') ,:class=>"mg-small-form-btn"%> -->
    <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
</p>
<% end %>
<%= render  partial: 'application/common_left_close' %>

<script>
$( document ).ready(function() {
            focusCurrentTab("viewlibraryresource","viewlibraryresourceLiID");

            if ($("#library_is_non_issuable").is(":checked")) {

            $(".one_two").prop("disabled", true);
        } else {
            $(".one_two").prop("disabled", false);
        }
           
          //focusStudentHeaderBox();


$("#libraryResourceUpdateID").validate({

        rules: {        
        "library[name]": {required: true},
        "library[mg_resource_category_id]": {required: true},
        "library[mg_resource_category_id]": {required: true},
        "library[max_issuable_count]":{required: true,number:true,min:1},
        "library[max_borrow_day]": {required: true,number:true,min:1},
        "library[renewal_period]": {required: true,number:true,min:1},
        "library[max_renewals_allowed]": {required: true,number:true,min:1},
        "library[prefix]": {required: true},
        "library[fine_per_day]": {required: true,number:true}
      }
    });
});

$(document).on("click", ".library-resource-edit-for-submit-class", function(e){
    var changed_prefix=$(".library-resource-edit-prefix").val();
        var curr_prefix=$(".current-prefix-value-class").val();
        var urlLink = "/library/prefix_edit_validation/"+curr_prefix;
        if (curr_prefix==changed_prefix)
        {
              $(".library-resource-edit-submit-class").click();
        }else
        {
        // ========================================================
        $.ajax({
            url: urlLink ,
            cache: false,
            success: function(data){
              if(data>0)
                {
                    alert("Prefix cannot be changed.It has dependent inventory");
                    $(".library-resource-edit-prefix").empty();
                    var temp=$(".current-prefix-value-class").val();
                    $(".library-resource-edit-prefix").val(temp);
                }else{
                  //$(".library-resource-edit-submit-class").click();
                  redundantPrefix();
                }
            }
        });
        //========================================================
      }
});

function redundantPrefix(){
var prefix=$(".library-resource-edit-prefix").val();
        var urlLink = "/library/prefix_validation/"+prefix;
        $.ajax({
            url: urlLink ,
            cache: false,
            success: function(data){
              if(data>0)
                {
                    alert("The prefix has already been used");
                    $(".library-resource-edit-prefix").val("");
                }else{
                  $(".library-resource-edit-submit-class").click();
                }
              
            }
        });
}


$(document).on("change","#library_is_non_issuable",function(){
if ($(this).is(":checked")) {
            $(".one_two").val(" ");
            $(".one_two").prop("disabled", true);
        } else {
            $(".one_two").prop("disabled", false);
        }

});

</script>
