<table border="1" class="mg-showdata-bg mg-tbl-layout" cellspacing="1" cellpadding="1">
   <tr>
     <td class="mg-td-width-half" valign="top">
   		<label class="mg-label"> <%= t('subject')%></label>
   	 </td>
   	 <td class="mg-td-width-half" valign="top">
  		<%if @subject.name.present?%>
     <%=@subject.name%>
     <%else%>
     <%="No Data"%>
     <%end%>
  	 </td>
 </tr>
 <tr>
     <td class="mg-td-width-half" valign="top">
   		<label class="mg-label"> <%= t('description')%></label>
   	 </td>
   	 <td class="mg-td-width-half" valign="top">
  		<%if @subject.description.present?%>
     <%#=@library.description%>
     <p>
     <%=@subject.description%>
     </p>
 <%#= text_area_tag "details",@subject.description, :readonly => true, :class => "mg-text-field", :size=>15 ,:style=>"width: 500px; height: 100px;"%>

     <%else%>
     <%="No Data"%>
     <%end%>
  	 </td>
 </tr>

</table>
<br/>
<%= link_to 'Cancel', library_subject_path ,:style=>"font-size: 0.8em; color: #297ACC; text-decoration: none;" ,:class=>"mg-custom-form-btn"%>