<%= form_for :gradeSets, :url=>{:controller=>'examination',:action=>'cceBasic_gradeSetsUpdateData',:id=>@gradeSets.id},:html => {
                            :id => 'gradeSetEditDataCategoryNewFormId', :class => 'elm_class',
                            :style => 'elm_style' } do |f| %>

    


      <p>
         <label class="mg-label" for="name"> <%= t('name') %><span class="required-field">&nbsp;*</span></label><br/>
        <%= f.text_field :name ,:class=>"mg-text-field"%>
      </p>
     

<div style="display:none;">
      <p>
        <label for="is_deleted" class="mg-label "><%=t('status')%></label><br />
        <label for="is_deleted" class="mg-label-inner-form "><%=t('active')%></label>
        <%= f.radio_button :is_deleted, false , :checked => true%>
        <label for="is_deleted" class="mg-label-inner-form "><%=t('inactive')%></label>
        <%= f.radio_button :is_deleted, true %>
      </p>
</div>
<p>
       <%#= f.submit t('save') ,:class=>"mg-small-form-btn"%>
       <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn"><%=t("save")%></a>
        <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
</p>
<%end%>

<script>
 $("#gradeSetEditDataCategoryNewFormId").validate({
        //debug: true,
        rules: {
                  "gradeSets[name]": {required: true},
                  
        }
      });
 
</script>