<%= form_for :examCategory, :url=>{:controller=>'examination',:action=>'cceExamCategory_create'},:html => {
                            :id => 'cceExamCategoryNewFormId', :class => 'elm_class',
                            :style => 'elm_style' } do |f| %>

    <%= f.hidden_field :mg_cce_grades_sets_id ,:value=> @id%>
    <%= f.hidden_field :mg_school_id ,:value=> session[:current_user_school_id]%>


      <p>
       <label class="mg-label" for="name"> <%= t('name') %><span class="required-field">&nbsp;*</span></label><br/>
        <%= f.text_field :name ,:class=>"mg-text-field"%>
      </p>
     
<p>
        <label class="mg-label" for="description"> <%= t('description') %></label><br/>
        
        <%= f.text_area :description,:class=>"mg-text-field"%>
      </p>
     
<div style="display:none;">
      <p>
        <label for="is_deleted" class="mg-label "><%=t('status')%></label><br />
        <label for="is_deleted" class="mg-label-inner-form "><%=t('active')%></label>
        <%= f.radio_button :is_deleted, false , :checked => true%>
        <label for="is_deleted" class="mg-label-inner-form "><%=t('inactive')%></label>
        <%= f.radio_button :is_deleted, true %>
      </p>
</div>
<p>
       <%= f.submit t('save') ,:class=>"mg-small-form-btn"%>
        <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
</p>
<%end%>

<script>
 $("#cceExamCategoryNewFormId").validate({
        //debug: true,
        rules: {
                  "examCategory[name]": {required: true}
                  
                      
        }
      });
 
</script>