<!-- breadcrumbs Work -->
<% navigation_add 'Examinations', examinations_path %>
<% navigation_add 'CCE', examination_cce_new_path %>
<% navigation_add 'Basic Settings', examination_cceBasic_Settings_path %>
<% navigation_add 'Academic Session', examination_cceExamCategory_index_path %>

<!-- breadcrumbs Work -->




<%= render  partial: 'examination_table_left' %>
<h4 class="mg-h4">Academic Session</h4>
<div>
<button class="cceExam-category-datas mg-custom-form-btn" id="<%= @id%>">New </button><br/>


<div id="ccecategory_datas">
</div>
<div id="cceExam_category_datasEdit">
</div>

<table class="batch-tbl mg-tbl-margin" cellspacing="0" style="padding:0; border-collapse:collapse;">

 
<%if  @cceExamData[0].to_s.empty? %>
<h5><%="No Records Found"%></h5>
<%else%>
  <tr>
    <th>Academic Session</th>
    <th>Description</th>
    <th><%=t('actions')%></th>
  </tr>
  <% @cceExamData.each do |data| %>
    <tr>
      <td><%= data.name %></td>
      <td style="max-width:400px"><%= data.description %></td>

      <td>
        <a title="Edit" href="#" id=<%=raw data.id%> class="cceExamCategory-edit-class"><button class="mg-text-exam mg-icon-btn"><i class="fa fa-pencil-square-o"></i></button></a>

        <a title="Delete" href="#" id=<%=raw data.id%> class="cceExamCategory-delete-class"><button class="mg-text-exam mg-icon-btn"><i class="fa fa-trash"></i></button></a>
      </td>
    </tr>
  <% end %>
  <%end%>
</table> 
</div>
<%= render  partial: 'examination_table_close' %><br/>


<script type="text/javascript">
  $(document).ready(function() {
        focusCurrentTab("viewStudentListAId","viewStudentListLiId");
        focusExaminationHeaderBox();
  });

</script>