<%if @courseId==""%>
<%else%>

  <%= form_for :designations, :url=>{:controller=>'examination',:action=>'designation_create'},:html => {
                            :id => 'designationsCategoryCreateFormId', :class => 'elm_class',
                            :style => 'elm_style' } do |f| %>

    <%=f.hidden_field :mg_course_id,:value=>@courseId%>
    <%=f.hidden_field :mg_school_id,:value=>session[:current_user_school_id]%>

    <div> 
      <p>
        <label class="mg-label" for="name"> <%= t('name') %><span class="required-field">&nbsp;*</span></label><br/>
        <%= f.text_field :name ,:class=>"mg-text-field"%>
      </p>
     
      <p>
        <label class="mg-label" for="marks"> <%= t('marks') %><span class="required-field">&nbsp;*</span></label><br/>
        <%= f.text_field :marks ,:class=>"mg-text-field"%>
      </p>
    </div>
    <div style="display:none;">
      <p>
        <label for="is_deleted" class="mg-label "><%=t('status')%></label><br />
        <label for="is_deleted" class="mg-label-inner-form "><%=t('active')%></label>
        <%= f.radio_button :is_deleted, false , :checked => true%>
        <label for="is_deleted" class="mg-label-inner-form "><%=t('inactive')%></label>
        <%= f.radio_button :is_deleted, true %>
      </p>
    </div>
    <p>
      <%#= f.submit t('save') ,:class=>"mg-small-form-btn" %>
      <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn"><%=t("save")%></a>
     <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
    </p>
  <%end%>
<%end%>



<div id="rankingData" style="display:none">
  <h4 class="mg-h4">Student's Marks</h4>
  <table class="batch-tbl mg-tbl-margin" cellspacing="0" style="padding:0; border-collapse:collapse;">
   
    <%if  @designationData[0].to_s.empty? %>
      <h5><%="No Records Found"%></h5>
    <%else%>
      <tr>
        <th>Name</th>
        <th>Marks</th>
        <th><%=t('actions')%></th>
      </tr>
      <% @designationData.each do |data| %>
        <tr>
          <td><%= data.name %></td>
          <td><%= data.marks %></td>
         

          <td>
            <a title="Edit" href="#" id=<%=raw data.id%> class="designation-edit-class"><button class="mg-text-exam mg-icon-btn"><i class="fa fa-pencil-square-o"></i></button></a>
            <a title="Delete" href="#" id=<%=raw data.id%> class="designation-delete-class"><button class="mg-text-exam mg-icon-btn"><i class="fa fa-trash"></i></button></a>
          </td>
        </tr>
      <% end %>
    <%end%>
  </table>
</div>




<script>
 $("#designationsCategoryCreateFormId").validate({
        //debug: true,
        rules: {
                  "designations[name]": {required: true},
                  "designations[marks]": {required: true,number: true}
                  
                      
        }
      });
 
</script>