<%= form_for :designations, :url=>{:controller=>'examination',:action=>'designation_update',:id=>@designations.id},:html => {
                            :id => 'designationsEditCategoryCreateFormId', :class => 'elm_class',
                            :style => 'elm_style' } do |f| %>

    

  <div> 

      <p>
       <label class="mg-label" for="name"> <%= t('name') %><span class="required-field">&nbsp;*</span></label><br/>
        <%= f.text_field :name ,:class=>"mg-text-field"%>
      </p>
     
     
      <p>
         <label class="mg-label" for="marks"> <%= t('marks') %><span class="required-field">&nbsp;*</span>  </label><br/>
        <%= f.text_field :marks ,:class=>"mg-text-field"%>
      </p>
      <p>
<div style="display:none;">
      <p>
        <label for="is_deleted" class="mg-label "><%=t('status')%></label><br />
        <label for="is_deleted" class="mg-label-inner-form "><%=t('active')%></label>
        <%= f.radio_button :is_deleted, false , :checked => true%>
        <label for="is_deleted" class="mg-label-inner-form "><%=t('inactive')%></label>
        <%= f.radio_button :is_deleted, true %>
      </p>
</div>

<p>
      <%#= f.submit t('save') ,:class=>"mg-small-form-btn" %>
      <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn"><%=t("save")%></a>
      <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
</p>
      

<%end%>



<script>
 $("#designationsEditCategoryCreateFormId").validate({
        //debug: true,
        rules: {
                  "designations[name]": {required: true},
                  "designations[marks]": {required: true},
                  
                      
        }
      });
 
</script>

