
<%= form_for :rankings, :url=>{:controller=>'examination',:action=>'ranking_create'},:html => {
                            :id => 'rankingCategoryCreateFormId', :class => 'elm_class',
                            :style => 'elm_style' } do |f| %>

    <%=f.hidden_field :mg_course_id,:value=>@courseId%>

     <%
     @demo=MgRankingLevels.where(:mg_course_id=>@courseId,:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]).count
   #logger.info(@demo)
   @data=@demo+1
     %>
    <%=f.hidden_field :priority,:value=>@data%>
   


  <div class="mg-custom-labels"> 

      <p>
      <label class="mg-label" for="name"> <%= t('name') %><br/>
        <%= f.text_field :name ,:class=>"mg-text-field"%>
      </p>
     
      <p>
      <label class="mg-label" for="gpa"> <%= t('gpa') %><br/>
        <%= f.text_field :gpa ,:class=>"mg-text-field"%>
      </p>
      <p>
       <label class="mg-label" for="marks"> <%= t('marks') %><br/>
        <%= f.text_field :marks ,:class=>"mg-text-field"%>
      </p>
    <p>
 <label class="mg-label" for="marks_limit_type"> <%= t('marks_limit_type') %><br/>
 <%= f.select :marks_limit_type, options_for_select([["Select"],["Upper","upper"], ["Lower","lower"],["Exact","exact"]])%>
 </p>
       
    <p>
       <label class="mg-label" for="subject_count"> <%= t('subject_count') %><br/>
        <%= f.text_field :subject_count ,:class=>"mg-text-field"%>
      </p>
      <p>
       <label class="mg-label" for="subject_limit_type"> <%= t('subject_limit_type') %><br/>
      <%= f.select :subject_limit_type, options_for_select([["Select"],["Upper","upper"], ["Lower","lower"],["Exact","exact"]])%>
    </p>

    <p>
       <label class="mg-label" for="full_course_duration"> <%= t('full_course_duration') %><br/>
        <%= f.check_box :full_course ,:class=>"mg-text-field" ,:style=>"position: relative; left: -5em;"%>
      </p>
<div style="display:none;">
      <p>
        <label for="is_deleted" class="mg-label "><%=t('status')%></label><br />
        <label for="is_deleted" class="mg-label-inner-form "><%=t('active')%></label>
        <%= f.radio_button :is_deleted, false , :checked => true%>
        <label for="is_deleted" class="mg-label-inner-form "><%=t('inactive')%></label>
        <%= f.radio_button :is_deleted, true %>
      </p>
</div>

      <br/>
      <%= f.submit t('save') ,:class=>"mg-small-form-btn"%><br>
<%end%>


<h4 class="mg-h4">Ranking Level</h4>

<div id="rankingData" style="display:none">
<table class="batch-tbl mg-tbl-margin" cellspacing="0" style="padding:0;width:50%;height:100%; border-collapse:collapse;">
<%
 @rankingData=MgRankingLevels.where(:mg_course_id=>@courseId,:is_deleted=>0,:mg_school_id=>session[:current_user_school_id])
 %>
 <%puts @rankingData.inspect%>
 
<%if  @rankingData[0].to_s.empty? %>
<%="No Records Found"%>
<%else%>

  <tr>
    <th>Name</th>
    <th>Marks</th>
    <th>Subject Count</th>
    <th colspan="2"><%=t('actions')%></th>
  </tr>
  <% @rankingData.each do |data| %>
    <tr>
      <td><%= data.name %></td>
      <td><%= data.marks %></td>
      <td><%= data.subject_count %></td>

      <td>
        <a title="Edit" href="#" id=<%=raw data.id%> class="ranking-edit-class mg-icon-btn"><i class="fa fa-pencil-square-o"></i></a>
        <a title="Delete" href="#" id=<%=raw data.id%> class="ranking-delete-class mg-icon-btn"><i class="fa fa-trash"></i></a>
      </td>
    </tr>
  <% end %>
  <%end%>
</table>
</div>



<script>
 $("#rankingCategoryCreateFormId").validate({
        //debug: true,
        rules: {
                  "rankings[name]": {required: true},
                  "rankings[gpa]": {required: true},
                  "rankings[marks]": {required: true},
                  "rankings[marks_limit_type]": {required: true},
                  "rankings[subject_count]": {required: true},
                  "rankings[subject_limit_type]": {required: true},
                 

                      
        }
      });
 
</script>