
<%= form_for :indicator, :url=>{:controller=>'examination',
  :action=>'scholastic_formativeIndicatorUpdate',:id=>@indicator.id},:html => {:id => 'indicatorsEditSetDataCategoryNewFormId', :class => 'elm_class',:style => 'elm_style' } do |f| %>

      <%= f.hidden_field :mg_fa_criteria_id,:value=>@ids%>
      <%= f.hidden_field :describable_type,:value=>"FaCriteria"%>
  <div > 

      <p>
        <label class="mg-label" for="name"> <%= t('name') %><span class="required-field">&nbsp;*</span></label><br/>
        <%= f.text_field :name ,:class=>"mg-text-field"%>
      </p>
      <p>
         <label class="mg-label" for="description"> <%= t('description') %></label><br/>
        <%= f.text_area :description,:class=>"mg-text-field"%>
      </p>
      <p>
         <label class="mg-label" for="total_marks"> <%= t('total_marks') %></label><br/>
        <%= f.text_field :total_marks,:class=>"mg-text-field"%>
      </p>
<div style="display:none;">
  <p>
    <label for="is_deleted" class="mg-label "><%=t('status')%></label><br />
    <label for="is_deleted" class="mg-label-inner-form "><%=t('active')%></label>
    <%= f.radio_button :is_deleted, false , :checked => true%>
    <label for="is_deleted" class="mg-label-inner-form "><%=t('inactive')%></label>
    <%= f.radio_button :is_deleted, true %>
  </p>
</div>
<p class="mg-p-mgtop">
  <%#= f.submit t('save') ,:class=>"mg-small-form-btn"%>
  <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn"><%=t("save")%></a>
  <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
</p>
<%end%>


<script>
 $("#indicatorsEditSetDataCategoryNewFormId").validate({
        //debug: true,
        rules: {
                  "indicator[name]": {required: true},
                   
        }
      });
 
</script>