<!-- Sec --> 

<%= form_for @employee_department,  html: {role: :form} do |f| %>

  <%= f.hidden_field :is_deleted, :value => 0 %>
  <%= f.hidden_field :mg_school_id, :value => session[:current_user_school_id] %>
    <p>
     <%= f.label :Department_Name ,:class=>"mg-label"%><span class="required-field"> *</span><br>
    <%= f.text_field :department_name ,:class=>"mg-text-field"%>
    </p>
       <p>
    <%= f.label :Department_Code ,:class=>"mg-label"%><span class="required-field"> *</span><br>
    <%= f.text_field :department_code ,:class=>"mg-text-field"%>
  </p>
<div style="display:none">
    <p>
   
      <%= f.label :Status ,:class=>"mg-label"%>       <br />
      <%= f.label :status, t("active"), :value => "true" ,:class=>"mg-label-inner-form"  %>
      <%= f.radio_button :status, false , :checked => true%>
      <%= f.label :status, t("inactive"), :value => "false" ,:class=>"mg-label-inner-form" %>
      <%= f.radio_button :status, true %> <br />
    </p>
</div>
  <p>
    <%#= f.submit "Submit" ,:id => "DepartmentFormID" ,:class=>"mg-small-form-btn"%>
    <a onclick="$(this).closest('form').submit()" id="DepartmentFormID" class="mg-small-form-btn"><%=t("save")%></a>
     <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
  </p>
  
<% end %>

<!-- <span class="mg-cncl-btn-align">
<button class="cancel-form-dialog btn btn-cancel"><%#= t('cancel') %></button>
</span> -->

<!-- <button class="cancel-form-dialog"><%#= t('cancel') %></button> -->

<script>
  $(document).ready(function(){
    $("#new_mg_employee_department").validate({
                      rules: {
                "mg_employee_department[department_name]": {required: true},
                "mg_employee_department[department_code]": {required: true},
                "mg_employee_department[status]": {required: true}
                }
    });
  });


</script>
