<%= render partial:'alumni_left'%>
<%=hidden_field_tag :total_uploaded_image,@total_photos%>

<%if session[:user_type]=="Alumni"%>
<% navigation_add t('upload_photo'), photo_gallery_path %>
<% navigation_add t('photos'), :controller=>'alumni',:action=>'upload_photo_gallery',:id=>params[:id] %>
<%else%>
<% navigation_add t('uploaded_gallery'), photo_gallery_path %>
<% navigation_add t('photos'), :controller=>'alumni',:action=>'upload_photo_gallery',:id=>params[:id] %>
<%end%>

<p class="cusome-mg-p-mgtop">
  <%= link_to t('back'), {:action=>'photo_gallery'}, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
  <%if session[:user_type]!="Alumni"%>
    <a onclick="acceptSelectedPhotos()" style="margin-left: 506px;" id="acceptSelectedAlbumPhoto" class="submit mg-small-form-btn"><%=t("accept")%></a> 
      <a onclick="rejectSelectedPhotos()" id="rejectSelectedAlbumPhoto" class="submit mg-small-form-btn"><%=t("reject")%></a>
  <%end%>
</p>


<h4 class="mg-h4"><%= t('shared_photos')%></h4>
<%= form_for :photos, url: delete_gallery_photos_path, :html => {:id => 'photosGalleryFormID' } do |h| %>
  <%=hidden_field_tag :submitted_form_for,"delete_photos"%>
  <%=hidden_field_tag :id,params[:id]%>
  <%if @photos.present?%>
    <div id="links-1" class="mg-scroll-employee-bar">
      <%@photos.each do |image_list|%>
        <a href="<%=image_list.image.url%>" title="" id="openImageAID">
          <%=image_tag image_list.image,:size => "260x180" ,:class=>"mg-thumb-album open-image-A-cls"%>
          <%#= video_tag image_list.image.url.to_s, controls: true %>
        </a> 
        <%= check_box_tag 'mg_album_photos_id[]', image_list.id, false ,{:class=>"albumb-delete-photos-cls"}%>
      <%end%>
    </div>
  <%else%>
    <div id="links-1"></div>
    <h5>No Photo availabe...</h5>
  <%end%>

  <h4 class="mg-h4"><%= t('pending_photos')%></h4>
  <%if @pending_photos.present?%>
    <div id="links-2" class="mg-scroll-employee-bar">
      <%@pending_photos.each do |image_list|%>
        <a href="<%=image_list.image.url%>" title="" id="openImageAID">
          <%=image_tag image_list.image,:size => "260x180" ,:class=>"mg-thumb-album open-image-A-cls"%>
          <%#= video_tag image_list.image.url.to_s, controls: true %>
        </a> 
        <%= check_box_tag 'mg_album_photos_id[]', image_list.id, false ,{:class=>"albumb-delete-photos-cls"}%>
      <%end%>
    </div>
    
  <%else%>
    <div id="links-2"></div>
    <h5>Add some photos for album...</h5>
  <%end%>

  <h4 class="mg-h4"><%= t('rejected_photos')%></h4>
  <%if @rejected_photos.present?%>
    <div id="links-3" class="mg-scroll-employee-bar">
      <%@rejected_photos.each do |image_list|%>
        <a href="<%=image_list.image.url%>" title="" id="openImageAID">
          <%=image_tag image_list.image,:size => "260x180" ,:class=>"mg-thumb-album open-image-A-cls"%>
          <%#= video_tag image_list.image.url.to_s, controls: true %>
        </a> 
        <%= check_box_tag 'mg_album_photos_id[]', image_list.id, false ,{:class=>"albumb-delete-photos-cls"}%>
      <%end%>
    </div>
    
  <%else%>
    <div id="links-3"></div>
    <h5>No rejected photos are available in album...</h5>
  <%end%>

  <p class="mg-p-mgtop">
    <%if session[:user_type]=="Alumni"%>
      <a onclick="deleteSelectedPhotos()" id="deleteSelectedPhotosAID" class="submit mg-small-form-btn"><%=t("delete_selected_photos")%></a> 
    <%else%>
      <%= h.submit "save",:id=>"submitPhotoAlbumForm" ,:class=>"mg-small-form-btn" ,:style=>"display:none"%>
    <%end%>
    </p> 

<%end%>


<div id="blueimp-gallery" class="blueimp-gallery">
    The container for the modal slides
    <div class="slides"></div>
     Controls for the borderless lightbox 
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
 The modal dialog, which will be used to wrap the lightbox content 
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
  <%if session[:user_type]=="Alumni"%> 
    <h4 class="mg-h4"><%= t('upload_photos')%></h4>
    <%= form_for :photos, url: photo_gallery_save_path, :html => {:id => 'photoGalleryFormID', :multipart=>true } do |f| %>
      <label class="mg-label mg-rm-text-trans" for="upload_file" ><%= t('upload_images') %><span class="required-field">&nbsp;*</span> </label>
      <div class="image-upload-for-event-cls"  style="float: left; width: 100%;">
        <span class="image-upload-spam-cls" style="float: left;">
          <%= file_field_tag "file[]",:onchange =>"validatedImages(this.value,this, this.src);", :class=>"image-upload-cls", :id=>"photoUploadID"%>
        </span>
        <a class="emp-remove-images-uploaded mg-custom-form-btn mg-icon-btn" style="color: #297ACC; font-size:0.8em; float: left; position: relative; right: 0px; margin-top: 3px;"><i class="fa fa-trash"></i></a><br/>
      </div><br/>
        <a id="addImageUploadedsAID" class="mg-label-inner-form mg-custom-form-btn mg-icon-btn" style="color: #297ACC; font-size:0.8em;" ><i class="fa fa-plus">&nbsp;<%=t('add_images')%></i></a><br/>
      </br>
      <%=hidden_field_tag :mg_alumni_photo_gallery_id,params[:id]%>

      <p class="mg-p-mgtop">
        <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn"><%=t("save")%></a>
        <%= link_to t('cancel'), {:action=>'photo_gallery'}, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
      </p>
    <% end %> 
  <% end %> 

<%= render  partial: 'application/common_left_close' %>



<script>

  $(document).ready(function () {
   
    $("#deleteSelectedPhotosAID").contents().unwrap().wrap("<button id='deleteSelectedPhotosAID' class='mg-small-form-btn'></button>");
    $('#deleteSelectedPhotosAID').attr("disabled", "true");
    
    focusCurrentTab("PhotoGalleryAID","PhotoGalleryLiID");
      
    $("#photoGalleryFormID").validate({
      rules: {
        "file[]": {required: true}//,
      }
    });
  });

  $(document).on("click", ".albumb-delete-photos-cls", function(e){
    $('#hideDeleteButtonFormID').attr("disabled", false);
    $("#deleteSelectedPhotosAID").contents().unwrap().wrap("<a onclick='$(this).closest("+'"form"'+").submit()' id='deleteSelectedPhotosAID' class='mg-small-form-btn'></a>");
  });

  $(document).on("click", ".albumb-delete-photos-cls", function(e){ 
    var delete_photo=$("input#mg_album_photos_id_").is(':checked');
    if(!delete_photo){
       $("#deleteSelectedPhotosAID").contents().unwrap().wrap("<button id='deleteSelectedPhotosAID' class='mg-small-form-btn'></button>");
       $('#deleteSelectedPhotosAID').attr("disabled", "true");
    }
  });

  $(document).on("click", "#deleteUnSelectedPhotosAID", function(e){ 
    var delete_photo=$("input#mg_album_photos_id_").is(':checked');
    $(".albumb-delete-photos-cls").prop('checked', false);
    $("#deleteSelectedPhotosAID").contents().unwrap().wrap("<button id='deleteSelectedPhotosAID' class='mg-small-form-btn'></button>");
    $('#deleteSelectedPhotosAID').attr("disabled", "true");
  });

  function validatedImages(inputFile, that, src) {

    if ( that.files && that.files[0]) {
      var reader = new FileReader();
      reader.onload = imageIsLoaded(that);
      reader.readAsDataURL(that.files[0]);
    }
    var allowedExtension = ["jpg", "jpeg", "gif", "png"];
    var extName = inputFile.split('.');

    if($.inArray(extName[1], allowedExtension) == -1){
      window.alert("Only image file with extension: .jpg, .jpeg, .gif or .png is allowed");
      // $(that).src('');
      $(that).removeAttr("src").val('');
    }else{
      if (typeof (that.files) != "undefined") {
        var size = parseFloat(that.files[0].size / 1024).toFixed(2);
        if (size>300){;
          alert("Not allowed more than 300 KB image size");
          $(that).removeAttr("src").val('');
        }else{
          var uploaded_photos=$("#total_uploaded_image").val();
          count=0
          $( ".image-upload-cls" ).each( function(){
              // console.log( $( this ).text() );
            if ($(this).val()!=''){
              count=count+1;
            };
          });
          total_image=parseInt(uploaded_photos)+parseInt(count);
          if (total_image>25){
            alert("Sorry you have reached maximum limit. Please delete previous images to continue.");
            $(that).removeAttr("src").val('');
          }
        }
      }
    }
  } 

  function imageIsLoaded(that) {
  };

  $(document).on("click", ".emp-remove-images-uploaded", function(e){
    var total = $('.emp-remove-images-uploaded').length
    if(total!=1){
      $(this).parent('div').remove();
    }
  });

  $(document).on("click", "#addImageUploadedsAID", function(e){
    var lastRepeatingGroup = $('.image-upload-for-event-cls').last();
    var cloned = lastRepeatingGroup.clone();
    cloned.find('input').val('');
    cloned.find('input').attr('class',"image-upload-cls");
    cloned.find('label').remove('');
    cloned.find('img').val('');
    $(cloned.find('img')).attr('src', '');
    cloned.insertAfter( lastRepeatingGroup );
    return false;
  }); 


  document.getElementById('links-1').onclick = function (event) {
    if (event.target.id != "mg_album_photos_id_") {
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event},
          links = this.getElementsByTagName('a');
       blueimp.Gallery(links, options);
    }
  };

  document.getElementById('links-2').onclick = function (event) {
    if (event.target.id != "mg_album_photos_id_") {
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event},
          links = this.getElementsByTagName('a');
       blueimp.Gallery(links, options);
    }
  };

  document.getElementById('links-3').onclick = function (event) {
    if (event.target.id != "mg_album_photos_id_") {
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event},
          links = this.getElementsByTagName('a');
       blueimp.Gallery(links, options);
    }
  };

  function acceptSelectedPhotos(){
    $("#submitted_form_for").val("accept_photos")
    $("#submitPhotoAlbumForm").click();
  }

  function rejectSelectedPhotos(){
    $("#submitted_form_for").val("reject_photos")
    $("#submitPhotoAlbumForm").click();
  }

</script>

<style>
  body {
    overflow: visible !important;
  }

  #openImageAID {
    text-decoration: none;
  }
  .cusome-mg-p-mgtop {
    margin-bottom: 1.0em;
    margin-top: 0.1em;
  }
</style>