<%#= render  partial: 'master_settings/master_settings_left.html' %>
<%= render  partial: 'laboratory/laboratry_left' %>
<% navigation_add t('manage_item_type'), "/laboratory/item/" %>

<h4 class="mg-h4"><%= t('manage_item_type') %></h4>
<button class="new-add-laboratory-item mg-btn-bottom-margin mg-custom-form-btn"><%= t('add_item_type')%></button>

<!-- <%#= button_to 'Add Laboratory', {:controller => "laboratory", :action => "new" } ,:class=>"mg-custom-form-btn"%> -->
<div class="mg_pagination">
<%if @item.length>0%>
<table  class="batch-tbl mg-tbl-margin">   <!-- border="2" --> 
  <tr class="subject-table-header">
    <!-- <th>Subject Id</th> -->
    <th><%= t('item_type') %></th>
    <th><%= t('description') %></th>
    <th><%= t('is_issuable') %></th>
    <th style="width: 92px;"><%= t('action') %></th>

  </tr>
 
  <% @item.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td class="mg-desc-text-justify">
      <%=truncate(item.description.to_s, :length => 25, :separator => ' ')%></td>
      <td><%= (item.try(:is_issuable))? "Yes" : "No" %></td>
      <td>
      	
      <button title="Show" id="<%=raw item.id %>-showlabBTNID" class="show-laboratory-item-btn mg-icon-btn"><i class="fa fa-eye"></i></button>

        <button title="Edit" id="<%=raw item.id %>-editlabBTNID" class="edit-laboratory-item-btn mg-icon-btn"><i class="fa fa-pencil-square-o"></i></button>

        <button title="Delete" id="<%=raw item.id %>-deletelabBTNID" class="delete-laboratory-item-btn mg-icon-btn"><i class="fa fa-trash"></i></button>

        <%#= link_to "<i class=\"fa fa-trash\"></i>".html_safe, {:controller => "laboratory", :action => "delete",:id =>lab.id }, :method=>'post' ,:title=>"Delete" ,:class=>"mg-icon-btn",data: { confirm: 'Are you sure to delete?' } %>

      </td>

    </tr>
  <% end %>
</table>
<br/>
 <div class="pagination-align" style="position: relative; bottom: 10px;">
              <%= will_paginate @item, :container => false %>
           </div>
<%else%>
<h5>No item is created </h5>
<%end%>
</div>
<div id="newAddLaboratoryItemDIVID"></div>
<div id="editLaboratoryItemDIVID"></div>


<div id="showLaboratoryItemDIVID"></div>


<%= render  partial: 'application/common_left_close' %>

<script>
$( document ).ready(function() {
             focusCurrentTab("viewLabInventoryItemIndex","viewLabInventoryItemLiID");
          //focusStudentHeaderBox();
});





$(document).on("click", ".show-laboratory-item-btn", function(e){
        var myID =$(this).attr('id');
        var Id=myID.split("-");
        var urlLink = "/laboratory/item_show/"+Id[0];
        $.ajax({
            url: urlLink ,
            cache: false,
            success: function(html){
                  $('#showLaboratoryItemDIVID').dialog({
                    modal: true,
                     minHeight: 'auto',
                    width: 'auto',
                    title: "Show Item Type",
                    open: function () {
                        
                        $(this).html(html);
                    }
                }); 
               
            }
        });
});


$(document).on("click", ".edit-laboratory-item-btn", function(e){
        var myID =$(this).attr('id');
        var Id=myID.split("-");
        var urlLink = "/laboratory/item_edit/"+Id[0];
        $.ajax({
            url: urlLink ,
            cache: false,
            success: function(html){
                  $('#editLaboratoryItemDIVID').dialog({
                    modal: true,
                     minHeight: 'auto',
                    width: '290px',
                    title: "Edit Item Type",
                    open: function () {
                        
                        $(this).html(html);
                    }
                }); 
               
            }
        });
});

$(document).on("click", ".new-add-laboratory-item", function(e){
        var urlLink = "/laboratory/item_new";
        $.ajax({
            url: urlLink ,
            cache: false,
            success: function(html){
                  $('#newAddLaboratoryItemDIVID').dialog({
                    modal: true,
                     minHeight: 'auto',
                    width: '290px',
                    title: "Add Item Type",
                    open: function () {
                        
                        $(this).html(html);
                    }
                }); 
               
            }
        });
});
</script>
<style>


.table-batchs-tbl {
   /* font-family: verdana,arial,sans-serif;*/
    font-size:13px;
    color:#363131;
    border-width: 1px;
    border-color:  #363131;
    border-collapse: collapse;
    padding: 12px ;
    font-size: 0.8em;
    width: 261px !important;
    /* margin-left: 2px; */
}
</style>


