
<%if session[:user_type]=="employee"%>
<%= render  partial: 'laboratory/laboratry_left' %>

<%else%>
<% navigation_add t('about_inventory'), "/laboratory/management/" %>
<% navigation_add t('new'), "/laboratory/management_new/" %>

<%= render  partial: 'laboratory/laboratry_left' %>
<%end%>
<%
 @isUserIncharge=0
  if session[:user_type]=="employee"
    employee=MgEmployee.find_by(:mg_user_id=>session[:user_id])
    inchargeCount=MgLaboratoryIncharge.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id],:mg_employee_id=>employee.id,:incharge_type=>"Incharge").count
    if inchargeCount>0
      @isUserIncharge=1
      @inchargeSubject=MgLaboratoryIncharge.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id],:mg_employee_id=>employee.id,:incharge_type=>"Incharge").pluck(:mg_subject_id)
      @lab_ids=MgLab.where(:mg_laboratory_subject_id=>@inchargeSubject[0]).pluck(:id)
    end
  end
%>

<h4 class="mg-h4"><%= t('add_inventory') %></h4>

<%= form_for :laboratry, url: laboratory_management_create_path, :html => {
                            :id => 'labmanagementCreateID' } do |f| %>
<%= f.hidden_field :is_deleted, :value => 0 %>
<%= f.hidden_field :mg_school_id, :value => session[:current_user_school_id] %>
<%= f.hidden_field :created_by, :value => session[:user_id] %>
<%= f.hidden_field :updated_by, :value => session[:user_id] %>
<p>
      <label class="mg-label mg-tt-width" style="width:185px"><%= t('select_subject') %><span class="required-field">&nbsp;*</span></label>
      <%#= f.label :select_subject ,:class=>"mg-label"%><!-- <span class="required-field"> *</span><br> -->
      <%if @isUserIncharge==1%>
      <%= f.collection_select(:mg_laboratory_subject_id,MgLaboratorySubject.where("is_deleted=? and mg_school_id=? and id IN (?)",0,session[:current_user_school_id],@inchargeSubject[0]), :id, :name,{:include_blank => t("select")},:class => "call-purpose-class lab-laboratory-management-details-class mg-select-btn")%>
      <%else%>
      <%= f.collection_select(:mg_laboratory_subject_id,MgLaboratorySubject.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]), :id, :name,{:include_blank => t("select")},:class => "call-purpose-class lab-laboratory-management-details-class mg-select-btn")%>
      <%end%>
      
</p>

<!-- ============================================================================================= -->

<p>
<label class="mg-label mg-tt-width" style="width:185px"><%= t('select_lab') %><span class="required-field">&nbsp;*</span></label>
<%if @isUserIncharge==1%>
<%= f.collection_select(:mg_lab_id,MgLab.where("is_deleted=? and mg_school_id=? and id IN (?)",0,session[:current_user_school_id],@lab_ids[0]), :id, :lab_name,{:include_blank => t("select")},:class => "call-purpose-class lab-details-class mg-select-btn")%>

<%else%>
<%= f.collection_select(:mg_lab_id,MgLab.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]), :id, :lab_name,{:include_blank => t("select")},:class => "call-purpose-class lab-details-class mg-select-btn")%>

<%end%>
</p>
<!-- ================================================================================================= -->


<p>
      <label class="mg-label mg-tt-width" style="width:185px"><%= t('select_room') %><span class="required-field">&nbsp;*</span></label>
      <%#= f.label :select_room ,:class=>"mg-label"%><!-- <span class="required-field"> *</span><br> -->
      <%= f.select :mg_laboratory_room_id, [ ], {:include_blank => t('Select')} ,:class=>"call-purpose-class laboratory-category-room-new-class mg-select-btn" %>
</p>





<p>
<label class="mg-label" style="width:185px"><%= t('select_category') %><span class="required-field">&nbsp;*</span></label>
<%#= f.collection_select(:mg_category_id),{:include_blank => t("select")},:class => "call-purpose-class")%>

<%= f.select :mg_category_id, [ ], {:include_blank => t('Select') ,:class=>"call-purpose-class laboratry-management-category-type-new-class"} %>
</p>

<p>
    <label class="mg-label" style="width:185px"><%= t('item_identification_number') %><span class="required-field">&nbsp;</span></label>
    
   <%= f.text_field :item_identification_number,:class=>"mg-text-field",:id=>"laboratory_new_resource_number_ID",:readonly=>true %>
</p>

<p>
    <label class="mg-label" style="width:185px"><%= t('item_name') %><span class="required-field">&nbsp;*</span></label>
   <%= f.text_field :item_name,:class=>"mg-text-field" %>
</p>
<p class="formfield">
    <label class="mg-label" style="width:185px"><%= t('item_description') %></label>
   <%= f.text_area :item_description,:class=>"mg-text-field" %>
</p>


<p>
    <label class="mg-label" style="width:185px"><%= t('valid_upto') %><span class="required-field">&nbsp;*</span></label>
    <%= f.text_field :valid_upto,:class=>"mg-text-field" %>
</p>

<p>
    <label class="mg-label" style="width:185px"><%= t('quantity') %><span class="required-field">&nbsp;*</span></label>
   <%= f.text_field :quantity,:class=>"mg-text-field" %>
</p>
<p>
<label class="mg-label" style="width:185px"><%= t('select_unit') %><span class="required-field">&nbsp;*</span></label>
<%= f.collection_select(:mg_unit_id,MgLabUnit.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]), :id, :unit_name,{:include_blank => t("select")},:class => "call-purpose-class mg-select-btn")%>
</p>

<p>
    <label class="mg-label" style="width:185px"><%= t('item_location') %><span class="required-field">&nbsp;</span></label>
    <%= f.text_field :item_location,:class=>"mg-text-field" %>
</p>


<p class="mg-p-mgtop">
      <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn"><%=t("save")%></a>   
    
    <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
</p>
<% end %>

<%= render  partial: 'application/common_left_close' %>
<script>


$( document ).ready(function() {
         focusCurrentTab("viewLabInventryManagementIndex","viewLabInventryManagementLiID");
         dateFormatStr =  getJsDateFormat();
    $('#laboratry_valid_upto').datepicker({ changeMonth: true,
                changeYear: true,yearRange: "-50:+50",dateFormat: dateFormatStr});
});


// ================================subject and room=================================

  $(".lab-laboratory-management-details-class").change(function(){
      var subjectID = $( ".lab-laboratory-management-details-class" ).val();
      var apdStr = '<option value="">Choose Subject</option>';
      $("#laboratry_mg_laboratory_room_id").empty().append(apdStr);
      if(subjectID > 0) {
           var urlLink = "/laboratory/room_list/"+subjectID;
           $.ajax({ 
               url: urlLink,
               cache: false,
               success: function(data){
                 // console.log();
                  if(data.length > 0){
                      var apdStr = '<option value="select">Select</option>';
                     for(key in data){
                        apdStr += '<option value="'+data[key].id+'">'+data[key].room_no+'</option>'
                      }
                    // console.log(apdStr);
                      $("#laboratry_mg_laboratory_room_id").empty().append(apdStr);
                      subjectToLab();

                  }

               }
                  
           });

    }else{
      var apdStr = '<option value="">Choose Subject</option>';
      $("#laboratry_mg_laboratory_room_id").empty().append(apdStr);
      // alert("Please select category");
    }
  });


// =======================================================================================================

// ================================subject and Lab=================================

  function subjectToLab(){
        var subjectID = $( ".lab-laboratory-management-details-class" ).val();
      var apdStr = '<option value="">Choose Subject</option>';
      $("#laboratry_mg_lab_id").empty().append(apdStr);
      if(subjectID > 0) {
           var urlLink = "/laboratory/lab_list/"+subjectID;
           $.ajax({ 
               url: urlLink,
               cache: false,
               success: function(data){
                  console.log(data);
                  if(data.length > 0){
                      var apdStr = '<option value="select">Select</option>';
                     for(key in data){
                        apdStr += '<option value="'+data[key].id+'">'+data[key].lab_name+'</option>'
                      }
                    // console.log(apdStr);
                      $("#laboratry_mg_lab_id").empty().append(apdStr);

                  }

               }
                  
           });

    }else{
      var apdStr = '<option value="">Choose Subject</option>';
      $("#laboratry_mg_lab_id").empty().append(apdStr);
      // alert("Please select category");
    }
  }
      
  


// =======================================================================================================









      $(".lab-details-class").change(function(){
      var labID = $( ".lab-details-class" ).val();
      var apdStr = '<option value="">Choose Category</option>';
      $("#laboratry_mg_category_id").empty().append(apdStr);
      if(labID > 0) {
           var urlLink = "/laboratory/category_list_for_purchase/"+labID;
           $.ajax({ 
               url: urlLink,
               cache: false,
               success: function(data){
                 // console.log();
                  if(data.length > 0){
                      var apdStr = '<option value="select">Select</option>';
                     for(key in data){
                        apdStr += '<option value="'+data[key].id+'">'+data[key].category_name+'</option>'
                      }
                    // console.log(apdStr);
                      $("#laboratry_mg_category_id").empty().append(apdStr);

                  }

               }
                  
           });

    }else{
      var apdStr = '<option value="">Choose Category</option>';
      $("#laboratry_mg_category_id").empty().append(apdStr);
      // alert("Please select category");
    }
  });


 $(".lab-details-class").change(function(){


 });


$(function () {
    $.validator.addMethod('dateFormat',
    function (value, element) {
      dateFormatStr =  getJsDateFormat();
        if (this.optional(element)) {
            return true;
        }
        var ok = true;
        try {
            $.datepicker.parseDate(dateFormatStr, value);
        }
        catch (err) {
            ok = false;
        }
        return ok;
    },
      "Please enter a date in the format "+ getDateFormat(dateFormatStr) +".");
      dateFormatStr =  getJsDateFormat();

    $(".datefield").datepicker({ dateFormat: dateFormatStr, changeYear: true });
});

$("#labmanagementCreateID").validate({
        rules: {   
        "laboratry[valid_upto]": {dateFormat: true,required: true}, 
        "laboratry[mg_lab_id]": {required: true}, 
        "laboratry[mg_category_id]": {required: true},    
        "laboratry[item_name]": {required: true, maxlength: 35},
        "laboratry[quantity]": {required: true, number: true},
        "laboratry[mg_laboratory_subject_id]": {required: true},
        "laboratry[mg_laboratory_room_id]": {required: true},
   //     "laboratry[item_location]": {required: true, number: true},
        "laboratry[mg_unit_id]": {required: true}
      }
    });


$(document).on('change','#laboratry_mg_category_id',function(e){

      var type_id = $(this).val();
      if(type_id > 0) {
           var urlLink = "/laboratory/auto_resource_number/"+type_id;
           $.ajax({ 
               url: urlLink,
               cache: false,
               success: function(data){
                if (!(data==""))
                {
                  $("#laboratory_new_resource_number_ID").val(data);
                }
                else
                {
                  $("#laboratory_new_resource_number_ID").val("");
                }
               }
           });
    }else{
       $("#laboratory_new_resource_number_ID").val("");
    }
  });










</script>
<style>
.formfield * {
    vertical-align: middle;
}
</style>