<!-- Sec --> 
 
 <p>
 	 <strong> <%=t("subjectname")%>:</strong>
  <%= @subjects.subject_name %>
 </p>


<p>
  <strong><%=t("subjectcode")%>:</strong>
  <%= @subjects.subject_code %>
</p>
 

 
 <p>
 	<strong><%=t("maxweeklyclass")%>:</strong>
  
    <%= @subjects.max_weekly_class %>
  </p>
