
<%= render  partial: 'hostel_management_left' %>
<% navigation_add t('health_management'), :controller=>'hostel_management', :action=>'health_management' %>

  <% navigation_add t('new_health_management'),:controller=>'hostel_management',:action=>'health_management_new' %>

  <h4 class="mg-h4"><%=t('add_health_management')%></h4>


<%= form_for :health_management , url: @action=="new" ? 'health_management_create' :
 '/hostel_management/'+@health_managements.try(:id).to_s+'/health_management_update',:html => {:id => 'hostel_roomsID' } do |f| %>



  <%= f.hidden_field :mg_school_id, :value => session[:current_user_school_id]%>
  <%= f.hidden_field :created_by, :value => session[:user_id]%> 
  <%= f.hidden_field :updated_by, :value => session[:user_id]%> 
  <%= f.hidden_field :is_deleted, :value => 0%>

<p>
    <%= f.label :select_hostel, t('hostel') ,:class=>"mg-label mg-rm-text-trans"%><br>
    <%# hostel_data=MgHostelDetails.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]).pluck(:name,:id)%>
    <% if @action=='new'%>
      <%#=f.select :mg_hostel_details_id,options_for_select(hostel_data),{include_blank: false,:prompt=>"Select"},:onchange => 'roomNo();' ,:class=> 'mg-text-field room-no'%>
      <%hostel_warden=MgHostelWarden.find_by(:mg_user_id=>session[:user_id],:is_deleted=>0,:mg_school_id=>session[:current_user_school_id])
        hostel_details=MgHostelDetails.find_by(:id=>hostel_warden.mg_hostel_details_id)
        %>
        <%= f.hidden_field :mg_hostel_details_id ,:value=>hostel_warden.mg_hostel_details_id%>
        <%= text_field_tag :mg_hostel_id ,hostel_details.try(:name),:readonly=>true,:class=>"mg-text-field"%>
    <% else %> 
    <%hostel_warden=MgHostelWarden.find_by(:mg_user_id=>session[:user_id],:is_deleted=>0,:mg_school_id=>session[:current_user_school_id])
        hostel_details=MgHostelDetails.find_by(:id=>hostel_warden.mg_hostel_details_id)

        %>
        <%= f.hidden_field :mg_hostel_details_id ,:value=>hostel_warden.mg_hostel_details_id%>
        <%= text_field_tag :mg_hostel_id ,hostel_details.try(:name),:readonly=>true,:class=>"mg-text-field"%>
      <%#=f.select :mg_hostel_details_id,options_for_select(hostel_data,:selected=>@health_data.mg_hostel_details_id),{include_blank: false,:prompt=>"Select"},:onchange => 'roomNo();' ,:class=> 'mg-text-field room-no'%>
    <%end%>
  </p>

<div id="wing-floor-id">

<p>
    <%= f.label :select_floor_id, t('select_floor_id') ,:class=>"mg-label mg-rm-text-trans"%><span class="required-field"> *</span><br>
      <% if @action=='new'%>
      <%=select_tag :mg_hostel_floor_id,options_for_select([]),:prompt=>"Select"%>
      <% else %>
        <%=select_tag :mg_hostel_floor_id,options_for_select([]),:prompt=>"Select"%>
      <%end%>
</p>

</div>

<p>
    <%= f.label :select_room_no, t('select_room_no') ,:class=>"mg-label mg-rm-text-trans"%><span class="required-field"> *</span>
    <div id="room-div">
      <% if @action=='new'%>
      <%=select_tag :mg_hostel_room_id,options_for_select([]),:prompt=>"Select"%>
      <% else %>
        <%=select_tag :mg_hostel_room_id,options_for_select([]),:prompt=>"Select"%>
      <%end%>
    </div>
</p>

    
  <p>
    <%= f.label :student, t('select_student') ,:class=>"mg-label mg-rm-text-trans"%><span class="required-field"> *</span><br>
    <div id="std-div">
	    <% if @action=='new'%>
	      <%=select_tag :mg_student_id,options_for_select([]),:prompt=>"Select"%>
	    <% else %>
	      <%=select_tag :mg_student_id,options_for_select([]),:prompt=>"Select"%>
	    <%end%>
	</div>
  </p>


  <p>
      <%= f.label :date, t('date') ,:class=>"mg-label"%><br>

    <% if @action=='new'%>
        <%= text_field_tag :date,Date.today.strftime(@timeformat.date_format),:readonly=>true,:class =>"mg-select-btn"%><br/>

    <% else %>
      <%= text_field_tag :date,@health_data.date.strftime(@timeformat.date_format),:readonly=>true,:class =>"mg-select-btn"%><br/>

    <%end%>
  </p>

<p>  
      <%= f.label :reason, t('reason') ,:class=>"mg-label"%><span class="required-field"> *</span><br>
    <% if @action=='new'%>
      <%= f.text_area :reason,:class=>"mg-select-btn mg-text-field" %>
    <% else %>
        <%= f.text_area :reason,:class=>"mg-select-btn mg-text-field",:value=>@health_data.reason %>
    <% end %>

</p>



<p>
  <%= f.label :status_data, t("status") ,:class=>"mg-label"%>
  <br>

  <% if @action=='new'%>
      <%=f.hidden_field :status,:value=>"Open"%>
      <%= f.select :status,options_for_select(['Open']),{},{:disabled=>true}%>
      <%#= f.select :status,options_for_select(['Pending','Accepted','Rejected']),{},
      {:disabled=>true}%>
      <%#= select_tag :status_data,options_for_select([["Pending"]]),:disabled=>true,:class =>"mg-select-btn"%><br/>
    <% else %>
        <%= f.select :status,options_for_select(['Open','Closed'],:selected=>@health_data.status),{}%>
    <% end %>

  
</p>



<p class="mg-p-mgtop">
    <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn"><%=t("save")%></a>
    <%= link_to t('cancel'), {:controller=>'hostel_management',:action=>'health_management'}, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
</p>

<% end %>


<%= render  partial: 'application/common_left_close' %>

<script type="text/javascript">
	$( document ).ready(function() {
	    focusCurrentTab("health_manageAID","health_manageLiID");

      $("#hostel_roomsID").validate({
      rules: {     
        "health_management[mg_hostel_details_id]": {required: true},
        "mg_hostel_floor_id": {required: true},
        "mg_hostel_room_id": {required: true},
        "mg_student_id": {required: true},
        "health_management[status]": {required: true},
        "health_management[reason]": {required: true},
        "health_management[end_time]": {required: true}
      }
    });
      roomNo();
	});



// ===========================================================================================
  // $("#mg_hostel_room_id").change(function(){
  //   alert();
  //   student();
  // });
// ===========================================================================================





	function student(){
    // alert("1");
        var roomDataId = $( "#mg_hostel_room_id" ).val();

       if(roomDataId > 0) {
  
           var urlLink = "/hostel_management/student_data/"+roomDataId;
          $.ajax({
             url: urlLink,
             cache: false,
             success: function(data){
                    $("#std-div").empty().append(data);
                }
         });
  		}
  	}

  function roomNo(){
        var roomDataId = $( "#health_management_mg_hostel_details_id" ).val();
       if(roomDataId > 0) {
  
           var urlLink = "/hostel_management/wing_floor_data/"+roomDataId;
          $.ajax({
             url: urlLink,
             cache: false,
             success: function(data){
                    $("#wing-floor-id").empty().append(data);
                }
         });
     }
   }


  	function room_data(){
        var floor_id = $( "#mg_hostel_floor_id" ).val();
        var hostel_id = $( "#health_management_mg_hostel_details_id" ).val();
        if(floor_id > 0) {
           var urlLink = "/hostel_management/room_number/"+floor_id;
           $.ajax({
             url: urlLink,
             cache: false,
             data:{"hostel_id":hostel_id,"floor_id":floor_id},
             success: function(data){
                    $("#room-div").empty().append(data);
                }
         });
  		}
  	}

  


</script>