<!-- Sec --> 
<%= fields_for (dueFine) do |f| %>
	<%= f.hidden_field :is_percent, :value=> 0%>
	<%= f.hidden_field :is_deleted, :value=> 0%>
	<%= f.hidden_field :mg_school_id, :value=> session[:current_user_school_id]%>
<label class="mg-label" for="particulars"><%= t('particulars') %><span class="required-field"> *</span></label><br/>
<%= text_field_tag 'particulars[]' ,nil,:class=>"mg-text-field required-field"%>
<!-- 
<div class="due-fine-content">
	<div class="due-fine-content-inner">
		<table width="100%" cellspacing="0" cellpadding="0" border="0" class="due-fine-table-cls mg-table-spacing">
			<tbody>
				<tr>
	              	<td style="width:220px;">
	              		<label class="mg-label" for="particulars"><%#= t('particulars') %><span class="required-field"> *</span></label>
	              	</td>
	              	<td>
	                	<%#= text_field_tag 'particulars[]' ,nil,:class=>"mg-text-field required-field"%>
	              	</td>
	          	</tr>

	          	
	          	<tr>
                  	
              	</tr>

			</tbody>
		</table>
	</div>
</div>
 -->
<% end %> 
