



<% if @discipline_report.size>0%>
<table class="batch-tbl mg-tbl-margin">   <!-- border="2" --> 
<tr>
	<th><%=t('hostel_name')%></th>
	<th class="mg-label-text-transform-none"><%=t('date_of_report')%></th>
	<th><%=t('reason')%></th>
	<th><%=t('status')%></th>

    <th><%=t('action')%></th>

</tr>

		 <% @discipline_report.each do |e| %>

		<tr>
		<%hostel_details=MgHostelDetails.find_by(:id=>e.mg_hostel_details_id)
		@date_format=MgSchool.find_by(:id=>session[:current_user_school_id]).date_format
		%>
		<td><%=hostel_details.name%></td>
		<td><%=e.date_of_report.strftime(@date_format)%></td>

		      <td><%=truncate(e.reason.to_s, :length => 25, :separator => ' ')  %></td>
		      <td class="mg-capitalize-text"><%=e.status%></td>

		<td>
			    <button title="Show" id="<%=raw e.id %>-showjobUploadBTNID" class="showDisciplanaryReportBTNID mg-icon-btn"><i class="fa fa-eye"></i></button>
		</td>

		</tr>
		<%end%>
</table>

<% else %>

<%= "No Request" %>

<% end %>









