<% navigation_add t('going_out_provision'), :controller=>'hostel_management', :action=>'going_out_provision' %>
<%= render  partial: 'dashboards/student_dashboard_left' %>

<%= button_to 'Add Request', {:controller=>'hostel_management',:action=>'going_out_provision_new'}, :class=> 'mg-custom-form-btn  mg-tbl-margin' %>

<h4 class="mg-h4"><%= t('going_out_provision_list')%></h4>

<%if @provision.present?%>
<div class="mg_pagination">
<table class="batch-tbl mg-tbl-margin">   <!-- border="2" --> 
 <tr >
    <th> <%=t('reason')%></th>
  	<th><%=t('from_date')%></th>
    <th><%=t('to_date')%></th>
    <th><%=t('status')%></th>
    <th><%=t('actions')%></th>

  </tr>
  <% @provision.each do |e| %>
    <tr>
      <td><%=truncate(e.reason.to_s, :length => 25, :separator => ' ')  %></td>
      <td><%= e.from_date.strftime(@timeformat.date_format) %></td>
      <td><%= e.to_date.strftime(@timeformat.date_format) %></td>



      <%if e.status=="Pending" %>
            <td><%="Pending"%></td>
        <%elsif e.status=="approved"%>
            <td><%="Approved"%></td>
        <% elsif e.status=="rejected" %>
              <td><%="Rejected"%></td>
        <%end%>
      
      <td>	
      	<button title="Show" id="<%=raw e.id %>-showjobUploadBTNID" class="show-job-upload-fom-btn mg-icon-btn" onclick="window.location='/hostel_management/going_out_provision_show/<%=e.id%>'"><i class="fa fa-eye"></i></button>

        <button title="Edit" id="<%=raw e.id %>-editjobUploadBTNID" class="edit-job-upload-fom-btn mg-icon-btn" onclick="window.location='/hostel_management/going_out_provision_edit/<%=e.id%>'"><i class="fa fa-pencil-square-o"></i></button>

	    <button title="Delete" onclick="confirm('Are you sure to delete?') ? window.location='/hostel_management/<%=e.id%>/going_out_provision_delete' : ''" class="mg-icon-btn"><i class="fa fa-trash"></i></button>    

      </td>

    </tr>
  <% end %>
</table>
<div>
 <%= will_paginate @provision, :container => false %>
  </div>
  <%else%>
  	<p>Please create some Going Out Provision Date</p>
  <%end%>

<%= render  partial: 'application/common_left_close' %>

<script type="text/javascript">
	$( document ).ready(function() {
	    focusCurrentTab("goingOutProvAID","goingOutProvLiID");
	    
	});



</script>
