<% navigation_add t('rooms'), :controller=>'hostel_management', :action=>'hostel_rooms' %>
<%#= render  partial: 'hostel_management_left' %>
<%= render  partial: 'hostel_management_left' %>

<%= button_to 'Add New room', {:controller=>'hostel_management',:action=>'hostel_rooms_new'}, :class=> 'mg-custom-form-btn mg-tbl-margin' %><br/>


<h4 class="mg-h4"><%= t('rooms_list')%></h4>

<%if @hostel_rooms.present?%>
<div class="mg_pagination">
<table class="batch-tbl mg-tbl-margin">   <!-- border="2" --> 
 <tr >
    <th> <%=t('hostel')%></th>
    <th> <%=t('name')%></th>
    <th> <%=t('capacity')%></th>
    <th > <%=t('is_occupiable')%></th>
    <th><%=t('actions')%></th>
  </tr>
  <% @hostel_rooms.each do |e| %>
    <tr>
    	<% hostel_name=MgHostelDetails.find_by(:id=>e.mg_hostel_details_id).name %>
      <td style="text-align:center"><%= hostel_name %></td>
    	<% hostel_floor=MgHostelFloor.find_by(:id=>e.mg_hostel_floor_id).name %>

      <td style="text-align:center"><%= e.try(:name) %></td>
    	<% hostel_type=MgHostelRoomType.find_by(:id=>e.mg_hostel_room_type_id).name %>

      <td style="text-align:center"><%= e.try(:capacity) %></td>
      
        <% if e.try(:is_occupiable)==true %>
          <td style="text-align:center"><%= "Yes" %></td>
        <% else %>
          <td style="text-align:center"><%= "No" %></td>
        <%end %>

      <td>
        <button title="Show" id="<%=raw e.id %>-showHostelRoomBTNID" class="show-job-upload-fom-btn mg-icon-btn" onclick="window.location='/hostel_management/hostel_rooms_show/<%=e.id%>'"><i class="fa fa-eye"></i></button>

        <button title="Edit" id="<%=raw e.id %>-editHostelRoomBTNID" class="edit-job-upload-fom-btn mg-icon-btn" onclick="window.location='/hostel_management/hostel_rooms_edit/<%=e.id%>'"><i class="fa fa-pencil-square-o"></i></button>

  		<button title="Delete" onclick="confirm('Are you sure to delete?') ? window.location='/hostel_management/hostel_rooms_delete/<%=e.id%>' : ''" class="mg-icon-btn"><i class="fa fa-trash"></i></button>
    </tr>
  <% end %>
</table>
<div>
 <%= will_paginate @hostel_rooms, :container => false %>
  </div>
  <%else%>
  	<p>Please create some Room Data</p>
  <%end%>

<%= render  partial: 'application/common_left_close' %>

<script type="text/javascript">
$( document ).ready(function() {
	    focusCurrentTab("hostelRoomsAID","hostelRoomsLiID");
	});

</script>