<%= form_for :document_managements, url: document_management_path(@document_managements), method: :patch, :html => {
                            :id => 'editDocumentManagementsFormID' } do |f| %>
 <!--  <p>
    <%#= f.label :name, t('name')%><span class="required-field"> *</span><br>
    <%#= f.text_field :name   %>
  </p> -->
  <p>
    <%= f.label :file%><span class="required-field"> *</span><br>
    <%= f.file_field :file   %>
  </p>

   <p>
    <%= f.hidden_field :mg_user_id, :value=>session[:user_id]%>
   
  </p>
<%#= f.hidden_field :mg_school_id, :value => session[:current_user_school_id]%>
  <%#=session[:current_user_school_id]%>

  <%#= f.hidden_field :mg_school_id, :value => 5%> 
  <%= f.hidden_field :updated_by, :value => session[:user_id]%>


<p>
  <%=f.hidden_field :is_deleted, :value=>0%>
</p>
  <p>
    <%= f.submit t('submit') %>
  </p>
<% end %>
<button class="cancel-form-dialog mg-small-form-btn"><%= t('cancel') %></button>