<% navigation_add "#{t('school_custom_fields')}", :controller => 'schools', :action => 'custom_fields' %>
<% navigation_add 'New', :controller => 'schools', :action => 'custom_index' %>


<!-- Sec --> 
<!--<a href='#',id='customFieldID'  class="custom-fields">customfields </a>-->

<!--<%#=link_to "customfields", controller: "students", action: "custom_new"%>-->

<%= render  partial: 'master_settings/master_settings_left.html' %>
<h4 class="mg-h4">Create Custom Fields</h4>
<%= form_for :demo,  :url=>{:controller=> "schools", :action=> "custom_create"} ,:html => { :id => "schoolCustomFieldsFormID" ,:multipart => true } do |f| %>
  
  
  <div class="field1">

    <%= f.hidden_field :mg_school_id, :value =>session[:current_user_school_id]%>
    <%= f.hidden_field :is_deleted, :value =>0%>
     
    <%= f.hidden_field :model_name, :value => "school"%>
   </div>

 <div class="field">
    <label class="mg-label mg-leave-width">Field Name<span class="required-field "> *</span></label>
    <%= f.text_field :name ,:class=>"mg-text-field"%>
  </div><br/>

  <div id="field2">
    <label class="mg-label mg-leave-width">Field Type<span class="required-field "> *</span></label>
    <%= f.select :data_type, options_for_select([["Check Box","check_box"], ["Radio Button","radio_button"],["Input Text","input_type"],["Drop Down","drop_down"]]),{:include_blank => 'Select'} ,:class=>"mg-select-btn"%>
 </div><br/>
  
  <div id="field4">
  <%= f.label :Default_Value, 'Default Value' ,:class=>"mg-label"%><span class="required-field "> *</span><br/>
    <%= f.text_area :text_data ,:class=>"mg-text-field"%>
    </div><br/>

   

  
 <div id="field3">
  </div>

<div style="display:none">
  <p>
  <%= f.label :is_deleted, "Status" ,:class=> "mg-label"%><br />
    <%= f.label :is_deleted, "Active"  ,:class=>"mg-label-inner-form" %>
    <%= f.radio_button :is_deleted, false , :checked => true%>
    <%= f.label :is_deleted, "In Active" ,:class=>"mg-label-inner-form" %>
    <%= f.radio_button :is_deleted, true %>
</p>
</div>
  <div class="actions" style="float: left;">
    <%#= f.submit t('save') ,:class=>"mg-small-form-btn" %>
    <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn"><%=t("save")%></a>
     <%= link_to t('cancel'), "/schools/custom_fields", {:class=>"mg-small-form-btn cancel-form-dialog"} %>
    </div>
<% end %>

<!-- <span class="mg-cncl-btn-align">
 <%#= button_to t('cancel'), school_custom_new_path ,:class=>"btn btn-cancel"%>
</span> -->

 <%#= button_to t('cancel'), school_custom_new_path %>


<%= render partial: 'application/common_left_close' %>

<script type="text/javascript">
     $(document).ready(function(){

    //  $("li").removeClass( "active" );
    //  $("a").removeClass( "activeMenu" );

    //  $("#schoolCustomFieldLiID").addClass("active");
    //  $("#manageCustomFields").addClass("activeMenu");

       focusCurrentTab("manageCustomFields","schoolCustomFieldLiID");
	focusMasterSettings();

         $("#schoolCustomFieldsFormID").validate({
      rules:{
        "demo[name]":{required:true},
        "demo[data_type]":{required:true},
        "demo[text_data]":{required:true}
      }
    });
   });
</script>
