    <!-- Sec --><section id="userBodyContentBox" style="margin: 0 auto;">
    <table width=100% border="0" cellspacing="0" cellpadding="0"  style="margin-bottom: 0px;">
        <tr>
            <td valign="top" class="userBodyContentBox1">
                <aside class="userMenuBoxLeft" style="width: 210px;">
                    <ul class="menuListHome">
                     <li class="myAccountMenu">Cloud Admin</li>
                       
                        <li id="viewCloudAdminDashboardLiID">

                            <a class="CloudAdmin-dashboard" href="/dashboards/cloud_admin/" id="viewCloudAdminDashboard">
                                <div class="setMenu"><i class="fa fa-bar-chart">&nbsp;&nbsp;</i>My Dashboard
                                </div>
                            </a>
                        </li> 

                        <li id="viewCloudAdminDashboardSchoolListLiID">

                            <a class="CloudAdmin-dashboard" href="/cloud_admins/school_index/" id="viewCloudAdminDashboardSchoolList">
                                <div class="setMenu"><i class="fa fa-list">&nbsp;&nbsp;</i><%=t("school_list")%>
                                </div>
                            </a>
                        </li>

                        <li id="viewCloudAdminDashboardCreateSchoolLiID">

                            <a class="CloudAdmin-dashboard" href="/cloud_admins/new_school/" id="viewCloudAdminDashboardCreateSchool">
                                <div class="setMenu"><i class="fa fa-plus-square">&nbsp;&nbsp;</i><%=t("create_school")%>
                                </div>
                            </a>
                        </li>

                        <li id="viewCloudAdminDashboardSchoolAssociationLiID">

                            <a class="CloudAdmin-dashboard-School Association" href="/cloud_admins/school_association/" id="viewCloudAdminDashboardSchoolAssociation">
                                <div class="setMenu"><i class="fa fa-chain">&nbsp;&nbsp;</i><%=t("school_association")%>
                                </div>
                            </a>
                        </li> 

                        <li id="viewCloudAdminDashboardShowSuperPrincipalLiID">

                            <a class="CloudAdmin-dashboard" href="/cloud_admins/show_super_principal/" id="viewCloudAdminDashboardShowSuperPrincipal">
                                <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> Manage Super Principal
                                </div>
                            </a>
                        </li>  

                        <li id="viewCloudAdminDashboardShowPrincipalLiID">

                            <a class="CloudAdmin-dashboard" href="/cloud_admins/principal_index/" id="viewCloudAdminDashboardShowPrincipal">
                                <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> Manage Principal
                                </div>
                            </a>
                        </li>  

                        <li id="viewCloudAdminDashboardAddAdminLiID">

                            <a class="CloudAdmin-dashboard" href="/cloud_admins/admin_index/" id="viewCloudAdminDashboardAddAdmin">
                                <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> Manage Admin
                                </div>
                            </a>
                        </li>  
                        <li id="viewCloudAdminDashboardAddHelpDocumentLiID">

                            <a class="CloudAdmin-dashboard" href="/cloud_admins/help_document_show/" id="viewCloudAdminDashboardAddHelpDocument">
                                <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> Help Document
                                </div>
                            </a>
                        </li> 

						  <li class="myAccountMenu"><%=t('uploads')%></li>
                <li id="viewCloudAdminDashboardWingLiID">
                    <a class="CloudAdmin-dashboard" href="/cloud_admins/wing/" id="viewCloudAdminDashboardWing">
                        <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> <%=t('wing')%>
                        </div>
                    </a>
                </li>

                <li id="viewCloudAdminDashboardSchoolLiID">
                    <a class="CloudAdmin-dashboard" href="/cloud_admins/school/" id="viewCloudAdminDashboardSchool">
                        <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> <%=t('school')%>
                        </div>
                    </a>
                </li>

                <li id="viewCloudAdminDashboardClassLiID">
                    <a class="CloudAdmin-dashboard" href="/cloud_admins/cloud_class/" id="viewCloudAdminDashboardClassAID">
                        <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> <%=t('class')%>
                        </div>
                    </a>
                </li>

                <li id="viewCloudAdminDashboardSectionLiID">
                    <a class="CloudAdmin-dashboard" href="/cloud_admins/section/" id="viewCloudAdminDashboardSectionAID">
                        <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> <%=t('section')%>
                        </div>
                    </a>
                </li>

                <li id="viewCloudAdminDashboardAccountLiID">
                    <a class="CloudAdmin-dashboard" href="/cloud_admins/cloud_acount/" id="viewCloudAdminDashboardAccountAID">
                        <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> <%=t('account')%>
                        </div>
                    </a>
                </li>


                <li id="viewCloudAdminDashboardSubjectLiID">
                    <a class="CloudAdmin-dashboard" href="/cloud_admins/laboratory_subject/" id="viewCloudAdminDashboardSubject">
                        <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> <%=t('subject')%>
                        </div>
                    </a>
                </li> 
                <li id="viewCloudAdminDashboarEmployeeDepartmentLiID">
                    <a class="CloudAdmin-dashboard" href="/cloud_admins/employee_department/" id="viewCloudAdminDashboardEmployeeDepartmentAID">
                        <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> <%=t('employee_department')%>
                        </div>
                    </a>
                </li>
                <li id="viewCloudAdminDashboarEmployeeProfileLiID">
                    <a class="CloudAdmin-dashboard" href="/cloud_admins/employee_profile/" id="viewCloudAdminDashboardEmployeeProfileAID">
                        <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> <%=t('employee_profile')%>
                        </div>
                    </a>
                </li> 
                 <li id="viewCloudAdminDashboarSalaryComponentLiID">
                    <a class="CloudAdmin-dashboard" href="/cloud_admins/salary_component/" id="viewCloudAdminDashboardSalaryComponentAID">
                        <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> <%=t('salary_component')%>
                        </div>
                    </a>
                </li>
                <li id="viewCloudAdminDashboarGradeLiID">
                    <a class="CloudAdmin-dashboard" href="/cloud_admins/grade/" id="viewCloudAdminDashboardGradeAID">
                        <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> <%=t('grade')%>
                        </div>
                    </a>
                </li>    
                <li class="myAccountMenu"><%=t('laboratory')%></li>
               
                <li id="viewCloudAdminDashboardSubjectID">
                    <a class="CloudAdmin-dashboard" href="/cloud_admins/laboratory_subject/" id="viewCloudAdminDashboardSubjectLID">
                        <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> <%=t('subject')%>
                        </div>
                    </a>
                </li> 

                <li id="viewCloudAdminDashboardItemTypeLiID">
                    <a class="CloudAdmin-dashboard" href="/cloud_admins/lab_item_type/" id="viewCloudAdminDashboardItemType">
                        <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> <%=t('item_type')%>
                        </div>
                    </a>
                </li>     

                <li id="viewCloudAdminDashboardLabLiID">

                    <a class="CloudAdmin-dashboard" href="/cloud_admins/lab/" id="viewCloudAdminDashboardItemType">
                        <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> <%=t('lab')%>
                        </div>
                    </a>
                </li>

                <li id="viewCloudAdminDashboardItemUnitID">
                    <a class="CloudAdmin-dashboard" href="/cloud_admins/unit/" id="viewCloudAdminDashboardItemUnitLID">
                        <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> <%=t('item_unit')%>
                        </div>
                    </a>
                </li>
                
                <li class="myAccountMenu"><%=t('employee')%></li>
                <li id="viewCloudAdminDashboardEmployeeLiID">
                    <a class="CloudAdmin-dashboard" href="/cloud_admins/employee_data/" id="viewCloudAdminDashboardEmployee">
                        <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> <%=t('employee')%>
                        </div>
                    </a>
                </li> 

                <li class="myAccountMenu"><%=t('admission')%></li>
                <li id="aboutStudentDetailsID">
                    <a class="CloudAdmin-dashboard" href="/cloud_admins/student/" id="aboutStudentDetailsLID">
                        <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> <%=t('about_student')%>
                        </div>
                    </a>
                </li> 
                <li class="myAccountMenu"><%=t('transport')%></li>
                <li id="transportDashboardID">
                    <a class="CloudAdmin-dashboard" href="/cloud_admins/route_management/" id="transportDashboardLID">
                        <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> <%=t('route_management')%>
                        </div>
                    </a>
                </li>

                <li id="transportRouteVehicledID">
                    <a class="CloudAdmin-dashboard" href="/cloud_admins/route_vehicle/" id="transportRouteVehicledLID">
                        <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> <%=t('route_management_vehicle')%>
                        </div>
                    </a>
                </li>

                <li id="transportBusPickupID">
                    <a class="CloudAdmin-dashboard" href="/cloud_admins/bus_pickup_route/" id="transportBusPickupLID">
                        <div class="setMenu"><i class="fa fa-sitemap">&nbsp;&nbsp;</i> <%=t('pickup/drop_point')%>
                        </div>
                    </a>
                </li>              

                    </ul>    

                </aside>
            </td>
            <td  valign="top" id="manageEmployeeCategoryID" class="mg-table-td-main-2">