


<!-- <label class="mg-label mg-leave-width">Select </label><%#= select_tag :some, options_for_select([["Notification ","notification"],["Attendance","attendance"], ["Events ","events"],  ["Time Table ","time_table"]]), :onchange=>"onChangeFunctionForStudentChart(this.value)"%> -->
   <div class="mg-scroll-page">
   <!-- notification start -->
   <%#= render partial: 'notifications/show_notify' %>
   <h4 class="mg-h4" style="width: 736px;"><%=t('notifications')%></h4>
  <% if @notifications.length > 0 %>
  <div class="mg_pagination">
  <div class="container mg-btn-bottom-margin" style="width: 736px; margin-left: -14px;">
  <!--  s<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#showNotificationPage">Notifications <span class="badge"><%#= @size %></span></button> -->
        <div id="showNotificationPage2" class="collapse-sh">

       
        <div class="notification-list" style="width: 711px;">
            <%  @notifications.each do |notification| %>
        
               <a href="/notifications/view_notification/<%= notification.id %>" class="anchor-btn mg-rm-pagination-style" >
            <% if notification.status %>
              <div class="notification notification-seen">
            <% else %>
              <div class="notification notification-unseen">
            <% end %>
            
              <div class="notification-label">
                <%= notification.subject %>
              </div>
              <div class="notification-data mg-file-clr">
                <%= notification.description %>
              </div>
            </div>
                </a>
                 
            <% end %>
          </div>
        
        </div>
  </div>
  
  </div>
  <% else %>
  <h5>No notification...</h5>
  <% end %>
   
    <br>

  <!-- notification end -->

 
 <!-- <div id="attendanceCalendarStudentDashboardHideDIVID" style="display:none"> -->
 <h4 class="mg-h4"><%= t('attendance')%></h4>
 <div class="mg-scroll-page-inner">
 	<div id="attendanceCalendarStudentDashboardDIVID"></div> 
  </div>
 <!-- </div> --><br>

 <!-- event -->
<!-- <div id="employeeDashboardStudentCalenderDIVID" style="display:none" > -->
<h4 class="mg-h4"> <%= t('events') %></h4>
<%if @events.present?%>
<table class="batch-tbl mg-tbl-margin">   <!-- border="2" --> 
 <tr >
    <th><%=t('title')%></th>
    <th><%=t('eventtype')%></th>
    <th><%=t('eventdescription')%></th>
    <th><%=t('startdate')%></th>
    <th><%=t('starttime')%></th>
    <th><%=t('enddate')%></th>
    <th><%=t('endtime')%></th>
  </tr>
  <% @events.each do |e| %>
    <tr> 
      <td><%= e.title %></td>
      <% @name=MgEventType.where(:id=>e.mg_event_type_id, :is_deleted=>0).pluck(:name)%>
      <td><%= @name[0] %></td>
      <td><%= e.event_description %></td>
      <td><%= e.event_date.strftime(@school.date_format) %></td>
      <td><%= e.start_time.strftime('%I:%M%p') %></td>
      <td><%= e.end_date.strftime(@school.date_format) %></td>
      <td><%= e.end_time.strftime('%I:%M%p') %></td>
    </tr>
  <% end %>
</table>
<%else%>
<h5>No Events...</h5>
<%end%><br>
<!-- <div id='employeeDashboardStudentCalender' class="mg-tbl-margin"></div> </div>-->
<!-- event end-->
<div id="employeeDashboardCalenderStudentShowDIVID"></div>


  <!-- time table start -->
  <!-- <div id="timeTableForStudentDashboardDIVID" style="display:none"> -->
<h4 class="mg-h4"> <%= t('time_table') %></h4>
<!-- <div class="mg-scroll-page-inner"> -->
  <%= render partial: 'student_time_table_show'%>
<!-- </div> -->

  <!-- </div> --><br>
  <!-- time table end -->
</div>



<script>
function onChangeFunctionForStudentChart(value){
 	if(value=='attendance'){
 		$("#attendanceCalendarStudentDashboardHideDIVID").show();
 		$("#employeeDashboardStudentCalenderDIVID").hide();
 		$("#ShowNotificationForStudentDashBoardDIVID").hide();
    $("#timeTableForStudentDashboardDIVID").hide();

    

 		
 	}
 	if(value=='notification'){
 		$("#attendanceCalendarStudentDashboardHideDIVID").hide();
 		$("#employeeDashboardStudentCalenderDIVID").hide();
 		$("#ShowNotificationForStudentDashBoardDIVID").show();
    $("#timeTableForStudentDashboardDIVID").hide();



 	}
 	if(value=='events'){
 		$("#attendanceCalendarStudentDashboardHideDIVID").hide();
 		$("#employeeDashboardStudentCalenderDIVID").show()//('<div id="employeeDashboardStudentCalender" class="mg-tbl-margin"></div>');
 		//eventDashboardStudentCalender();
 		$("#ShowNotificationForStudentDashBoardDIVID").hide();
    $("#timeTableForStudentDashboardDIVID").hide();



 	}
 	if(value=='time_table'){
 		$("#attendanceCalendarStudentDashboardHideDIVID").hide();
 		$("#employeeDashboardStudentCalenderDIVID").hide();
 		$("#ShowNotificationForStudentDashBoardDIVID").hide();
    $("#timeTableForStudentDashboardDIVID").show();

 		

 	}
 }




$(document).ready(function(){
                    
                    var days = new Array(7);
                    days[0]=  "Sun";
                    days[1] = "Mon";
                    days[2] = "Tues";
                    days[3] = "Wed";
                    days[4] = "Thur";
                    days[5] = "Fri";
                    days[6] = "Sat";



                    Date.prototype.getDayName = function() {
                            return days[ this.getDay() ];
                        };
                    var totalDays = parseInt(daysInMonth(new Date().getMonth()+1, new Date().getFullYear()));
                    var strDates = "<table class='att-calendar'><tr><th>Name</th>"
                    for(var index=1; index <= totalDays;index++){
                               var now = new Date(new Date().getFullYear(), new Date().getMonth(), index);
                               strDates +="<th>"+index+"<br/>"+now.getDayName()+"</th>";
                    }
                  $('.header-row-data').empty();
                    $('.header-row-data').prepend( strDates );
                     var urlLink = "/attendances/student_index/"; 
                   $.ajax({
                        url: urlLink,
                        cache: false, 
                        success: function(data) {
                        var day=new Date().getDate();
                        var strName = "";
                        var d1 = new Date();
                        var month1 = d1.getMonth();
                        var year1=d1.getFullYear();
                        var month = parseInt(month1) + 1;
                        var year = parseInt(year1);
                                for(var outerIndex = 0;outerIndex < data[0].length;outerIndex++){
                                    strName += "<tr><td>"+data[0][outerIndex].first_name+"</td>"
                                    for(var index=1; index <= totalDays;index++){
                                    
                                      var value=0;
                                      	if(day<index){
		                     			value=4;
		                     			}else{
                                       if(data[1].length >0){
			                                       for(var dbindex=0;dbindex< data[1].length;dbindex++){
			                                                var checkDate=month+'/'+index+'/'+year;
			                                                d = new Date(checkDate);
			                                                x = d.getDay(); 
			                                                if(x==0){
			                                                  value = 2;
			                                                }
			                                                if(data[1][dbindex].year ==year && data[1][dbindex].month ==month && data[1][dbindex].day== index && data[1][dbindex].mg_student_id==data[0][outerIndex].id && x !=0){
			                                                   value = 1;
			                                                }
			                                     }
                                     }else{
                                    var checkDate=month+'/'+index+'/'+year;
                                    // alert(checkDate)
                                            x = new Date(checkDate).getDay();
                                            if(x==0){
                                              value = 2;
                                            }
                                   }
                               }
                          if(value!=4)
                			{
                                      if(value == 2){
                                        strName +="<td><i class='fa fa-ellipsis-h'></i></td>"
                                      }
                                     if(value ==1){

                                                  strName +="<td><i class='fa fa-circle' > </i></td>"
                                                }else{
                                                  	if(value != 2){
                                                 	 strName +="<td><i class='fa fa-check' > </i></td>"
                                                	}
                                                }
                            }else{
                            	strName +="<td></td>";
	                    
                            }
                                    }
                                    strName +="</tr></table>"
                                }
                                $('#attendanceCalendarStudentDashboardDIVID').empty();
                                $('#attendanceCalendarStudentDashboardDIVID').append( strDates+"</tr>"+strName );
                                console.log(strName);
                              },
                        error: function() {
                                // alert("Ajax error!")
                              }
                });
                function daysInMonth(iMonth, iYear){
                    return new Date(iYear, iMonth, 0).getDate();
                }  
        });  

employeeDashboardCalenderStudentShowDIVID
function eventDashboardStudentCalender(){
	 $('#employeeDashboardStudentCalender').fullCalendar({
    	header: {
    				left:   'today prev,next',
    				center: 'title',
    				right:  'year,month,agendaWeek,agendaDay',
    			},
        // weekends:false,
    	defaultView: 'month',
    	// defaultView: 'basicWeek'
        //hiddenDays: [ 2, 4 ],        
        businessHours:true,
        minTime: "8:00:00",
        maxTime: '18:00:00',
        startParam: "10:00:00",
        slotDuration:'00:20:00',
        //slotMinutes: 20,
        allDaySlot: false,
         lazyFetching: true,

 eventSources: [
        {
        url: '/dashboards/allevents',
         data:{

            calenderType: "Student_dashboard"
        },

        error:function(){
        },
        textColor: 'black'
        }

    ],
     dayClick: function(date, allDay, jsEvent, view) {

    },
    eventClick: function(event, element, current_event_id) {
        event.title = "CLICKED!";
        var eventID=event.id;
        var urlLink = "/events/"+eventID;
        $.ajax({
        url: urlLink,
        cache: false,
        success: function(html) {
             $('#employeeDashboardCalenderStudentShowDIVID').dialog({
                    modal: true,
                    width: 'auto',
                    title: "Event Detail",
                    open: function () {
                        
                        $(this).html(html);
                    }
                }); 
               
        }
    });
        // $('#calendar').fullCalendar('updateEvent', event);
    }
          
    });
}
      
</script>