<!-- Sec --> 
<% navigation_add 'Profile', employee_profile_path %>

<%= render partial: 'employee_left' %>
<section id="viewStudentID" style="margin: 0 auto;">
<div>
    <table class="mg-show-tbl-width">
        <tr>
             <td valign="top" width="145px">
              <aside class="userMenuBoxLeft" style="width: 150px;">
                <div class="empleftbx">
                    <div class="empimgbx" style="padding:10px 10px 0;">
                        
                        <%= image_tag @employee.photo.url(:medium) ,:class => "image-size" %>
                                <div>
                                <%= @employeequery['first_name'] %>&nbsp; <%= @employeequery['middle_name'] %> &nbsp;<%= @employeequery['last_name'] %>
                            <!-- </div> 
                                  <a style="font-size:12px; color:#C30;" href="#"><%#= @email[0].mg_email_id %></a>
                    </div> -->
                    <div class="clear"></div>
                    <div class="prof_detail">
                        
                        <span>
                        <strong style="font-size: 0.9em;"><%= t('employeenumber') %> </strong>
                        <%= @employeequery['employee_number'] %><br/>
                        </span>
                            <button class="change-password-btn mg-custom-form-btn mg-btn-bottom-margin" id="employeeChangePasswordID"><%= t('changepassword')%></button><br/>

                            <%= link_to 'Download Profile', {:controller => "employees", :action => "pdf_gen",:id =>@employee.id } ,:target=>"_blank",:class=>"mg-custom-form-btn"%>
                            <% if flash[:notice] %>
                                                                 <span style="color:red; font-weight: normal;  position: relative; top: 0px;"> <%= flash[:notice] %>
                                                                <% end %>


                    </div>
                    <div class="clear"></div>
                    <div class="clear"></div>
                </div>
                </aside>
            </td>
            <td valign="top">
                <h4 class="mg-h4"><%= t('general') %></h4>
                <table class="mg-show-tbl-width">
                    <tr>
                        <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('employeenumber') %></label>
                            <label><%= @employeequery['employee_number'] %></label>
                        </td>
                        <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('joining date') %></label>
                                <% @id = @employeequery['mg_school_id'] %>  
                                <% @dateFormat = MgSchool.find_by(@id).date_format %>   
                                <% if @employeequery['joining_date'].present?%>
            
                                  <label><%= @employeequery['joining_date'].strftime(@dateFormat) %></label>
                                  <% end %>
                        </td>
                        
                    </tr>
                    </table>

                   <h4 class="mg-h4"><%= t('general details') %></h4>
                    <table class="mg-tbl-size-width">
                    <tr>
                        <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px;"><%= t('name') %></label>
                            <label><%= @employee.first_name %>&nbsp;<%= @employee.middle_name %>&nbsp;<%= @employee.last_name %></label>
                        </td>
                    </tr>
                    </table>
                     <table class="mg-tbl-size-width">
                    <tr>
                        <td  class="mg-td-width-half">
                            <label class="mg-label" style="width:140px;"><%= t('gender') %></label>
                            <label class="mg-capitalize-text"><%= @employee['gender'] %></label>
                        </td>
                        <td  class="mg-td-width-half">
                            <label class="mg-label mg-rm-text-trans" style="width:140px;"><%= t('dateofbirth') %></label>
                                <% @id = @employee.mg_school_id %>  
                                <% @dateFormat = MgSchool.find_by(@id).date_format %>  
                             <label><%= @employee.date_of_birth.strftime(@dateFormat) %></label>
                        </td>
                    </tr>
                    <tr>
                         <td class="mg-td-width-half">
                                 <label class="mg-label"  style="width:140px;"><%= t('mother tongue') %></label>
                            <label><%=@employee.language%></label>
                        </td>
                         <td class="mg-td-width-half">
                            <label class="mg-label"  style="width:140px;"><%= t('bloodgroup') %></label>
                            <label><%= @employee.blood_group %></label>
                        </td>

                    </tr>
                    
                    <tr>
                        <td class="mg-td-width-half"><label class="mg-label"  style="width:140px;"><%= t('employee category') %></label>
                    
                           <label><%= MgEmployeeCategory.find(@employee.mg_employee_category_id).category_name%></label> </td>
                        <td class="mg-td-width-half"><label class="mg-label" style="width:140px;"><%= t('employee type ') %></label>
                        
                                <% @data = MgEmployeeType.find_by(:id=>@employee.mg_employee_type_id) %>  
                                    <label> <%=@data.employee_type%>     </label>
                        </td>

                    </tr>
                    <tr>
                        <td  class="mg-td-width-half">
                             <label class="mg-label"  style="width:140px;"><%= t('employee profile') %></label>
                    
                           <label><%= MgEmployeePosition.find(@employee.mg_employee_position_id).position_name%></label>           

                        </td>
                        <td class="mg-td-width-half">
                            
                            <label class="mg-label"  style="width:140px;"><%= t('employee department ') %></label>
                    
                           <label><%= MgEmployeeDepartment.find(@employee.mg_employee_department_id).department_name%></label>
                        </td>

                    </tr>

                    <tr>
                        <td><label class="mg-label"  style="width:140px;"><%= t('job title') %></label>
                    
                           <label><%= @employee.job_title%></label></td>
                        <td><label class="mg-label"  style="width:140px;"><%= t('qualification') %></label>
                           <label><%= @employee.qualification%></label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                        <label class="mg-label"  style="width:140px;"><%= t('total year experience') %></label>
                           <label><%= @employee.experience_year%></label>
                        </td>
                         <td>
                        <label class="mg-label"  style="width:140px;"><%= t('total month experience') %></label>
                           <label><%= @employee.experience_month%></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="mg-td-width-half">
                             <label class="mg-label"  style="width:140px;"><%= t('employee_grade') %></label>
                        <label>
                        <%if @employee.mg_employee_grade_id.present?%>
                        <%=@employee.mg_employee_grade.grade_name%>
                        <%end%></label>  
                        </td>
                        <td class="mg-td-width-half">
                        
                        <label class="mg-label"  style="width:140px;"><%= t('last_working_day') %></label>
                        <%if @employee.last_working_day.present?%>
                         <label><%= @employee.last_working_day.strftime(@dateFormat)%></label>
                         <%end%>
                    
                         </td>
                    </tr>

                       <tr>
                        <td class="mg-td-width-half">
                         <label class="mg-label"  style="width:140px;"><%= t('status') %></label>
                         <%if @employee.status.present?%>
                         <label><%= @employee.status.capitalize%></label>
                         <%end%>
                            
                        </td>
                        <td class="mg-td-width-half">
                         <label class="mg-label"  style="width:140px;"><%#= t('last_working_day') %></label>
                         
                        </td>
                         
                    </tr>

                     
                    </table>
                     <h4 class="mg-h4"><%= t('personal details') %></h4>
                     <table class="mg-tbl-size-width">
                         <tr>
                             <td class="mg-td-width-half">
                                  <label class="mg-label mg-form-width"><%= t('marital status ') %></label>
                            <label><%= @employee.marital_status %></label>
                             </td>
                            <td class="mg-td-width-half">
                                  <label class="mg-label mg-form-width"><%= t("Mother's Name") %></label>
                                    <label><%= @employee.mother_name %></label>
                             </td>
                         </tr>

                          <tr>
                             <td class="mg-td-width-half">
                                  <label class="mg-label mg-form-width"><%= t("Father's Name") %></label>
                            <label><%=@employee.father_name %></label>
                             </td>
                            <td class="mg-td-width-half">
                                  <label class="mg-label mg-form-width"><%= t("nationality") %></label>
                                    <label><%=@employee.nationality %></label>
                             </td>
                         </tr>
                     </table>
                     <%if @employee.is_referred.present?%>
                      <h4 class="mg-h4"><%= t('referred') %></h4>
                      <table class="mg-tbl-size-width">
                         <tr>
                             <td class="mg-td-width-half">
                                  <label class="mg-label mg-form-width"><%= t('referred by') %></label>
                            <label><%= @employee.referred_by %></label>
                             </td>
                            <td class="mg-td-width-half">
                                  <label class="mg-label mg-form-width"><%= t("designation") %></label>
                                    <label><%= @employee.designation %></label>
                             </td>
                         </tr>

                          
                     </table>
                     <%end%>

                     <%if @languageList.present?%>
                    <h4 class="mg-h4"><%= t('languages_known') %></h4>

                    <table>

                        <% 
                        index = 0
                        @languageList.each do |lang| %>
                            <%if(index == 0) 
                                index = 1;
                                %>
                                <tr>
                                    <td style="width:250px"><label class="mg-label">Language</label></td>
                                    <td style="width:250px"><label class="mg-label">Read</label></td>
                                    <td style="width:250px"><label class="mg-label">Write</label></td>
                                    <td style="width:250px"><label class="mg-label">Speak</label></td>
                                </tr>
                               
                            <%end %>
                                <tr>
                                    <td style="width:250px"><label class="mg-label-inner-form"><%= lang.language_name %></label></td>
                                    <td style="width:250px"><label class="mg-label-inner-form"><%= lang.read %></label></td>
                                    <td style="width:250px"><label class="mg-label-inner-form"><%= lang.write %></label></td>
                                    <td style="width:250px"><label class="mg-label-inner-form"><%= lang.speak %></label></td>
                                </tr>
                        <% end %>
                    </table>
                    <% end %>


                    <h4 class="mg-h4"><%= t('temporaryaddress') %>
                        <button class="employee-caddress-edit-btn mg-edit-right-btn mg-icon-btn" id=""><i class="fa fa-pencil-square-o"></i></button></h4>
                    <table class="mg-show-tbl-width">
                    <tr>
                        <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('addressline1') %></label>
                            <label><%= @address[0].address_line1 %></label>
                        </td>
                        <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('addressline2') %></label>
                            <label><%= @address[0].address_line2 %></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('city') %></label>
                            <label><%= @address[0].city %></label>
                        </td>
                        <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('state') %></label>
                            <label><%= @address[0].state %></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('pincode') %></label>
                            <label><%= @address[0].pin_code %></label>
                        </td>
                        <td class="mg-td-width-half"> 
                            <label class="mg-label" style="width:140px"><%= t('country') %></label>
                            <label><%= @address[0].country %></label>
                        </td>
                    </tr>
                    </table>
                    <h4 class="mg-h4"><%= t('permanentaddress') %>
                    <button class="employee-paddress-edit-btn mg-edit-right-btn mg-icon-btn" id=""><i class="fa fa-pencil-square-o"></i></button></h4>
                    <table class="mg-show-tbl-width">
                    <tr>
                        <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('addressline1') %></label>
                            <label><%= @address[1].address_line1 %></label>
                        </td>
                        <td class="mg-td-width-half">
                            <label class="mg-label"  style="width:140px"><%= t('addressline2') %></label>
                            <label><%= @address[1].address_line2 %></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="mg-td-width-half">
                            <label class="mg-label"  style="width:140px"><%= t('city') %></label>
                            <label><%= @address[1].city %></label>
                        </td>
                        <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('state') %></label>
                            <label><%= @address[1].state %></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('pincode') %></label>
                            <label><%= @address[1].pin_code %></label>
                        </td>
                        <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('country') %></label>
                            <label><%= @address[1].country %></label>
                        </td>
                    </tr>
                    </table>

                    <h4 class="mg-h4"><%= t('contactdetails') %>
                    <button class="employee-student-contact-edit-btn mg-edit-right-btn mg-icon-btn" id=""><i class="fa fa-pencil-square-o"></i></button></h4>
                    <table class="mg-show-tbl-width">
                    <tr>
                        <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('phonenumber') %></label>
                            <label><%= @contact[0].phone_number %></label>
                        </td>
                       <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('mobilenumber') %></label>
                            <label>+91-<%= @contact[1].phone_number %></label>
                        </td> 
                    </tr>
                    </table>
                    <table class="mg-show-tbl-width">
                    <tr>
                        <td class="mg-email-form-width">
                            <label class="mg-label" style="width:140px"><%= t('emailid') %></label>
                            <label><%= @email[0].mg_email_id %></label>
                        </td>
                    </tr>
                </table>
            <%#if @customData.size>0%>
               <!--  <h4 class="mg-h4"><%#= t('Custom Fields') %></h4>
                <table>
                <tr>
                <td style="width:250px"> -->
                <%# @dbdatas.each do |dbdata| %>
               
             <%#@customData.each do |custDatas|%>

            <%#if dbdata.id.to_s==custDatas.mg_custom_field_id%>


              <%#custom_data=Array.new%>
            <%# hidden_field_tag 'custom_data[]', dbdata.id%>


             


             <%#

               @customData.each do |custData| 

               if custData.mg_custom_field_id == dbdata.id.to_s
                  @custValue = custData.value
               
               end
             end
              %> 
<!-- 
        <label class="mg-label" style="width:140px"><%#= t(dbdata.name) %></label>
                <label> <%#=@custValue%></label> -->
               

              
    <%#end%>

 <%#end%>                 
                <%#end%>
<!-- 
                        </td>
                    </tr>







                </table> -->

<%#end%>
            </td>
        </tr>
    </table>
</div>

<%= render partial: 'application/common_left_close' %>
<div id="employeeChangePasswordDialogID"></div>
<div id="employeeEditCAddressDialogID" class="mg-pop-up-padding" style="overflow: hidden;"></div>
<div id="employeeEditPAddressDialogID" class="mg-pop-up-padding" style="overflow: hidden;"></div>
<div id="employeeEditContactDialogID" class="mg-pop-up-padding" style="overflow: hidden;"></div>


<script type="text/javascript">
    


 $(document).ready(function(){

    // $("#viewEmployeeProfile").addClass( "activeMenu" );
    // $("#viewEmployeeProfileLiID").addClass( "active" );

    focusCurrentTab("viewEmployeeProfile","viewEmployeeProfileLiID");
    focusDashboards();

});


        $(document).on("click","#employeeChangePasswordID",function(){
                        //alert("setting btn clicked");
                       
            var urlLink = "/dashboards/employee_change_password";
           
            $.ajax({
                url: urlLink ,
                cache: false,
                success: function(html){
                      $('#employeeChangePasswordDialogID').dialog({
                        modal: true,
                        minHeight: 260,
                        minWidth:300,
                        title: "Change Password",

                        open: function () {
                            $(this).html(html);
                        }
                    }); 
                }
            });
    });





       $(document).on("click",".employee-student-contact-edit-btn",function(){
            var urlLink = "/dashboards/edit_employee_contact/9";
            $.ajax({
                url: urlLink ,
                cache: false,
                success: function(html){
                      $('#employeeEditContactDialogID').dialog({
                        modal: true,
                        minHeight: 300,
                        minWidth:680,
                        title: "Edit Contact",

                        open: function () {
                            $(this).html(html);
                        }
                    }); 
                }
            });
    });


  $(document).on("click",".employee-paddress-edit-btn",function(){
      
            var urlLink = "/dashboards/edit_employee_permanent_address/9";
            $.ajax({
                url: urlLink ,
                cache: false,
                success: function(html){
                      $('#employeeEditPAddressDialogID').dialog({
                        modal: true,
                        minHeight: 300,
                        minWidth:680,
                        title: "Edit Permanent Address",

                        open: function () {
                            $(this).html(html);
                        }
                    }); 
                }
            });
    });



    $(document).on("click",".employee-caddress-edit-btn",function(){
            var urlLink = "/dashboards/edit_employee_correspondnce_address/9";
            $.ajax({
                url: urlLink ,
                cache: false,
                success: function(html){
                      $('#employeeEditCAddressDialogID').dialog({
                        modal: true,
                        minHeight: 300,
                        minWidth:680,
                        title: "Edit Current Address",

                        open: function () {
                            $(this).html(html);
                        }
                    }); 
                }
            });
    });



</script>
