<%= render partial: 'dashboards/guardian_dashboard_left' %>
<h4 class="mg-h4">Student's Result</h4>
<div>
<%if @students_list.length > 0%>
	
	<table class="batch-tbl">
		<tr>
			<th>Name</th>
			<th>Actions</th>
		</tr>
		<% @students_list.each do |students|%>
		<%
		student=MgStudent.find(students.mg_student_id)
		%>
		<tr>
			<td><%=student.first_name%> <%=student.middle_name%> <%=student.last_name%></td>
			<td><a href="/cce_reports/make_scholastic_report/<%=student.id%>" class="mg-custom-form-btn">View Result</td>
		</tr>
		<%end%>	
	</table>
<%end%>
</div>
<%= render  partial: 'dashboards/guardian_dashboard_close' %>

<script type="text/javascript">
  $(document).ready(function() {
        focusCurrentTab("viewResultAID","viewResultLiID");
        focusExaminationHeaderBox();
  });

</script>
