
 <%= form_for :guardian, url: guardian_changed_password_path, :html => {
                            :id => 'guardianChangePasswordFormID' } do |f| %>
 <!--<#%= form_for :guardian,:html => { :id => 'guardianChangePasswordFormID'}, url: guardian_changed_password_path(@user[0]), method: :patch do |f| %>-->


   <%= f.label :Enter_Current_Password ,:class=> "mg-label"%><span class="required-field">&nbsp;*</span><div id="feedbackcurrentdivId"></div>
   <%= f.password_field :name ,:class=>"mg-text-field" %>
 

 <p>
    <%= f.label :Enter_New_Password ,:class=> "mg-label"%><span class="required-field">&nbsp;*</span><br>
   <%= f.password_field :password,:class=>"mg-text-field",:id=>"newPassword" %>
 </p>
 <div id="feedbackdivId" style="color:#ff0000"></div>
 <p>
    <%= f.label :Re_Enter_Password ,:class=> "mg-label"%><span class="required-field">&nbsp;*</span><br>
   <%= f.password_field :hashed_password ,:class=>"mg-text-field",:id=>"rePassword" %>
 </p>
 
<p class="mg-p-mgtop">
       <%#= submit_tag t('save'), class: "submit mg-change-password-form-btn mg-small-form-btn", id: "submitGuardianBtn"%>
       <a onclick="$(this).closest('form').submit()" id="submitGuardianBtn" class="submit mg-change-password-form-btn mg-small-form-btn"><%=t("save")%></a>
       <%= link_to t('Cancel'), :back , {:class=>"mg-small-form-btn cancel-form-dialog"} %> 
</p>

<% end %>




<script>
$(document).ready(function(){
	$("submitGuardianBtn").hide();
	$("#rePassword").keyup(function(){
		
		var temp=$("#newPassword").val();
		var tempo=$(this).val();
		if(temp==tempo)
		{
			$("#feedbackdivId").text("Password matched..");
			$("submitGuardianBtn").show();
		}
		else
		{
			$("#feedbackdivId").text("Password doesn't matches..");
		}
	
		
	});
	$("#guardianChangePasswordFormID").validate({
	rules: {
	"guardian[name]": {required: true},
	"guardian[password]": {required: true},
	"guardian[hashed_password]": {required: true, equalTo: '#newPassword'}
	}
	});

});

</script>
