<h4 class="mg-detail-heading"><%= t('studentprofile') %></h4>

<section id="viewStudentID" style="margin: 0 auto;">
<div>
    <table>
        <tr>
             <td valign="top">
              <aside class="userMenuBoxLeft" style="width: 160px;">
                <div class="empleftbx">
                    <div class="empimgbx" style="padding:10px 10px 0;">
                        <%= image_tag @student.avatar.url(:medium, timestamp: false) ,:class => "img-size" %>
                                <div>
                                <%= @student.first_name %>&nbsp; <%= @student.middle_name %> &nbsp;<%= @student.last_name %>
                            </div>
                    </div>
                    <div class="clear"></div>
                    <div class="prof_detail">
                        <span>
                        <strong style="padding:14px 0 20px 10px; font-size: 0.9em;"><%= t('course') %> :</strong>
                        <%@batchs=MgBatch.where(:id=>@student.mg_batch_id).pluck(:name)%>
                         <%= @batchs[0] %><br/>
                        </span>
                        <span>
                        <strong style="padding:14px 0 20px 10px; font-size: 0.9em;"><%= t('admissionnumber') %> :</strong>
                        <%= @student.admission_number %><br/>
                        </span>
                    </div>
                    <div class="clear"></div>
                    <div class="clear"></div>
                </div>
                </aside>
            </td>
            <td valign="top">
                <h4 class="mg-h4"><%= t('general') %></h4>
                <table>
                    <tr>
                        <td style="width:250px">
                            <label class="mg-label" style="width:140px"><%= t('admissionnumber') %></label>
                            <label><%= @student.admission_number %></label>
                        </td>
                        <td style="width:250px">
                            <label class="mg-label" style="width:140px"><%= t('admissiondate') %></label>
                                <% @id = @student.mg_school_id %>  
                                <% @dateFormat = MgSchool.find_by_id(session[:current_user_school_id]).date_format %>    




                                <% if @student.admission_date.present?%>
            
                                  <label><%= @student.admission_date.strftime(@dateFormat) %></label>
                                  <% end %>
                             
                        </td>
                    </tr>
                    </table>

                    <h4 class="mg-h4"><%= t('personaldetails') %></h4>
                    <table>
                    <tr>
                        <td style="width:250px">
                            <label class="mg-label" style="width:140px"><%= t('firstname') %></label>
                            <label><%= @student.first_name %></label>
                        </td>
                        <td style="width:250px">
                            <label class="mg-label" style="width:140px"><%= t('lastname') %></label>
                            <label><%= @student.last_name %></label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px">
                            <label class="mg-label" style="width:140px"><%= t('coursename') %></label>
                            <%@batch=MgBatch.where(:id=>@student.mg_batch_id).pluck(:name)%>
                            <label><%= @batch[0] %></label>
                        </td>
                        <td style="width:250px">
                            <label class="mg-label mg-rm-text-trans" style="width:140px"><%= t('dateofbirth') %></label>
                            
                            <%@id=@student.mg_school_id %>
                           <label> <%= @student.date_of_birth.strftime(MgSchool.find_by_id(session[:current_user_school_id]).date_format) %></label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px">
                            <label class="mg-label" style="width:140px"><%= t('gender') %></label>
                            <label class="mg-capitalize-text"><%= @student.gender %></label>
                        </td>
                        <td style="width:250px">
                            <label class="mg-label"  style="width:140px"><%= t('bloodgroup') %></label>
                            <label><%= @student.blood_group %></label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px">
                            <label class="mg-label" style="width:140px"><%= t('birth_place') %></label>
                            <label><%= @student.birth_place %></label>
                        </td>
                        <td style="width:250px">
                           <label class="mg-label"  style="width:140px"><%= t('nationality') %></label>
                            <label><%= @student.nationality %></label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px">
                            <label class="mg-label" style="width:140px"><%= t('mother_tongue') %></label>
                            <label><%= @student.language %></label>
                        </td>
                        <td style="width:250px">
                            <label class="mg-label"  style="width:140px"><%= t('religion') %></label>
                            <label><%= @student.religion %></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="mg-label" style="width:140px"><%= t('category') %></label>
                            <label>
                                    <% 
                                    @stud_category=MgStudentCategory.where(:id =>@student.mg_student_catagory_id)
                                    %>
                                    <%=@stud_category[0].name%>
                            </label>
                        </td>
                    </tr>
                    </table>

                     <table class="mg-tbl-size-width">
              
                <%
                if @stud_category[0].name=="Employee Child"
                    @empchild=MgEmployeeChild.where(:mg_user_id=>@student.mg_user_id)
                    if @empchild.present?
                %>
                         

                <tr>
                     <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('employee_name') %></label>
                            <label><%= @empchild[0].employee_name %></label>
                    
                      </td>
                      <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('employee_type') %></label>
                            <label><%= @empchild[0].employee_type %></label>
                    
                      </td>
                    </tr>
                    <tr>
                     <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('employee_id') %></label>
                            <label><%= @empchild[0].employee_id %></label>
                        
                    
                      </td>
                      <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('joining_date') %></label>
                           <label><%= @empchild[0].joining_date %></label>
                    
                      </td>
                    </tr>
                    
                    <%end%>
                    <%end%>
                    </table>



 <!-- ==============================Employee Child End======================== -->
 <!-- ==============================Management Child================================ -->

        <table class="mg-tbl-size-width">
              
                <%
                if @stud_category[0].name=="Management"
                    @empchild=MgManagementQuota.where(:mg_user_id=>@student.mg_user_id)
                    if @empchild.present?
                %>
                         

                <tr>
                     <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('name') %></label>
                            <label><%= @empchild[0].name %></label>
                    
                      </td>
                      <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('position') %></label>
                            <label><%= @empchild[0].position %></label>
                    
                      </td>
                    </tr>
                    <tr>
                     <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('employee_id') %></label>
                            <label><%= @empchild[0].employee_id %></label>
                        
                    
                      </td>
                      <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('joining_date') %></label>
                           <label><%= @empchild[0].joining_date %></label>
                    
                      </td>
                    </tr>
                    
                    <%end%>
                    <%end%>
                    </table>



 <!-- ==============================Management Child End======================== -->



 <!-- ==============================Scholarship Child================================ -->

        <table class="mg-tbl-size-width">
              
                <%
                if @stud_category[0].name=="On Scholarship"
                    @empchild=MgStudentScholarship.where(:mg_user_id=>@student.mg_user_id)
                    if @empchild.present?
                %>
                         

                <tr>
                     <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('name') %></label>
                            <label><%= @empchild[0].name %></label>
                    
                      </td>
                      <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('amount') %></label>
                                <label><%= @empchild[0].amount %></label>
                    
                      </td>
                </tr>
                <tr>
                     <td class="mg-td-width-half">
                        <label class="mg-label" style="width:140px"><%= t('frequency') %></label>
                            <label><%= @empchild[0].frequency %></label>
                        
                    
                      </td>
                      <td class="mg-td-width-half">
                        <label class="mg-label" style="width:140px"><%= t('start_date') %></label>
                           <label><%= @empchild[0].start_date %></label>
                    
                      </td>
                      </tr>
                      <tr>
                      <td class="mg-td-width-half">
                        <label class="mg-label" style="width:140px"><%= t('end_date') %></label>
                           <label><%= @empchild[0].end_date %></label>
                    
                      </td>
                    </tr>
                    
                    <%end%>
                    <%end%>
                    </table>



 <!-- ==============================Management Child End======================== -->
     <!-- ======================================================================================= -->
     <table class="mg-tbl-size-width">
              
                <%
             
                @sibling=MgSibling.where(:mg_user_id=>@student.mg_user_id)
                if @sibling.present?

                    puts @sibling.inspect
                    puts "8888888888888888"
                %>
                         <h4 class="mg-h4"><%= t('sibling') %></h4>

                <tr>
                     <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('name') %></label>
                            <label><%= @sibling[0].name %></label>
                    
                      </td>
                      <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('relationship') %></label>
                            <label><%= @sibling[0].relation %></label>
                    
                      </td>
                    </tr>
                    <tr>
                     <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('class') %></label>
                            <%@temp=MgCourse.where(:id=>@sibling[0].mg_course_id)%>
                            <% if (!(@temp[0].to_s.empty?))%>
                            <label><%= @temp[0].course_name %></label>
                            <%end%>
                    
                      </td>
                      <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('section') %></label>
                            <%temp2=MgBatch.where(:id=>@sibling[0].mg_batch_id)%>
                            <% if (!(@temp2.to_s.empty?))%>

                            <label><%= @temp2[0].name %></label>
                            <%end%>
                    
                      </td>
                    </tr>
                    <tr>
                     <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('roll_number') %></label>
                           <label><%= @sibling[0].roll_no %></label>
                    
                      </td>
                      <td >
                            <label class="mg-label" style="width:140px"><%= t('date_of_admission') %></label>
                            <label><%= @sibling[0].admission_date %></label>
                    
                      </td>
                    </tr>
                    <tr>
                     <td class="mg-td-width-half">
                            <label class="mg-label" style="width:140px"><%= t('adm_reg_number') %></label>
                            <label><%= @sibling[0].admission_no %></label>
                    
                      </td>
                      
                    </tr>
                    <%end%>
                    </table>
     <!-- ======================================================================================= -->


                    <h4 class="mg-h4"><%= t('correspondanceaddress') %>
                        <button title="Edit" class="guardian-student-correspondanceaddress-address-edit-btn mg-icon-btn mg-edit-right-btn" id="<%=@student.id%>"><i class="fa fa-pencil-square-o"></i></button>
                       </h4>
                    
                      <table>
                    <tr>
                        <td style="width:250px">
                            <label class="mg-label" style="width:140px"><%= t('addressline1') %></label>
                            <label><%= @address[0].address_line1 %></label>
                        </td>
                        <td style="width:250px">
                            <label class="mg-label" style="width:140px"><%= t('addressline2') %></label>
                            <label><%= @address[0].address_line2 %></label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px">
                            <label class="mg-label" style="width:140px"><%= t('city') %></label>
                            <label><%= @address[0].city %></label>
                        </td>
                        <td style="width:250px">
                            <label class="mg-label" style="width:140px"><%= t('state') %></label>
                            <label><%= @address[0].state %></label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px">
                            <label class="mg-label" style="width:140px"><%= t('pincode') %></label>
                            <label><%= @address[0].pin_code %></label>
                        </td>
                        <td style="width:250px"> 
                            <label class="mg-label" style="width:140px"><%= t('country') %></label>
                            <label><%= @address[0].country %></label>
                        </td>
                    </tr>
                    </table>
                    <h4 class="mg-h4"><%= t('permanentaddress') %>
                     <button title="Edit" class="guardian-student-address-edit-btn mg-icon-btn mg-edit-right-btn" id="<%=@student.id%>"><i class="fa fa-pencil-square-o"></i></button></h4>
                     <table>
                    <tr>
                        <td >
                            <label class="mg-label" style="width:140px"><%= t('addressline1') %></label>
                            <label><%= @address[1].address_line1 %></label>
                        </td>
                        <td>
                            <label class="mg-label"  style="width:140px"><%= t('addressline2') %></label>
                            <label><%= @address[1].address_line2 %></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="mg-label"  style="width:140px"><%= t('city') %></label>
                            <label><%= @address[1].city %></label>
                        </td>
                        <td style="width:250px">
                            <label class="mg-label" style="width:140px"><%= t('state') %></label>
                            <label><%= @address[1].state %></label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px">
                            <label class="mg-label" style="width:140px"><%= t('pincode') %></label>
                            <label><%= @address[1].pin_code %></label>
                        </td>
                        <td style="width:250px">
                            <label class="mg-label" style="width:140px"><%= t('country') %></label>
                            <label><%= @address[1].country %></label>
                        </td>
                    </tr>
                    </table>
                    


                    <h4 class="mg-h4"><%= t('contactdetails') %>
                        <button title="Edit" class="guardian-student-contact-edit-btn mg-icon-btn mg-edit-right-btn" id="<%=@student.id%>"><i class="fa fa-pencil-square-o"></i></button></h4>

                    <table>
                    <tr>
                        <td style="width:250px">
                            <label class="mg-label" style="width:140px"><%= t('phonenumber') %></label>
                            <label><%= @contact[0].phone_number %></label>
                        </td>
                       <td style="width:250px">
                            <label class="mg-label" style="width:140px"><%= t('mobilenumber') %></label>
                            <label>+91-<%= @contact[1].phone_number %></label>
                        </td> 
                    </tr>
                    </table>
                    <table>
                        <tr>
                            <td style="width:400px">
                                <label class="mg-label" style="width:140px"><%= t('emailid') %></label>
                                <label><%= @email[0].mg_email_id %></label>
                            </td>
                        </tr>
                    </tr>
                </table>
                <% @previous_education=MgPreviousEducation.find_by(:mg_student_id=>@student.id)%>
                <%if @previous_education.present?%>
                <h4 class="mg-h4"><%= t('previousedcuation') %></h4>
                    <table>
                    <tr>
                        <td >
                            <label class="mg-label" for="school_name"><%= t('school_name') %></label>
                            <label><%= @previous_education.school_name %></label>
                        </td>
                        <td>
                            <label class="mg-label" for="course"><%= t('course') %></label>
                            <label><%= @previous_education.course %></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="mg-label" for="year"><%= t('year') %></label>
                            <label><%= @previous_education.year %></label>
                        </td>
                        <td style="width:250px">
                            <label class="mg-label" for="marks_obtained"><%= t('marksobtained') %></label>
                            <label><%= @previous_education.marks_obtained %></label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:250px">
                            <label class="mg-label" for="total_marks"><%= t('totalmarks') %></label>
                            <label><%= @previous_education.total_marks %></label>
                        </td>
                        <td style="width:250px">
                            <label class="mg-label" for="grade"><%= t('gradepercentage') %></label>
                            <label><%= @previous_education.grade %></label>
                        </td>
                    </tr>
                    <tr>
                    <td>
                        <label class="mg-label" for="is_transfer_certificate_produced"><%= t('is_transfer_certificate_produced') %></label>
                        <%@document=MgDocumentManagement.where(:mg_user_id=>@student.mg_user_id,:document_type=>"TransferCertificate")%>
                       <%@document.each do |user|%>
                        <label class="mg-file-clr"><%= user.file_file_name %></label>
                       <%= link_to_if user.file.url, '<i class="fa fa-download"></i>'.html_safe, user.file.url ,:class=>"mg-icon-btn" ,:title=>"Download" ,:style=>"font-size: 0.85em;"%><br/>
                    <%end%>
                        </td>
                    </tr>
                    </table>
 <%end%>
                        
              <table>
              <%@@n=0%>
              
                <%
                if @student.class_record.present?
                %>
                        <%if @@n==0%>
                         <h4 class="mg-h4"><%= t('activities') %></h4>
                        <% @@n=2%>
                         <%end%>
                <tr>
                     <td >
                            <label class="mg-label mg-form-width"><%= t('class_record') %></label><br/>
                       <label><%= @student.class_record %></label><br/>
                       <%@document=MgDocumentManagement.where(:mg_user_id=>@student.mg_user_id,:document_type=>"ClassRecords")%>
                       <%@document.each do |user|%>
                       <label class="mg-file-clr"><%= user.file_file_name %></label>
                       <%= link_to_if user.file.url, '<i class="fa fa-download"></i>'.html_safe, user.file.url ,:class=>"mg-icon-btn" ,:title=>"Download" ,:style=>"font-size: 0.85em;" %><br/>
                    <%end%>
                      </td>
                    </tr>
                    <%end%>


                    <%if @student.sport_activity.present?
                %>
                <%if @@n==0%>
                         <h4 class="mg-h4"><%= t('activities') %></h4>
                         <%@@n=2%>
                         <%end%>
                <tr>
                     <td >
                            <label class="mg-label mg-form-width"><%= t('sport_activity') %></label><br/>
                       <label class="mg-text-justify"><%= @student.sport_activity %></label><br/>
                       <%@document=MgDocumentManagement.where(:mg_user_id=>@student.mg_user_id,:document_type=>"SportsActivity")%>
                       <%@document.each do |user|%>
                       <label class="mg-file-clr"><%= user.file_file_name %></label>
                       <%= link_to_if user.file.url, '<i class="fa fa-download"></i>'.html_safe, user.file.url ,:class=>"mg-icon-btn" ,:title=>"Download" ,:style=>"font-size: 0.85em;"%><br/>
                    <%end%>
                      </td>
                    </tr>
                    <%end%>
                    <%if @student.hobby.present?
                %>
                <%if @@n==0%>
                         <h4 class="mg-h4"><%= t('activities') %></h4>
                        <% @@n=2%>
                         <%end%>
                         <%end%>
                <tr>
                     <td >
                            <label class="mg-label mg-form-width"><%= t('hobby') %></label><br/>
                       <label><%= @student.hobby %></label>
                    
                      </td>
                    </tr>
                  <%if @student.extra_curricular.present?
                %>
                <%if @@n==0%>
                         <h4 class="mg-h4"><%= t('activities') %></h4>
                         <%@@n=2%>
                         <%end%>
                <tr>
                     <td >
                            <label class="mg-label mg-form-width"><%= t('extra_curricular') %></label><br/>
                       <label><%= @student.extra_curricular %></label><br/>
                       <%@document=MgDocumentManagement.where(:mg_user_id=>@student.mg_user_id,:document_type=>"ExtraCurricular")%>
                       <%@document.each do |user|%>
                       <label class="mg-file-clr"><%= user.file_file_name %></label>
                       <%= link_to_if user.file.url, '<i class="fa fa-download"></i>'.html_safe, user.file.url ,:class=>"mg-icon-btn" ,:title=>"Download" ,:style=>"font-size: 0.85em;"%><br/>
                    <%end%>
                      </td>
                    </tr>
                    <%end%>
                   <%if @student.health_record.present?
                %>
                <%if @@n==0%>
                         <h4 class="mg-h4"><%= t('activities') %></h4>
                        <% @@n=2%>
                         <%end%>
                <tr>
                     <td >
                            <label class="mg-label mg-form-width"><%= t('health_record') %></label><br/>
                       <label><%= @student.health_record %></label><br/>
                        <%@document=MgDocumentManagement.where(:mg_user_id=>@student.mg_user_id,:document_type=>"HealthRecords")%>
                       <%@document.each do |user|%>
                       <label class="mg-file-clr"><%= user.file_file_name %></label>
                       <%= link_to_if user.file.url, '<i class="fa fa-download"></i>'.html_safe, user.file.url ,:class=>"mg-icon-btn" ,:title=>"Download" ,:style=>"font-size: 0.85em;"%>
                      <br/>
                    
                    <%end%>
                      </td>
                    </tr>
                    <%end%>
                  </table>

            </td>
        </tr>
    </table>
</div>
<div id="guardianCAddressEditDialogID" class="mg-pop-up-padding" style="overflow: hidden;"></div>
<div id="guardianPAddressEditDialogID" class="mg-pop-up-padding" style="overflow: hidden;"></div>

















