<%= render  partial: 'inventory/inventory_left.html.erb' %>
<% navigation_add 'Change Credential',change_credential_path %>

<h4 class="mg-h4"><%= t('change_credential') %></h4>

<%if @financial_manager.length>0%>
  <table  class="batch-tbl mg-tbl-margin">
    <tr class="subject-table-header">
      <th><%= t('user_name') %></th>
      <th><%= t('action') %></th>
    </tr>
   
    <% @financial_manager.each do |f| %>
      <tr>
        <td><%= f.user_name %></td>
        
        <td>
          <button title="Change Password" id="<%=raw f.id %>-showlabBTNID" class="change-password-for-financial mg-icon-btn"><i class="fa fa-exchange"></i></button>
          <button title="Edit" id="<%=raw f.id %>-editlabBTNID" class="edit-username-for-financial mg-icon-btn"><i class="fa fa-pencil-square-o"></i></button>          
        </td>

      </tr>
    <% end %>
  </table>
  <br/>
<%else%>
  <h5>No Store Manager is created </h5>
<%end%>


<div id="financialManagerPasswordID"></div>
<div id="editUserNameForfinancial"></div>

<%= render  partial: 'application/common_left_close' %>


<script>
  $( document ).ready(function() {
    focusCurrentTab("changeFinancialPasswordID","changeFinancialPasswordLiID");
            //focusStudentHeaderBox();
  });


  $(document).on("click", ".change-password-for-financial", function(e){
    var myID =$(this).attr('id');
    var Id=myID.split("-");
    var urlLink = "/inventory/show_financial_manager/"+Id[0];
    $.ajax({
      url: urlLink ,
      cache: false,
      data: {"change_financial_password":"change_password_by_manager"},
      success: function(html){
        $('#financialManagerPasswordID').dialog({
          modal: true,
           minHeight: 'auto',
          width: 'auto',
          title: "Change Password",
          open: function () {
              $(this).html(html);
          }
        });            
      }
    });
  });

  $(document).on("click", ".edit-username-for-financial", function(e){
    var myID =$(this).attr('id');
    var Id=myID.split("-");
    var urlLink = "/inventory/edit_financial_manager/"+Id[0];
    $.ajax({
        url: urlLink ,
        cache: false,
        data: {"change_financial_username":"change_username_by_manager"},
        success: function(html){
          $('#editUserNameForfinancial').dialog({
            modal: true,
            minHeight: 'auto',
            width: 'auto',
            title: "Edit Financial Manager",
            open: function () {
              $(this).html(html);
            }
        }); 
      }
    });
  });

  
</script>





