<% navigation_add 'Comparing Vendor', :controller => 'inventory', :action => 'comparing_vendor' %>
<%= render  partial: 'inventory/inventory_left' %>

<h4 class="mg-h4"><%= t('comparing_vendor') %></h4>
<!-- ============================================================================= -->
<h4>Provide an input to compare the Vendors</h4>

<%= form_for :inventory, :html => {
                            :id => 'inventorySearchVendorID' } do |f| %>
<p>
<label class="mg-label" style="width:140px"><%= t('item_name') %><span class="required-field">&nbsp;</span></label>
<br/>
<%= f.text_field :item_name,:class=>"mg-text-field inventory-item-search-class" %>
</p>

<p>
    <label class="mg-label" style="width:140px"><%= t('item_code') %><span class="required-field">&nbsp;</span></label>
    <br/>
   <%= f.text_field :item_identification_number,:class=>"mg-text-field inventory-code-search-class" %>
</p>


<p class="mg-p-mgtop">
    <button type="button" class="inventory-search-item-submit-class mg-small-form-btn" style="display:none"><%=t("save")%></button>
    <a onclick="$(this).closest('form').submit()" class="laboratory-resource-new-submit-class" style="display:none"><%#=t("save")%></a>
</p>
<% end %>
<div id="showVendorDIVID"></div>
<div id="inventoryComparingResultDivID"></div>
<!-- ================================================================================== -->
<%= render  partial: 'application/common_left_close' %>

<script>
$(document).ready(function () {
        focusCurrentTab("viewInventoryVendorcomparingIndex","viewComparingVendorLiID");
       // focusMasterSettings();

    });
$(".inventory-item-search-class").keyup(function(){
  if($(this).val().length>1){
      $(".inventory-search-item-submit-class").click();
  }
});

$(".inventory-code-search-class").keyup(function(){
  if($(this).val().length>1){
    $(".inventory-search-item-submit-class").click();
  }
});


$(".inventory-search-item-submit-class").click(function(e){
  e.preventDefault();
	var itemName=$("#inventory_item_name").val();
	var itemCode=$("#inventory_item_identification_number").val();
	//alert(itemName+" ---    "+itemCode);
	var urlLink = "/inventory/inventory_comparing_data/";
           $.ajax({ 
               url: urlLink,
               cache: false,
               data:
            {
                 "itemName":itemName , "itemCode":itemCode
             },
               success: function(html){
                  $("#inventoryComparingResultDivID").empty();
                  $("#inventoryComparingResultDivID").append(html);
               }  
           });
});


function changeItemFunction(a,b){
        $("#category_wise_item_ID").empty();
  //$(document).on("change","#vendor_mg_category_id",function(e){
    var vendorId=b;
    var categoryId=a.value;
      $.ajax({
            url: "/inventory/category_wise_item",
            type: "GET",
            data: {"mg_category_id":categoryId , "vendor_id":vendorId},
            //dataType: "html",
            success: function(data) {
             $("#category_wise_item_ID").empty();
             $("#category_wise_item_ID").append(data);
            }
        });
}



</script>

