  <!-- Sec --> 


<%= form_for :fesses, :url =>{:controller=>'inventory',:action=>'inventory_update_category',:id=>@fesses.id}, :html => { :id => 'inventoryfeeCategoryEditFormId', :class => 'elm_class',:style => 'elm_style' } do |f| %>

 <% if @fesses != nil%>
     <% if @fesses.errors.any? %>
          <div id="error_explanation">
              <h2><%= pluralize(@fesses.errors.count, "error") %> prohibited
                this from being saved:</h2>
              <ul>
              <% @fesses.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
          </div>
      <% end %>
  <% end %>

 
<%= f.hidden_field :mg_school_id, :value=> session[:current_user_school_id]%>
<%= hidden_field_tag :category_id, params[:id] %>


     <p>
        <%= f.label :name ,:class=>"mg-label"%><span class="required-field"> *</span><br>
        <%= text_field_tag :name ,"Inventory",:disabled=>true,:class=>"mg-text-field"%>
      </p>
     <p>
        <%= f.label :Item_Catrgory ,:class=>"mg-label"%><span class="required-field"> *</span><br>
        <%= f.text_field :name,:disabled=>true,:class=>"mg-text-field"%>
        <%= hidden_field_tag :items_categorys_names,@fesses.mg_inventory_item_category_id,:class=>"mg-text-field"%>
      </p>
       <p id="fees_particulars_data">
        
      </p>







       <div id="delete" style="display:none;">
     <p>

        <%= f.label :is_deleted, "Is Active" ,:class=>"mg-label"%><br />
       <label for="is_deleted" class="mg-label-inner-form "><%=t('active')%></label>
        <%= f.radio_button :is_deleted, false , :checked => true%>
<label for="is_deleted" class="mg-label-inner-form "><%=t('inactive')%></label>

        <%= f.radio_button :is_deleted, true %>
     </p>
</div>
  <!-- <p>
  <button id="<%=raw @fesses.id %>" class="editFees">Save</button>
  </p> -->
      <p class="mg-p-mgtop">
      <%#=f.submit t('save') ,:class=>"mg-small-form-btn"%>
      <a onclick="$(this).closest('form').submit()" class="submit_calss_inventory mg-small-form-btn"><%=t("save")%></a>
       <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
       </p>
  </div>


<div style="display:none;"> 
  <div style="float:left;width:50%">

      <label class="mg-label"><%=t('select')%> <%=t('coursebatchname')%></label> <br/>
      <label class="mg-label"><%=t('select')%></label> <a href="#" id="checkAllCheckBoxInFeeCategoryEditId" class="mg-pop-link"><%=t('all')%></a>
      <a href="#" id="unCheckAllCheckBoxInFeeCategoryEditId" class="mg-pop-link"><%=t('none')%></a>

      <div class="mg-scroll-bar">
        <%@mg_batch_list.each do |d|%>

         <% 
          checked = false
          @mg_fee_category_batch_list.each do  |category_batch_obj| 
            if d[1] == category_batch_obj[0]
                    checked = true
                break
            end 
              
          end
         %> 

          <%= check_box_tag 'selected_batches[]', d[1], checked, {:class =>"auto-checkbox-fee-category-edit-cls"} %>
          <%@course=MgCourse.select(:course_name).find_by_id(d[2])%>
          <%if@course!=nil%>
            <%= @course.course_name %> - <%=d[0]%><br/> 
          <%else%>
            <%=d[0]%><br/> 
          <%end%>
          <%#=d[0]%>
        <% end %>
      <div>
    <!-- <%#if@temp%> checked <%#end%> -->
  </div>
  </div>

  
<% end %>
 
<%#= link_to 'Back', fees_path %>


<script>
  $(document).ready(function(){


 var datas=$("#items_categorys_names").val();
 var datas123=$("#category_id").val();
 var urlLink = "/inventory/inventory_fee_category_item_data/";
     $.ajax({
            url: urlLink ,
            cache: false,
            data:{"id":datas,"data1":"data2","category":datas123},
            success: function(html){
                  $("#fees_particulars_data").empty();
                  $("#fees_particulars_data").append(html);
    $("#inventorySelectedParticulars option").prop('selected',true)
                  
               
            }
        });
  
    $("#inventoryfeeCategoryEditFormId").validate({
      rules: 
      {
          "fesses[name]": {required: true},
          "inventorySelectedParticulars[]": {required: true},
        
      }
    });


  });





$(document).on("click", ".remove-fine-due-classses", function(e){

   var total = $('.remove-fine-due-classses').length
   
   //if(total!=1)
  // {
        $(this).parent('div').remove();
   // }
   //alert($(this).val());
});




</script>


