<div class="mg-custom-labels">
<%= form_for :stack_management, :url=>{:controller=>'inventory',:action=>'inventory_stack_management_create'}, :html => {
                            :id => 'stack_management_validation' } do |f| %>
<%= f.hidden_field :is_deleted, :value => 0 %>
<%= f.hidden_field :mg_school_id, :value => session[:current_user_school_id] %>
<%= f.hidden_field :created_by, :value => session[:user_id] %>
<%= f.hidden_field :updated_by, :value => session[:user_id] %>
<p>
    <label class="mg-label" style="width:140px"><%= t('select_store') %><span class="required-field">&nbsp;*</span></label>
    <br/>
    <%stack_data=MgInventoryStoreManagement.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]).pluck(:store_name,:id)%>
   <%= select_tag :mg_inventory_store_management_id,options_for_select(stack_data),:prompt=>"Select",:class=>"mg-text-field",:onchange=>"selectRoomData(this.value)" %>
</p>
<p>
    <label class="mg-label" style="width:140px"><%= t('select_room') %><span class="required-field">&nbsp;*</span></label>
    <br/>
   <%#stack_data=MgInventoryRoomManagement.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]).pluck(:room_no,:id)%>
   <div id="store_data_id">
   <%= select_tag :mg_inventory_room_management_id,options_for_select([[]]),:prompt=>"Select",:class=>"mg-text-field" %>
   </div>
</p>
<p>
    <label class="mg-label" style="width:140px"><%= t('rack_no') %><span class="required-field">&nbsp;*</span></label>
    <br/>
   <%= f.text_field :rack_no,:class=>"mg-text-field" %>
</p>
<p>
    <label class="mg-label mg-label-text-transform-none" style="width:140px"><%= t('prefix') %><span class="required-field">&nbsp;*</span></label>
    <br/>
   <%= f.text_field :prefix,:class=>"mg-text-field" %>
</p>

<p class="mg-p-mgtop">
    <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn"><%=t("save")%></a>
    <!-- <%#= f.submit t('save') ,:class=>"mg-small-form-btn"%> -->
    <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
</p>
<% end %>
</div>
<!-- <%#= render  partial: 'application/common_left_close' %> -->
<script>
$( document ).ready(function() {
            focusCurrentTab("stackManagementAID","stackManagementLiID");
          //focusStudentHeaderBox();

$("#stack_management_validation").validate({
        rules: {        
        "mg_inventory_store_management_id": {required: true},
        "mg_inventory_room_management_id": {required: true},
        "stack_management[rack_no]": {required: true},
        "stack_management[prefix]": {required: true}
      }
    });
});



</script>