<% navigation_add 'Item Report', inventory_item_report_path %>

<%=render partial:"inventory_left"%>
<h4 class="mg-h4"><%= t('item_report') %></h4>
<%if @items.length > 0%>
	<label class="mg-label mg-tt-width" style="width:185px"><%=t("select_item_category")%></label>
	<%=select_tag "inventory_item_category",options_for_select(@item_category_list),:class=>"mg-select-btn",:prompt=>"All"%><br><br>
	<div id="allItemCategory"></div>
<%else%>
	<h5>No Items Created</h5>
<%end%>
<%=render partial:"common_left_close"%>

<script>
	$(document).ready(function(){
		focusCurrentTab("itemReportAID","itemReportLiID");
		onChangeCategory("all");
	});

	$(document).on("change","#inventory_item_category",function(){
		var category_id=$(this).val();
		onChangeCategory(category_id);
	});

	function onChangeCategory(item_category_id){
		$.ajax({
			url:"/inventory/inventory_item_report_by_category",
			data:{"item_category_id":item_category_id},
			success:function(html){
				$("#allItemCategory").html(html);
			}
		});
	}
</script>