<%= render  partial: 'inventory/inventory_left' %>
<% navigation_add 'Sales', inventory_inventory_sales_index_path %>
<h4 class="mg-h4"><%= t('sales_list') %></h4>

<%= button_to 'Add Sales', {:controller => "inventory", :action => "inventory_sales"},:class=>"mg-custom-form-btn" %>


<div class="mg_pagination">
<%if @sales_information.present?%>
<table  class="batch-tbl mg-tbl-margin">   <!-- border="2" --> 
  <tr class="subject-table-header">
    <!-- <th>Subject Id</th> -->
    <!-- <th><%#= t('item_category') %></th> -->
    <!-- <th><%#= t('item') %></th> -->
    <th><%= t('customer_name') %></th>
    <th><label class="mg-label-text-transform-none" for="dateofsales"><%= t('date_of_sales') %></th>
    <th><%= t('amount') %></label></th>

    <th><%= t('actions') %></th>

  </tr>
 
  <% @sales_information.each do |category| %>
    <tr>
      <%#
        sales_data=MgInventorySalesData.find_by(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id],:mg_inventory_sales_information_id=>category.id)
        inventory_category=MgInventoryItemCategory.find_by(:id=>sales_data.mg_inventory_item_category_id)
        inventory_item=MgInventoryItem.find_by(:id=>sales_data.mg_inventory_item_id)
      %>
     <!--  <td><%#= inventory_category.try(:name) %></td> -->
      <!-- <td><%#= inventory_item.try(:name) %></td> -->
      <td><%= category.customer_name %></td>
      <% @dateFormat = MgSchool.find_by_id(session[:current_user_school_id]).date_format %>
      <td class="mg-desc-text-justify"><%=category.date_of_sales.strftime(@dateFormat) %></td>
      <td class="mg-desc-text-justify"><%=category.amount %></td>
      <td>
        
      <button title="Show" id="<%=raw category.id %>-showlabBTNID" class="show-inventory-sales-btn mg-icon-btn" style="float: left;"><i class="fa fa-eye"></i></button>
       <span style="position: relative; float: left; top: -2px;">
  <%= link_to "<i class=\"fa fa-pencil-square-o\"></i>".html_safe, {:controller=>"inventory",:action => "inventory_sales_edit",:id =>"#{category.id}"},:title=>"Edit" ,:class=>"mg-icon-btn"%>
  </span>
         <span style="position: relative; float: right; top: -2px; left: -8px;">

       <%= link_to "<i class=\"fa fa-trash\"></i>".html_safe, {:controller => "inventory", :action => "inventory_sales_delete",:id =>category.id },:title=>"Delete" ,:class=>"mg-icon-btn",data: { confirm: 'Are you sure to delete?' } %>
</span>
      </td>
    </tr>
  
  <%end%>

</table>
<br/>
 <div class="pagination-align" style="position: relative; bottom: 10px;">
              <%#= will_paginate @itemCategory, :container => false %>
           </div>
<%else%>
<h5>No Sales Items is created </h5>
<%end%>
</div>
<div id="newAddInventoryCategoryDIVID"></div>
<div id="editInventorySalesDIVID"></div>


<div id="showinventorysalesDIVID"></div>


<%= render  partial: 'application/common_left_close' %>

<script>
$( document ).ready(function() {
            focusCurrentTab("inventory_salesAid","inventory_salesLiID");
          //focusStudentHeaderBox();
});


$(document).on("click", ".show-inventory-sales-btn", function(e){
        var myID =$(this).attr('id');
        var Id=myID.split("-");
        var urlLink = "/inventory/inventory_sales_show/";
        $.ajax({
            url: urlLink ,
            cache: false,
            data: {"id":Id[0]},
            success: function(html){
                  $('#showinventorysalesDIVID').dialog({
                    modal: true,
                     minHeight: 'auto',
                     width: '650px',
                     title: "Show Sales Information",
                     open: function () {
                        
                        $(this).html(html);
                    }
                }); 
               
            }
        });
});


$(document).on("click", ".edit-inventory-category-btn", function(e){
        var myID =$(this).attr('id');
        var Id=myID.split("-");
        var urlLink = "/inventory/edit/"+Id[0];
        $.ajax({
            url: urlLink ,
            cache: false,
            success: function(html){
                  $('#editInventorySalesDIVID').dialog({
                    modal: true,
                     minHeight: 'auto',
                    minWidth: 260,
                    title: "Edit sales information",
                    open: function () {
                        
                        $(this).html(html);
                    }
                }); 
               
            }
        });
});

$(document).on("click", ".new-add-inventory-category", function(e){
        var urlLink = "/inventory/new";
        $.ajax({
            url: urlLink ,
            cache: false,
            success: function(html){
                  $('#newAddInventoryCategoryDIVID').dialog({
                    modal: true,
                     minHeight: 'auto',
                    minWidth: 260,
                    title: "Add Item Category",
                    open: function () {
                        
                        $(this).html(html);
                    }
                }); 
               
            }
        });
});
</script>
<style>


.table-batchs-tbl {
   /* font-family: verdana,arial,sans-serif;*/
    font-size:13px;
    color:#363131;
    border-width: 1px;
    border-color:  #363131;
    border-collapse: collapse;
    padding: 12px ;
    font-size: 0.8em;
    width: 261px !important;
    /* margin-left: 2px; */
}
</style>


