<!-- Sec --> 

<%= form_for :mg_employee_leave_types, url: mg_employee_leave_type_path(@mg_employee_leave_types), method: :patch, :html => {
                            :id => 'editMgEmployeeLeaveTypesID' } do |f| %>

<table class="mg-table-spacing mg-tbl-size-width"> 

<tr>
    <td class="mg-td-width-half" valign="top"><%= f.label :leave_name, t('leavename'),:class=>"mg-label"%><span class="required-field"> *</span><br></td>

    <td class="mg-td-width-half" valign="top"><%= f.text_field :leave_name ,:class=>"mg-text-field"%></td>


</tr>
<tr>
    <td class="mg-td-width-half" valign="top"><%= f.label :leave_code , t('leavecode'),:class=>"mg-label"%><span class="required-field"> *</span><br></td>
   <td class="mg-td-width-half" valign="top"> <%= f.text_field :leave_code ,:class=>"mg-text-field"%></td>
</tr>
<tr>
    <td class="mg-td-width-half" valign="top"><%= f.label :employee_type,:class=> "mg-label"%><span class="required-field"> *</span></td>
    <%@employeetype=MgEmployeeType.where(:is_deleted=>0,:mg_school_id=>session[:current_user_school_id]).pluck(:employee_type,:id)%>
    <td class="mg-td-width-half" valign="top"><%=f.select :mg_employee_type_id,options_for_select(@employeetype,:selected=>@mg_employee_leave_types.mg_employee_type_id),:prompt=>"Select Employee Type",:onchange=>"mycourseFunction(this.value)"%></td> 
  </tr>
<tr>
    <td class="mg-td-width-half" valign="top"><%= f.label :min_leave_count,t('minleavecount'),:class=> "mg-label"%><span class="required-field"> *</span></td>
    <td class="mg-td-width-half" valign="top"><%= f.text_field :min_leave_count ,:class=>"mg-text-field"%></td> 
  </tr>
<tr>
    <td class="mg-td-width-half" valign="top"><%= f.label :max_leave_count, t('maxleavecount') ,:class=>"mg-label mg-rm-text-trans"%><span class="required-field"> *</span><br></td>
    <td class="mg-td-width-half" valign="top"><%= f.text_field :max_leave_count ,:class=>"mg-text-field"%></td>
</tr>

 <tr>
    <td class="mg-td-width-half" valign="top"><%= f.label :minimum_year_experience, t('minimumyearexperience'),:class=> "mg-label"%><span class="required-field"> *</span></td>
     <%@remainder= @mg_employee_leave_types.minimum_month_experience%12 %>
  <%@experience_in_year=(@mg_employee_leave_types.minimum_month_experience-@remainder)/12 %>
    <td class="mg-td-width-half" valign="top"><%=text_field_tag :minimum_year_experience,@experience_in_year,:class=>"mg-text-field"%></td> 
  </tr>
   <tr>
    <td class="mg-td-width-half" valign="top"><%= f.label :minimum_month_experience, t('minimummonthexperience'),:class=> "mg-label"%><span class="required-field"> *</span></td>
    <%@experience_in_month=@mg_employee_leave_types.minimum_month_experience%12 %>
    <td class="mg-td-width-half" valign="top"><%=text_field_tag :minimum_month_experience,@experience_in_month,:class=>"mg-text-field"%></td> 
  </tr>
  <tr>
  <td class="mg-td-width-half" valign="top"><%= f.label :gender, t('gender'),:class=> "mg-label"%><span class="mg-label"> *</span></td>
   <td class="mg-td-width-half" valign="top"><%=f.select :gender, options_for_select([["All","all"],["Male" ,"male"],["Female" ,"female"]],:selected=>@mg_employee_leave_types.gender) %></td>
  </tr>
   <tr>
    <td> <%= f.label :marital_status, t('marital_status'),:class=> "mg-label "%><span class="required-field">&nbsp;*</span>  </td>
    <td> <%= f.select :marital_status , options_for_select([[t("All"), "all"], [t("single"), "single"], [t("married"), "married"], [t("divorced"), "divorced"], [t("widowed"), "widow/widowed"]], :selected => @mg_employee_leave_types[:marital_status])%> </td> 
  </tr>
  <tr>
    <td class="mg-td-width-half" valign="top"> <%= f.label :should_leave_not_be_deducted,:class=> "mg-label"%></td>
    <td class="mg-td-width-half" valign="top"> <%= f.check_box :is_leave_should_not_be_deducted%></td> 
  </tr>


<!--started -->
<tr>
    <td class="mg-td-width-half" valign="top"> <%= f.label :Accumulation,:class=> "mg-label"%></td>
    <td class="mg-td-width-half" valign="top"> <%= f.check_box :is_accumilation%></td> 
  </tr>
  <tr>
  <td>
 <div id="accumilationperiods" class="accumulation_period_count" style="display: none;">
                          
    <%= f.label :Accumilation_Period,t('accumilationPeriod'),:class=> "mg-label"%>

    </div>
    </td><td class="mg-td-width-half" valign="top">
    <div id="accumulationperiod" class="accumulation_period_count" style="display: none;">
     <%=f.select :accumilation_period, options_for_select([["Monthly" ,"1"],["Quarterly" ,"6"],["Yearly","12"]],:selected => @mg_employee_leave_types[:accumilation_period]), :prompt => 'Select' %>
     </div></td>
     </tr>
     <tr>
     <td class="mg-td-width-half" valign="top">
     <div id="Accumulationcount" class="accumulation_period_count" style="display: none;">
     <%= f.label :Accumilation_Count,t('accumilationcount'),:class=> "mg-label"%><span class="mg-label"> *</span>  
   </div>
  </td> 
  <td class="mg-td-width-half" valign="top"> 
  <div id="accumilationcounts" class="accumulation_period_count" style="display: none;">
  <%= f.text_field :accumilation_count ,:class=>"mg-text-field"%>
  </div>
  </td>
   </tr>
<!--ended -->


<!--started -->

  <tr>
    <td class="mg-td-width-half" valign="top"> <%= f.label :is_auto_reset, t('isautoreset'),:class=> "mg-label"%></td>
    <td class="mg-td-width-half" valign="top"><%= f.check_box :is_auto_reset%></td> 
  </tr>



<tr>
  <td class="mg-td-width-half" valign="top">
 <div id="resetperiods" class="carryforward-employee-Divs-Class" style="display: none;">
  <%= f.label :reset_period, t('resetperiod'),:class=> "mg-label"%>
  </div>
  </td>
  <td class="mg-td-width-half" valign="top">

    <div id="resetperiod" class="carryforward-employee-Divs-Class" style="display: none;">
    <%= f.select :reset_period, options_for_select([["Monthly" ,"1"],["Quarterly" ,"6"],["Yearly","12"]], :selected => @mg_employee_leave_types[:reset_period]), :prompt => 'Select',:class=>"mg-select-btn" %>
    </div>
    </td>
  </tr>

  <tr>
  <td class="mg-td-width-half" valign="top">
  <div id="resetstartdate" class="carryforward-employee-Divs-Class" style="display: none;">
   <%= f.label :Reset_start_date,t('reset'),:class=> "mg-label"%><span class="mg-label"> *</span>
    <div>
    </td>
    <td class="mg-td-width-half" valign="top">
    <div id="resetstartdates" class="carryforward-employee-Divs-Class" style="display: none;">
    <%= f.text_field :reset_date,:value=>@mg_employee_leave_types.reset_date.present? ? @mg_employee_leave_types.reset_date.strftime(@school.date_format) : '', :id => 'resetDateID' ,:class=>"mg-text-field"%>
    </div>
    </td>


<!--ended -->

<!--started -->
<tr>
    <td>
     <%= f.label :is_carry_forward, t('iscarryforward'),:class=> "mg-label"%>
  
    <td><%= f.check_box :is_carry_forward%></td>
    <td>
  </tr>

  
  <tr>
  <td>
 <div id="carryforwardlimits" class="carryforward-employee-Div-Class" style="display: none;">

    <%= f.label :carry_forward_limit,t('carry_forward_limit'),:class=> "mg-label"%><span class="mg-label"> *</span></td>
    </div>
    </td><td>
  
   <div id="carryforwardlimit" class="carryforward-employee-Div-Class" style="display: none;">
   <%=f.text_field :carry_forward_limit%>
   </div>
   </td>
  </tr>
  <tr>
    <td> <%= f.label :is_showable, t('is_showable'),:class=> "mg-label "%></td>
    <td> <%= f.check_box :is_showable%> </td> 
  </tr>


<!--ended -->





<tr>

<td>

  

     <%= f.label :is_deleted,t('status') ,:class=> "mg-label"%>
      <%= f.label :is_deleted, t('active') ,:class=> "mg-label-inner-form"%>
      <%= f.radio_button :is_deleted, false , :checked => true%>
      <%= f.label :is_deleted, t('inactive'),:class=> "mg-label-inner-form"%>
      <%= f.radio_button :is_deleted, true %>

   </td>
   <%=f.hidden_field :updated_by, :value=>session[:user_id]%>
   </tr>
<tr>
 <td style="height: 2.5em;">  
 <%#= f.submit t('save') ,:class=>"mg-small-form-btn mg-right-align" ,:style=>"margin-top: 1em;"%>
  <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn mg-right-align"><%=t("save")%></a>
 <%#= link_to t('cancel'), mg_employee_leave_types_path, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
 <a class="mg-small-form-btn cancel-form-dialog"><%=t('cancel')%></a>
 </td>
 </tr>
</table>

<% end %>

<% if @mg_employee_leave_types.is_accumilation%> 
      <script type="text/javascript">
      $(document).ready(function () {

      $(".accumulation_period_count").toggle();
      // document.getElementById("is_accumilation").checked = true;

     
    });
      </script>

  <%end%>
<% if @mg_employee_leave_types.is_auto_reset%> 
      <script type="text/javascript">
      $(document).ready(function () {

      $(".carryforward-employee-Divs-Class").toggle();
// 
      // document.getElementById("is_accumilation").checked = true;

    });
      </script>

  <%end%>

  <% if @mg_employee_leave_types.is_carry_forward%> 
      <script type="text/javascript">
      $(document).ready(function () {

      $(".carryforward-employee-Div-Class").toggle();
// 
      // document.getElementById("is_accumilation").checked = true;

    });
      </script>

  <%end%>








 <script type="text/javascript">
$(document).ready(function () {
  dateFormatStr =  getJsDateFormat();


  
      $( "#resetDateID" ).datepicker({ dateFormat: dateFormatStr });
      $(function () {
    $.validator.addMethod('dateFormat',
    function (value, element) {
      dateFormatStr =  getJsDateFormat();
        if (this.optional(element)) {
            return true;
        }
        var ok = true;
        try {
            $.datepicker.parseDate(dateFormatStr, value);
        }
        catch (err) {
            ok = false;
        }
        return ok;
    },
      "Please enter a date in the format "+ getDateFormat(dateFormatStr) +".");
      dateFormatStr =  getJsDateFormat();

    $(".datefield").datepicker({ dateFormat: dateFormatStr, changeYear: true });
});





    $("#editMgEmployeeLeaveTypesID").validate({

        rules: {
        // "mg_employee_leave_types[leave_name]": {required: true},
        // "mg_employee_leave_types[leave_code]": {required: true},
        // "mg_employee_leave_types[max_leave_count]": {required: true, number: true},
        // "mg_employee_leave_types[reset_period]": {required: true},

        // "mg_employee_leave_types[reset_date]": {required: true},

        // // "mg_employee_type_id": {required: true},
        // "mg_employee_leave_types[min_leave_count]": {required: true,number: true},
"mg_employee_leave_types[leave_code]": {required: true},
      "mg_employee_leave_types[max_leave_count]": {required: true, number: true, min:0},
      "mg_employee_leave_types[reset_date]": {required: true,dateFormat: true},
      "mg_employee_leave_types[leave_name]": {required: true},
      "mg_employee_leave_types[reset_period]": {required: true},
      "mg_employee_leave_types[mg_employee_type_id]": {required: true},
      "mg_employee_leave_types[min_leave_count]": {required: true,number: true, min:0},
      "mg_employee_leave_types[accumilation_period]": {required: true},
      "mg_employee_leave_types[accumilation_count]": {required: true,number: true, min:0},
      "mg_employee_leave_types[reset_period]": {required: true},
      "mg_employee_leave_types[reset_date]": {required: true},
      "mg_employee_leave_types[carry_forward_limit]": {required: true,number: true, min:0},
      "mg_employee_leave_types[accumilation_period]": {required: true},
      "minimum_year_experience": {required: true},
      "minimum_month_experience": {required: true},
      "mg_employee_leave_types[marital_status]": {required: true}

        }
    });


});




$("#mg_employee_leave_types_is_accumilation").change(function(){
 
$(".accumulation_period_count").toggle();
});


$("#mg_employee_leave_types_is_carry_forward").change(function(){
 
$(".carryforward-employee-Div-Class").toggle();
});


$("#mg_employee_leave_types_is_auto_reset").change(function(){
 
$(".carryforward-employee-Divs-Class").toggle();
});

   
 </script>

