<%= form_for :bed_detail, :url=>@action=='new' ? 'bed_details_create' : 'bed_details_update?id='+@bed_detail.try(:id).to_s, :method=> @action=='new' ? "post" : "patch" , :html => {:id => 'bedDetailsFormID'} do |f| %>    
 

  <%= f.hidden_field :mg_school_id , :value=> session[:current_user_school_id]%>
  <%= f.hidden_field :updated_by, :value => session[:user_id]%> 
  <%= f.hidden_field :is_deleted, :value => 0%> 
  <%if params[:action]=='new_bed_detail'%>
    <%= f.hidden_field :created_by, :value => session[:user_id]%> 
  <%end%>

  <p>
   <%= f.label :bed_no , t('bed_number'), :class=> "mg-label"%> <span class="required-field"> *</span><br>
   <%= f.text_field :bed_no,:class=>"mg-text-field" %>
  </p>
  <p>
   <%= f.label :description , t('description'), :class=> "mg-label"%> <span class="required-field"></span><br>
   <%= f.text_area :description ,:class=>"mg-text-field"%>
  </p>
  <p>
   <%= f.label :status , t('status'), :class=> "mg-label"%> <span class="required-field"> *</span><br>
   <%= f.select :status, options_for_select([["Usable","usable"],["Unusable","unusable"]],:selected=>@bed_detail.try(:status)),{:prompt=>t("Select")},{class: "mg-text-field"} %>
  </p>

  <p class="mg-p-mgtop">
    <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn"> <%= t('save') %></a>
    <a class="mg-small-form-btn cancel-form-dialog"><%=t('cancel')%></a>
  </p>
<% end %>


<script>
$(document).ready(function () {
  $("#bedDetailsFormID").validate({
    rules: {
      "bed_detail[bed_no]": {required: true},
      "bed_detail[status]": {required: true}
    }
  });
});
</script>
