<%= form_for :user, :url=>@action=='new' ? 'create_user' : @user.try(:id).to_s+'/update_user', :method=> @action=='new' ? "post" : "patch" , :html => {:id => 'userLoginCreateFormID'} do |f| %>    

<%= f.hidden_field :is_deleted, :value => 0 %>
<%= f.hidden_field :mg_school_id, :value => session[:current_user_school_id] %>
<%= f.hidden_field :created_by, :value => session[:user_id] %>
<%= f.hidden_field :updated_by, :value => session[:user_id] %>

<%= f.hidden_field :user_type, :value =>@user_type %>

<% school= MgSchool.where(:id=>session[:current_user_school_id],:is_deleted=>0) %>
<% subdomain = school[0].subdomain%> 

<p>
	<%= f.label :user_name, t('user_name') ,:class=>"mg-label"%><span class="required-field"> *</span><br>
	<%if @action=='new'%>
		<%=subdomain%><%= f.text_field :user_name  ,:class => 'mg-select-btn'%><br>
	<%else%>
	 	<%school=MgSchool.find_by(:id=>session[:current_user_school_id])%>
        <%user_name=@user.user_name.sub(school.subdomain,"")%>
		<%=subdomain%><%= f.text_field :user_name,:value=>user_name,:class => 'mg-select-btn'%><br>
	<%end%>

</p>
<%if @action=='new'%>
	<p>
		<%= f.label :password, t("password") ,:class=>"mg-label"%><span class="required-field"> *</span><br>
	  	<%= f.password_field :password, :class=> 'mg-select-btn' , :step => 'any',:id=>"newUserPassword"%>
	</p>
	<div id="passwordfeedbackdivId" style="color:#ff0000"></div>
	<p>
		<%= f.label :retype_Password, t("confirm_password") ,:class=>"mg-label"%><span class="required-field"> *</span><br>
	  	<%= f.password_field :confirm_password, :class=> 'mg-select-btn' , :step => 'any',:id=>"reUserPassword"%>
	</p>
<%end%>

<p class="mg-p-mgtop">
    <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn"><%=t("save")%></a>
    <a class="mg-small-form-btn cancel-form-dialog"><%=t('cancel')%></a>

</p>
<% end %>
<script>
$(document).ready(function () {
	$("#userLoginCreateFormID").validate({
		rules: {
			"user[user_name]": {required: true},
			"user[password]": {required: true},
			"user[confirm_password]": {required: true}
		}
	});
});

 $("#reUserPassword").focusout(function(){
      var new_password=$("#newUserPassword").val();
      var retype_password=$(this).val();
      if(new_password==retype_password)
      {
        
      }
      else
      {
        $("#passwordfeedbackdivId").text("Password doesn't matches..");
        $("#reUserPassword").val("");
      }
    });
</script>
