<%= form_for :change_password, :url=>'user_change_password', :html => {:id => 'userChangePasswordFormID' } do |f| %>

  <%= f.hidden_field :user_id, :value => @user.id %>
  <p>
    <%= f.label :New_Password ,:class=> "mg-label"%><span class="required-field">&nbsp;*</span><br>
    <%= f.password_field :new_password,:class=>"mg-text-field",:id=>"newUserPassword" %>
  </p>
  <div id="passwordfeedbackdivId" style="color:#ff0000"></div>
  <p>
    <%= f.label :Retype_Password ,:class=> "mg-label"%><span class="required-field">&nbsp;*</span><br>
    <%= f.password_field :re_type_password ,:class=>"mg-text-field",:id=>"reUserPassword" %>
  </p>
  <p class="mg-p-mgtop">
   <a onclick="$(this).closest('form').submit()" id="submitbutton" class="submit mg-change-password-form-btn mg-small-form-btn"><%=t("save")%></a>
    <a class="mg-small-form-btn cancel-form-dialog"><%=t("cancel")%></a>
  </p>
<% end %>

<script>
  $(document).ready(function(){
    $("#userChangePasswordFormID").validate({
      rules: {
        "change_password[new_password]": {required: true},
        "change_password[re_type_password]": {required: true}
      }
    });
  });

 $("#reUserPassword").focusout(function(){
    var new_password=$("#newUserPassword").val();
    var retype_password=$(this).val();
    if(new_password==retype_password)
    {
      
    }
    else
    {
      $("#passwordfeedbackdivId").text("Password doesn't matches..");
      $("#reUserPassword").val("");
    }
  });
</script>