<%= render  partial: 'sports_left' %>
<% navigation_add t('results'), :controller=>'sports_management', :action=>'results' %>

  <%# navigation_add t('new_schedule'),:controller=>'sports_management',:action=>'schedule_new' %>

  <h4 class="mg-h4"><%=t('edit_schedule')%></h4>


<%=hidden_field_tag "mg_event_committee_id_data",@schedule.mg_event_committee_id%>
<%=hidden_field_tag "mg_event_coee_id",@schedule.mg_event_id%>
<%=hidden_field_tag "winner_Data",@schedule.winner%>


<%=hidden_field_tag "mg_event_id_Data",@schedule.date_of_event%>
<%= form_for :schedule , url: @action=="new" ? 'schedule_create' :
 '/sports_management/'+@schedule.try(:id).to_s+'/schedule_update',:html => {:id => 'schedulesID' } do |f| %>



  <%= f.hidden_field :mg_sport_game_id, :value => @schedule.mg_sport_game_id%>
  <%= f.hidden_field :schedule_id, :value => @schedule.id%>
  <%#= hidden_field :id1, @schedule.mg_sport_team_id1%>
  <%#= hidden_field :id2, @schedule.try(:mg_sport_team_id2)%>
  <%#= hidden_field :id2, @schedule.try(:mg_sport_team_id2)%>



  <%= f.hidden_field :team_id1, :value => @schedule.mg_sport_team_id1%>
  <%= f.hidden_field :team_id2, :value => @schedule.try(:mg_sport_team_id2)%>
  <%= f.hidden_field :guest_team, :value => @schedule.guest_team%>




<p>
  <label class="mg-label mg-tt-width "><%=t('select_committee') %><span class="required-field"> *</span></label><br/>
   <%=select_tag :mg_committee_id ,options_for_select(@event_committees,:selected=>@schedule.mg_event_committee_id),:onchange=>"optionForEventInvetaion1(this.value)",:prompt=>t('select') , :id=>"selectCommitteeSelectTagID" ,:class=>"mg-select-btn"%>
  </p>

<p>
     <label class="mg-label mg-tt-width "><%=t('select_event') %><span class="required-field"> *</span></label><br/>
   <%=select_tag :mg_event_id ,options_for_select(@events,params[:mg_event_id]),:prompt=>t('select'),:onchange=>"optionForDateInventation(this.value)",:id=>"selectEventForCommitteeSelectTagIDDataId" ,:class=>"mg-select-btn"%>
</p>
<p id="Date_data">
    <label class="mg-label mg-tt-width "><%=t('event_date') %><span class="required-field"> *</span></label><br/>
   <%#=text_field_tag :date_of_event,nil,:class=>"mg-text-field"%>
   <%= select_tag 'date_of_event', options_for_select([]), :prompt=>"Select",:id=>"selectEventForCommitteeSelectTagIDDataValue",:class=>"mg-text-field" %>
</p>


<p>
  <%= f.label :game_type, t("game_type") ,:class=>"mg-label"%>
  <span class="required-field"> *</span><br>

    <%=select_tag :game_type,options_for_select([["Indoor", "indoor"],["Outdoor", "outdoor"]],:selected=>@schedule.game_type),:prompt=>"Select",:onchange => 'game();',:value=>@schedule.game_type,:class=>"mg-text-field" %>
    
</p>


<div id="game-id">

<p>
    <%= f.label :select_game, t('select_game') ,:class=>"mg-label mg-rm-text-trans"%><span class="required-field"> *</span><br>
      
        <%=select_tag :mg_sport_game_id,options_for_select([]),:prompt=>"Select"%>
      
</p>

</div>

<div id="team-id" style="display:none">
 <p >

    <%= f.label :select_team, t('select_team_1') ,:class=>"mg-rm-text-trans mg-label"%><span class="required-field"> *</span><br>
    
      <%=f.select :mg_sport_team_id1,options_for_select([]),{include_blank: false,:prompt=>"Select"},:class=> 'mg-text-field room-no'%>

   

  </p>
</div>

  <p id="guest_id" style="display:none">

    <%= f.label :guest_team, t('guest_team') ,:class=>"mg-rm-text-trans mg-label"%><span class="required-field"> *</span><br>
    
      <%= f.text_field :guest_team ,:class=> 'mg-text-field'%>
   

  </p>


  <!-- <p>
      <%#= f.label :start_date, t('start_date') ,:class=>"mg-label"%><span class="required-field"> *</span><br>

        <%#= f.text_field :start_date, :class=>"mg-text-field",:value=>@schedule.start_date.strftime(@timeformat.date_format) %>

  </p>

  <p>
      <%#= f.label :start_time, t('start_time') ,:class=>"mg-label"%><span class="required-field"> *</span><br>

        <%#= f.text_field :start_time, :class=>"mg-text-field ",:value=>@schedule.start_time.try(:strftime,"%l:%M%P") %><span id="start_time_errorID" class="error" style="font-weight: bold;">

   
  </p>

  <p>
      <%#= f.label :end_date, t('end_date') ,:class=>"mg-label"%><span class="required-field"> *</span><br>

   
        <%#= f.text_field :end_date, :class=>"mg-text-field",:value=>@schedule.end_date.strftime(@timeformat.date_format) %>
  
  </p>
   

   <p>
      <%#= f.label :end_time, t('end_time') ,:class=>"mg-label"%><span class="required-field"> *</span><br>

   
        <%#= f.text_field :end_time, :class=>"mg-text-field ",:value=>@schedule.end_time.try(:strftime,"%l:%M%P") %><span id="end_time_errorID" class="error" style="font-weight: bold;">

  </p> -->



  <p>

      <%= f.label :venue, t('venue') ,:class=>"mg-rm-text-trans mg-label"%><span class="required-field"> *</span><br>
      
        <%= f.text_field :venue ,:class=> 'mg-text-field',:value=>@schedule.venue%>


    </p>

    <p>

      <%= f.label :winner, t('winner') ,:class=>"mg-rm-text-trans mg-label"%><span class="required-field"> *</span><br>
      
        <%=f.select :winner,options_for_select([]),{include_blank: false,:prompt=>"Select"},:class=> 'mg-text-field room-no'%>

    

    </p>


  <p class="mg-p-mgtop">
    <a onclick="$(this).closest('form').submit()" class="mg-small-form-btn"><%=t("save")%></a>
    <%= link_to t('cancel'), {:controller=>'sports_management',:action=>'results'}, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
</p>

<% end %>

<div id="formEmployeeOrStudentDIVID"></div>
<%= render  partial: 'application/common_left_close' %>


<script type="text/javascript">
  $(document).ready(function () {
                 focusCurrentTab("resultsAID","resultsLiID");
    $("#schedulesID").validate({
      rules: {     
        "schedule[reason]": {required: true},
        "schedule[start_date]": {required: true, dateFormat: true},
        "schedule[start_time]": {required: true},
        "schedule[end_date]": {required: true, dateFormat: true},
        "schedule[end_time]": {required: true},
        "schedule[venue]": {required: true},
        "schedule[guest_team]": {required: true},
        "schedule[winner]": {required: true},
        "game_type": {required: true},
        "mg_sport_game_id": {required: true},
        "schedule_mg_sport_team_id": {required: true},
        "mg_committee_id": {required: true},
        "mg_event_id": {required: true},
        "date_of_event": {required: true},
        "date_of_event_Data": {required: true},
         "mg_sport_team_id1": {required: true},
        "guest_team": {required: true},
        "mg_sport_team_id2": {required: true},

      }
    });
    $("#invitationNewFormDivID").html("");
                 var value=$("#mg_event_committee_id_data").val();
                 var event_value=$("#mg_event_coee_id").val();

var urlLink='/sports_management/event_list/'+value;
         $.ajax({
            url: urlLink ,
            cache: false,
            data:{"data1":"12"},
            success: function(data){
               var str='<option value="">'+"Select"+'</option>';
               for (var key in data) {
                

                 if(parseInt(event_value)==parseInt(data[key].id)){

                str +='<option value="'+data[key].id+'" selected>'+data[key].title+'</option>';
              }else{
                str +='<option value="'+data[key].id+'">'+data[key].title+'</option>';
              }
               }
               $("#selectEventForCommitteeSelectTagIDDataId").html(str);
            }
        });
            var value_data=$("#mg_event_id_Data").val();
           // var value=$("#mg_event_id").val();
              var event_value=$("#mg_event_coee_id").val();


          var urlLink='/sports_management/event_list_dates/'+event_value;
         $.ajax({
            url: urlLink ,
            cache: false,
        
            data:{"value_data":"data",value_data1:value_data,"data1":"123"},
            success: function(data){
               
               $("#Date_data").empty().html(data);
            }
        });

    


     var game_type = $( "#game_type").val();
     var mg_sport_game_id=$("#schedule_mg_sport_game_id").val();
     var schedule_id=$("#schedule_schedule_id").val();

     


       if(game_type) {
           var urlLink = "/sports_management/game_data";
          $.ajax({
             url: urlLink,
             cache: false,
             data: {"game_type":game_type,"id":schedule_id,"game_id":mg_sport_game_id,"schedule_edit":"data","data":"ss"},
             success: function(data){
                    $("#game-id").empty().append(data);
                }
         });
     }


     var gameValue = $("#game_type").val();
    var gamenameId = $("#schedule_mg_sport_game_id").val();
    var id1 = $( "#schedule_team_id1").val();
    var id2 = $( "#schedule_team_id2").val();
    var guest_team = $( "#schedule_guest_team").val();
    


       if(gameValue=="indoor") {
           var urlLink = "/sports_management/team_data";
          $.ajax({
             url: urlLink,
             cache: false,
             data: {"game_type":gameValue,"edit":"data123","game_name":gamenameId,"schedule_edit":"data","team_id1":id1,"team_id2":id2},
             success: function(data){
                    $("#team-id").show();
                    $("#team-id").empty().append(data);
                }
         });
     }

     else if(gameValue=="outdoor"){
      var urlLink = "/sports_management/outdoor_data";
          $.ajax({
             url: urlLink,
             cache: false,
             data: {"game_type":gameValue,"edit":"data009","game_name":gamenameId,"outdoor_data":"data","team_id1":id1,"guest_team":guest_team},
             success: function(data){
                    $("#team-id").show();
                    $("#team-id").empty().append(data);
                }
         });
     }


    // $('#schedule_winner').empty();
//           var team1=$(".one1").val();
//           var text1=$(".one1").text();
//           var team2=$(".two1").val();
//           var text2=$(".two1").text();
//           var guest=$(".guest-value").val();
//           //           var team2=$("#mg_sport_team_id2").val();

//         //  var text1=$(".one").options[$(".one").selectedIndex].text();
// alert(team1);
// alert(text1);
// alert(team2);
// alert(guest);


// alert(text2);

//           var team2=$("#mg_sport_team_id2").val();
//           var text2=document.getElementById('mg_sport_team_id2').options[document.getElementById('mg_sport_team_id2').selectedIndex].text();
//               var guest=$(".guest-value").val();
// alert(team2);
// alert(text2);
          // $('#schedule_winner').append(new Option("Select", ""));
          

      //   $('#schedule_winner').append(new Option("Select", ""));
      //   $('#schedule_winner').append(new Option(text1, team1));
      //    if(team2!=""){
      //   $('#schedule_winner').append(new Option(text2, team2));
      // }
      //   if(guest!=""){
      //   $('#schedule_winner').append(new Option(guest,guest));
      // }

    

    // var team1=$("#mg_sport_team_id1").val();
    //       var text1=document.getElementById('mg_sport_team_id1').options[document.getElementById('mg_sport_team_id1').selectedIndex].text

    //       var team2=$("#mg_sport_team_id2").val();
    //       var text2=document.getElementById('mg_sport_team_id2').options[document.getElementById('mg_sport_team_id2').selectedIndex].text

    //     $('#schedule_winner').append(new Option(text1, team1));
    //     $('#schedule_winner').append(new Option(text2, team2));



  });

  function game(){
        var game_type = $( "#game_type").val();
        $("#team-id").empty()
        
       if(game_type) {
           var urlLink = "/sports_management/game_data";
          $.ajax({
             url: urlLink,
             cache: false,
             data: {"game_type":game_type,"schedule":"data"},
             success: function(data){
                    $("#game-id").empty().append(data);
                }
         });
     }


     // var guest=$(".guest-value").val();
     //      var team1=$("#mg_sport_team_id1").val();

     //      var text=document.getElementById('mg_sport_team_id1').options[document.getElementById('mg_sport_team_id1').selectedIndex].text

     //    $('#schedule_winner').append(new Option(text, team1));
     //    $('#schedule_winner').append(new Option(guest,guest));


   }

   function team(){
    var gameValue = $( "#game_type").val();
    var gamenameId = $( "#mg_sport_game_id").val();

       if(gameValue=="indoor") {
           var urlLink = "/sports_management/team_data";
          $.ajax({
             url: urlLink,
             cache: false,
             data: {"game_type":gameValue,"game_name":gamenameId,"edit":"dsf"},
             success: function(data){
                    $("#team-id").show();
                    $("#team-id").empty().append(data);
                }
         });
     }

     else if(gameValue=="outdoor"){
      var urlLink = "/sports_management/outdoor_data";
          $.ajax({
             url: urlLink,
             cache: false,
             data: {"game_type":gameValue,"game_name":gamenameId,"outdoor_data":"data"},
             success: function(data){
                    $("#team-id").show();
                    $("#team-id").empty().append(data);
                }
         });
     }
   }



      // function winner(){


      //     var guest=$(".guest-value").val();
      //     var team1=$("#mg_sport_team_id1").val();

      //     var text=document.getElementById('mg_sport_team_id1').options[document.getElementById('mg_sport_team_id1').selectedIndex].text

      //   $('#schedule_winner').append(new Option(text, team1));
      //   $('#schedule_winner').append(new Option(guest,guest));
      // }
$(document).on("change",".onetwo",function(){

//function winner(){

        $('#schedule_winner').empty();

          var guest=$(".guest-value").val();
          var team1=$("#mg_sport_team_id1").val();

          var text=document.getElementById('mg_sport_team_id1').options[document.getElementById('mg_sport_team_id1').selectedIndex].text
  if(guest!=""&&team1!=""){
        $('#schedule_winner').append(new Option("Select", ""));
        $('#schedule_winner').append(new Option(text, team1));
        $('#schedule_winner').append(new Option(guest,guest));
      }
      else{
$('#schedule_winner').append(new Option("Select", ""));
  
}
      });
      
      // function winner_select(){
        
      //     var team1=$("#mg_sport_team_id1").val();
      //     var text1=document.getElementById('mg_sport_team_id1').options[document.getElementById('mg_sport_team_id1').selectedIndex].text

      //     var team2=$("#mg_sport_team_id2").val();
      //     var text2=document.getElementById('mg_sport_team_id2').options[document.getElementById('mg_sport_team_id2').selectedIndex].text

      //   $('#schedule_winner').append(new Option(text1, team1));
      //   $('#schedule_winner').append(new Option(text2, team2));



      // }


 function winner_select(){
        $('#schedule_winner').empty();
          var team1=$("#mg_sport_team_id1").val();
          var text1=document.getElementById('mg_sport_team_id1').options[document.getElementById('mg_sport_team_id1').selectedIndex].text

          var team2=$("#mg_sport_team_id2").val();
          var text2=document.getElementById('mg_sport_team_id2').options[document.getElementById('mg_sport_team_id2').selectedIndex].text

          // $('#schedule_winner').append(new Option("Select", ""));
          if(team1!=""&&team2!=""&&team1!=team2){

        $('#schedule_winner').append(new Option("Select", ""));
        $('#schedule_winner').append(new Option(text1, team1));
        $('#schedule_winner').append(new Option(text2, team2));
      }
else{
$('#schedule_winner').append(new Option("Select", ""));

}

      }


$(document).on("change","#schedule_end_date",function(){
    var dateFormatStr =  getJsDateFormat();
    var start_date=$("#schedule_start_date").val();
    var end_date=$(this).val();
    if(start_date && end_date){
      if(!(compareDate(start_date,end_date,dateFormatStr))){
        alert("End date should be greater than start date");
        $(this).val('');
      }else{
        var start_date=$("#schedule_start_date").val();
        var end_date=$("#schedule_end_date").val();
        if (start_date==end_date){
          var from = $('#schedule_start_time').val();
          var to = $('#schedule_end_time').val();
          var from_time=minFromMidnight(from);
          var to_time=minFromMidnight(to);
          if(from_time && to_time){
            if(from_time > to_time){
             alert("Start Time must be less than End Time");
             $('#schedule_start_time').val('');
            } 
          }
        }
      }
    }
  });


$(document).on("change","#schedule_start_date",function(){
    var dateFormatStr =  getJsDateFormat();
    var start_date=$(this).val();
    var end_date=$("#schedule_end_date").val();

    if(start_date && end_date){
      if(!(compareDate(start_date,end_date,dateFormatStr))){
        alert("End date should be greater than start date");
        $(this).val('');
      }else{
        var start_date=$("#schedule_start_date").val();
        var end_date=$("#schedule_end_date").val();
        if (start_date==end_date){
          var from = $('#schedule_start_time').val();
          var to = $('#schedule_end_time').val();
          var from_time=minFromMidnight(from);
          var to_time=minFromMidnight(to);
          if(from_time && to_time){
            if(from_time > to_time){
             alert("Start Time must be less than End Time");
             $('#schedule_start_time').val('');
            } 
          }
        }
      }
    }
  });


$(document).on("change","#schedule_start_time",function(){
    var dateFormatStr =  getJsDateFormat();
    var start_date=$("#schedule_start_date").val();
    var end_date=$("#schedule_end_date").val();
    var start_time = $('#schedule_start_time').val();
    var regexprsn = /^([1-9]|1[0-2]):([0-5]\d)\s?(AM|PM)?$/i;

    if(start_time.match(regexprsn)){
      $("#start_time_errorID").text("");

      if(start_date && end_date){
        if (start_date==end_date){
          var from = $('#schedule_start_time').val();
          var to = $('#schedule_end_time').val();
          var from_time=minFromMidnight(from);
          var to_time=minFromMidnight(to);
          if(from_time && to_time){
            if(from_time > to_time){
             alert("Start Time must be less than End Time");
             $('#schedule_start_time').val('');
            } 
          }
        }
      }
    }else{      
      $("#start_time_errorID").text("Please enter a time in the format am/pm.");
      $('#schedule_start_time').val('');
    }
  });

  $(document).on("change","#schedule_end_time",function(){
    var dateFormatStr =  getJsDateFormat();
    var start_date=$("#schedule_start_date").val();
    var end_date=$("#schedule_end_date").val();
    var end_time = $('#schedule_end_time').val();
    var regexprsn = /^([1-9]|1[0-2]):([0-5]\d)\s?(AM|PM)?$/i;
    
    if(end_time.match(regexprsn)){
      $("#end_time_errorID").text("");
    
      if(start_date && end_date){
        if (start_date==end_date){
          var from = $('#schedule_start_time').val();
          var to = $('#schedule_end_time').val();
          var from_time=minFromMidnight(from);
          var to_time=minFromMidnight(to);
          if(from_time && to_time){
            if(from_time > to_time){
             alert("End Time must be greater than Start Time");
             $('#schedule_end_time').val('');
            } 
          }
        }
      }
    }else{      
      $("#end_time_errorID").text("Please enter a time in the format am/pm.");
      $('#schedule_end_time').val('');
    }
  });


function minFromMidnight(tm){
    if(tm==''){
      return
    }
   var ampm= tm.substr(-2)
   var clk = tm.substr(0, 4);
   var m  = parseInt(clk.match(/\d+$/)[0], 10);
   var h  = parseInt(clk.match(/^\d+/)[0], 10);
   h += (ampm.match(/pm/i))? 12: 0;
   return h*60+m;
  }



   function optionForEventInvetaion1(value){
        $("#selectEventForCommitteeSelectTagIDDataId").html("");
        $("#invitationNewFormDivID").html("");

        var urlLink='/sports_management/event_list/'+value;
         $.ajax({
            url: urlLink ,
            cache: false,
            data:{"data1":"12"},
            success: function(data){
               var str='<option value="">'+"Select"+'</option>';
               for (var key in data) {
                str +='<option value="'+data[key].id+'">'+data[key].title+'</option>';
               }
               $("#selectEventForCommitteeSelectTagIDDataId").html(str);
            }
        });
    }

    function optionForDateInventation(value){
       // $("#selectEventForCommitteeSelectTagIDDataValue").html("");
       // $("#invitationNewFormDivID").html("");

        var urlLink='/sports_management/event_list_dates/'+value;
         $.ajax({
            url: urlLink ,
            cache: false,
            data:{"data1":"123"},
            success: function(data){
               // var str='<option value="">'+"Select"+'</option>';
               // for (var key in data) {
               //  str +='<option value="'+data[key].id+'">'+data[key].title+'</option>';
               // }
               $("#Date_data").empty().html(data);
            }
        });
    }




  $(document).on("change",".data1",function(){

    var data=$(".data1").size();
    var demo=$(this);
   
   for(var i=1;i<=data;i++){

   if(demo.attr('id')=="mg_sport_team_id"+i){
  }
  else{
    if($(this).val()==$("#mg_sport_team_id"+i).val()){
       alert("This option is already selected please select different Option")
       $(this).prop("selectedIndex", 0);
    }
    else{

    }
}

    }
  });

</script>