<% navigation_add t('sports_item_consumption'),:controller=>'sports_item_consumption_index', :action=>'disciplinary_action' %>

<% if !params[:notice].blank? %>
  <div class="alert alert-info mg-danger-msg">
   <%= params[:notice] %>
  </div>
<% end %>

<%=render partial:"sports_left"%>
	
	<%= button_to t('add_consumption'), {:controller => "sports_management", :action => "sports_item_consumption_new" } ,:class=>"mg-custom-form-btn"%><br>
	<h4 class="mg-h4"><%=t('sports_consumption_list')%></h4>
	<%if @consumption_items.length > 0%>
		<div class="mg_pagination">
				<table class="batch-tbl mg-tbl-layout mg-left-align-nil" id="electiveGroupTableID">
					<tr class="subject-table-header">
			            <th><%= t('item_category') %></th>
			            <th><%= t('item_name') %></th>
			          	<th><%= t('quantity_consumed') %></th>
			        	<th class="mg-label-text-transform-none">
			        	<%= t('date_of_consumption') %></th>
			        	<th><%= t('consumption_type') %></th>
			            <th><%= t('actions') %></th>
			        </tr>
			        <% @consumption_items.each do |item| %>
				        <tr>
				        	<%
				        	 item_category=MgInventoryItemCategory.find_by(:id=>item.mg_inventory_item_category_id)	
				        	 item_name=MgInventoryItem.find_by(:id=>item.mg_inventory_item_id)
				        	 room=MgInventoryRoomManagement.find_by(:id=>item.mg_inventory_room_id)
				        	 rack=InventoryStackManagement.find_by(:id=>item.mg_inventory_rack_id)
				        	 school=MgSchool.find_by(:id=>session[:current_user_school_id])
				        	%>
				        	<td><%=item_category.name%></td>
				        	<td><%=item_name.name%></td>
				           	<td><%=item.quantity_consumed%></td> 
				        	<td><%=item.consumption_date.strftime(school.date_format)%></td> 
				        	<td class="mg-capitalize-text"><%=item.consumption_type%></td> 
				        	<td>
				        		
				        		<%#= link_to "<i class=\"fa fa-eye\"></i>".html_safe, "",:class=>"mg-icon-btn showItemConsumption" ,:id=>item.id,:style=>"margin-right: 3px;"%>
				        		<%#= link_to "<i class=\"fa fa-pencil-square-o\"></i>".html_safe, sports_management_sports_item_consumption_edit_path(item.id),:class=>"mg-icon-btn" ,:style=>"margin-right: 3px;"%>
	                			<%#= link_to "<i class=\"fa fa-trash\"></i>".html_safe, sports_item_consumption_delete_path(item.id),data: { confirm: 'Are you sure to delete?' },:class=>"mg-icon-btn"%>
	<button title="Show" id="" class=" mg-icon-btn", onclick="window.location.href='/sports_management/sports_item_consumption_show/<%=item.id%>'"><i class="fa fa-eye"></i></button>
	               			
	<button title="Edit" id="" class=" mg-icon-btn", onclick="window.location.href='/sports_management/<%=item.id%>/sports_item_consumption_edit'"><i class="fa fa-pencil-square-o" ></i></button>

	<button title="Delete" id="<%=raw item.id %>-deleteinterviewRoundsBTNID" onclick="confirm('Are you sure to delete?') ? window.location.href='/sports_management/<%=item.id%>/sports_item_consumption_delete' : ''" class="mg-icon-btn"><i class="fa fa-trash"></i></button>
     

    <%#= link_to "<i class=\"fa fa-trash\"></i>".html_safe,
     {:controller => "sports_management", :action => "sports_item_consumption_delete",:id=>item.id },data: { confirm: "Are you sure?" } ,:title=> "Delete" ,:class=>"mg-icon-btn"%></td>               			
				        	</td>
				        </tr>
			        <%end%>
				</table><br/>
			
			<%= will_paginate @consumption_items, :container => false %>
		</div>

	<%else%>
		<h5>Please add some item consumption detail ... </h5>
	<%end%>
	<div id="showConsumptionDetailDialog">
		
	</div>
<%=render partial:"common_left_close"%>

<script>
$(document).ready(function(){
	focusCurrentTab("itemConsumptionAID","itemConsumptionLiID");
});

$(document).on("click",".showItemConsumption",function(){
	var item_consumption_id = $(this).attr("id");

	jQuery.ajax({
		url: "/inventory/inventory_item_consumption_show",
		data:{"id":item_consumption_id},
		success: function(html){
			$("#showConsumptionDetailDialog").dialog({
				title:"Show Consumption Detail",
				open:function(){
					$(this).html(html);
				}
			});
		}
	});
});
</script>