<!-- Sec -->
<h4 class="mg-h4">Apply Leave </h4>
<div class="mg-custom-labels">
<%= form_for :attendances , url: 'attendances_apply_leave_path', :html => {
                            :id => 'LeaveApplyID', :class => 'LeaveApplyClass' } do |f| %>
<!--attendances_createstudent_path-->
<p>
    <%= f.label :From_Date , t('fromddate'),:class=>"mg-label"%></br>
    <%= f.text_field :from_date ,:class=>"mg-text-field"%>
  </p>

  <p>
    <%= f.label :To_Date,  t('todate') ,:class=>"mg-label"%></br>
    <%= f.text_field :to_date ,:class=>"mg-text-field"%>
  </p>


      <p> 
          <%= f.label :is_halfday , t('ishalfday'),:class=> "mg-label"%>    
      <%= f.hidden_field :is_halfday, :value => false ,:id=>"halfdayfield"%>
         <input id="attendances_halfday" type="checkbox"  onclick="toggleAll();" name="attendances[halfday]"> 
      </p> 
       <%= f.hidden_field :is_afternoon, :value => false ,:id=>"afternoonfield"%>
      <p>
      <div id="whatever" style="display:none">
          <%= f.label :morning , t('morning') ,:class=> "mg-label"%>
          <%= f.radio_button :is_afternoon, false, :checked=>true%>
          <%= f.label :afternoon,  t('afternoon'),:class=> "mg-label"%>
          <%= f.radio_button :is_afternoon, true%>
      </div>

      <div class="no-of-days-attendence">
        
      </div>
      <p>
        <%= f.label :reason,  t('reason') ,:class=> "mg-label"%><br>
        <%= f.text_area :reason ,:class=>"mg-text-field"%>
      </p>


<!--         <%#= f.hidden_field :mg_batch_id, :value => @batID[0] %> -->
        <%= f.hidden_field :mg_student_id, :value => @studentID %>
        
          <%= f.submit t("save") ,:id => "FormID-Demo" ,:class=>"Form-form-btn mg-small-form-btn"%>
      <% end %>
</div>

<script>
$(document).ready(function () {
      $( "#attendances_from_date" ).datepicker({ dateFormat: 'dd-mm-yy' });
       $( "#attendances_to_date" ).datepicker({ dateFormat: 'dd-mm-yy' });
    


$("#LeaveApplyID").validate({
rules: {
"attendances[from_date]": {required: true},
"attendances[to_date]": {required: true},
"attendances[reason]": {required: true}
}
});
});


</script>
