<!-- Sec -->
 <section id="userBodyContentBox" class="yield-container" style="margin: 0 auto 40px;" >
    
    <table width=100% border="0" cellspacing="0" cellpadding="0">
        <tr>
         <td class="userBodyContentBox1" valign="top">
           <aside class="userMenuBoxLeft" style="width: 180px;">
                    <ul style="width: 251px;">
                        <li class="myAccountMenu"><%=t('attendances')%></li>



                        <li id="studentAttendanceLiID" >

                            <a id="studentAttendanceAID" href="/attendances"><div><i class="fa fa-check-square-o">&nbsp;&nbsp;</i><%=t('studentsattendance')%><!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> --></div></a>

                        </li>
                        <li id="employeeAttendanceLiID" >

                            <a id="employeeAttendanceAID" href="/employees_attendances"><div><i class="fa fa-check-square">&nbsp;&nbsp;</i><%=t('employeeattendance')%><!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> --></div></a>

                        </li>

                         <li id="viewEmployeetListLiID">
                            <a class="menuItemsActivities" href="/mg_employee_leave_types/" id="viewEmployeetList">

                                <div class="setMenu"><i class="fa fa-list">&nbsp;&nbsp;</i><%=t('leavetypelist')%><!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->

                                </div>
                            </a>
                        </li>
                        <li id="EmployeeLeaveTypesLiID">
                            <a class="menuItemsActivities1" href="/mg_employee_leave_types/new/" id="EmployeeLeaveTypes">

                                <div class="setMenu"><i class="fa fa-tag">&nbsp;&nbsp;</i><%=t('createleavetypes')%><!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->

                                </div>
                            </a>
                        </li>
                        <li id="employeeLeaveResetqLiID">
                            <a class="menuItemsActivities2" href="/mg_employee_leave_types/emp_attendances/" id="employeeLeaveResetq">

                                <div class="setMenu"><i class="fa fa-tags">&nbsp;&nbsp;</i><%=t('resetleave')%><!-- <i class="fa fa-caret-left" style="color:#d5d8d9; position: absolute; right: 0px; transform: translateY(33%);"></i> -->

                                </div>
                            </a>
                        </li>

                      

                    </ul>
            </aside>
         </td>

<script>
$(document).ready(function(){
    focusAttendance();
});
</script>