<% navigation_add t('week_day'), employee_weekdays_path %>

<%= render  partial: '/master_settings/master_settings_left' %>
<%#= render  partial: 'index' %>
<% if flash[:notice].present? %>
  <div class="alert alert-info mg-success-msg">
  <%= flash[:notice] %>
  </div>
<% end %>
<h4 class="mg-h4"><%= t('weekdays')%></h4>
<%= form_for :employee_weekdays, url: employee_weekdays_path, method: :post, :html => {
                            :id => 'albumsFormID' } do |f| %>
<div id="commonWeekdayDiv" >
	<table>
		<tr>
		<td><label class="mg-label mg-label-width "><%=t('sunday')%></label></td>
		<td><%= check_box_tag "weekdays[]", 0,  @weekdaychecked.include?(0) ? true : false ,:style=>"margin-bottom: 10px;",:onclick=>"buttonEnable()"%></td></tr>
		<tr><td><label class="mg-label mg-label-width "><%=t('monday')%></label></td><td><%= check_box_tag "weekdays[]", 1,  @weekdaychecked.include?(1) ? true : false ,:style=>"margin-bottom: 10px;",:onclick=>"buttonEnable()"%></td></tr>
		<tr><td><label class="mg-label mg-label-width "><%=t('tuesday')%></label></td><td><%= check_box_tag "weekdays[]", 2,  @weekdaychecked.include?(2) ? true : false ,:style=>"margin-bottom: 10px;",:onclick=>"buttonEnable()"%></td></tr>
		<tr><td><label class="mg-label mg-label-width "><%=t('wednesday')%></label></td><td><%= check_box_tag "weekdays[]", 3,  @weekdaychecked.include?(3) ? true : false ,:style=>"margin-bottom: 10px;",:onclick=>"buttonEnable()"%></td></tr>
		<tr><td><label class="mg-label mg-label-width "><%=t('thursday')%></label></td><td><%= check_box_tag "weekdays[]", 4,  @weekdaychecked.include?(4) ? true : false ,:style=>"margin-bottom: 10px;",:onclick=>"buttonEnable()"%></td></tr>
		<tr><td><label class="mg-label mg-label-width "><%=t('friday')%></label></td><td><%= check_box_tag "weekdays[]", 5,  @weekdaychecked.include?(5) ? true : false ,:style=>"margin-bottom: 10px;",:onclick=>"buttonEnable()"%></td></tr>
		<tr><td><label class="mg-label mg-label-width "><%=t('saturday')%></label></td><td><%= check_box_tag "weekdays[]", 6,  @weekdaychecked.include?(6) ? true : false ,:style=>"margin-bottom: 10px;",:onclick=>"buttonEnable()"%></td></tr>

</table>
<button id="weekdaySavebtn" class= "mg-small-form-btn" ><%=t('save')%></button>
</div>

<%end%>

<%#=Date.today.strftime("%w")%>


<%= render  partial: 'application/common_left_close' %>

<script>


  $(document).ready(function () {
      focusCurrentTab("manageEmployeeWeekdaysAID","createEmployeeWeekdaysLiID");
      // focusDashboards();
      focusMasterSettings();
  });

  
</script>

