<%= render partial: 'dashboards/cloud_admin_dashboard_left' %>

<h4 class="mg-h4"><%= t('file_upload') %></h4>
<%= form_tag({:action => 'create_buspickup_route',:controller => 'cloud_admins'}, :multipart => true) do %>
  <p>
    <label for="upload_file">Select School</label> <br>
    <%=select_tag :mg_school_id,options_for_select(MgSchool.where(:is_deleted=>0).pluck(:school_name, :id)),:prompt=>"Select", :id=>"attendances_mg_employee_department_id",:class=>"mg-select-btn"%>
  </p>
  <p><label for="upload_file">Select File</label> : 
    <%= file_field 'upload', 'datafile' %>
  </p>

  <%= submit_tag "Upload" %>
<% end %>

<%= render partial: 'application/common_left_close' %>

<script>
  var file = document.getElementById('upload_datafile');
  file.onchange = function(e){
    var ext = this.value.match(/\.([^\.]+)$/)[1];
    switch(ext)
    {
      case 'xls':
        break;
      case 'xlsx':
        break;
      default:
        alert('not allowed');
        this.value='';
    }
  };

  $(document).ready(function() {
    $("form").validate({
        rules: {
        "upload[datafile]": {required: true},
        "mg_school_id": {required: true}
        }
    });
    focusCurrentTab("transportBusPickupID","transportBusPickupLID");
    focusDashboards();
  });

</script>