<%= render partial: 'dashboards/cloud_admin_dashboard_left' %>

<h4 class="mg-h4"><%= t('add_help_document') %></h4>
 <div class="mg-custom-labels">
<%= form_for :help_document, url: help_document_create_path, :html => {
                            :id => 'helpDocumentCreateID' } do |f| %>
<%= f.hidden_field :is_deleted, :value => 0 %>
<%#= f.hidden_field :mg_school_id, :value => session[:current_user_school_id] %>
<!--#Syllabus.where(:is_deleted => '0')-->
<p>
<label class="mg-label" style="width:140px"><%= t('select_school') %><span class="required-field">&nbsp;*</span></label>
<br/>
<%= f.collection_select(:mg_school_id,MgSchool.where(:is_deleted=>0), :id, :school_name,{:include_blank => t("select")},:class => "help-document-school-class")%>
</p>

<p>
		<label class="mg-label" style="width:140px"><%= t('user_type') %><span class="required-field">&nbsp;*</span></label>
		<br/>
		<%= f.select :user_type, options_for_select([[t("Select"), ""], [t("principal"), "principal"], [t("admin"), "admin"], [t("employee"), "employee"], [t("student"), "student"], [t("guardian"), "guardian"]]),:onchange=>"checkHelpDocument()" %>

</p>
<p>
   <label class="mg-label" style="width:140px"><%= t('document_name') %><span class="required-field">&nbsp;*</span></label>
   <br/>
   <%= f.text_field :name,:class=>"mg-text-field" %>
 </p>
 <p>
   <label class="mg-label" style="width:140px"><%= t('file') %></label><br/>
   <%= f.file_field :document ,:class=>"mg-text-field" %>
 </p>
    <%= f.submit t('save') ,:class=>"mg-small-form-btn" %>
    <%= link_to t('cancel'), :back, {:class=>"mg-small-form-btn cancel-form-dialog"} %>
  </p>
<% end %>
</div>

<%= render partial: 'application/common_left_close' %>
<script>

$(document).ready(function(){
	//$("#help_document_mg_school_id").html("1");
    $("#help_document_user_type").change(function()
    {
            
    	
    	checkHelpDocument();
    });
    $("#help_document_mg_school_id").change(function()
    {

    	var temp=$("#help_document_user_type").val();
    	if (!(temp==""))
    	{
    			
    		checkHelpDocument();
    	}
    });



    focusCurrentTab("viewCloudAdminDashboardAddHelpDocument","viewCloudAdminDashboardAddHelpDocumentLiID");
    focusDashboards();
 



}); 


function checkHelpDocument(){
	var mg_school_id=$("#help_document_mg_school_id").val();
	var user_type=$("#help_document_user_type").val();

        var urlLink = "/cloud_admins/check_help_document/";
        $.ajax({
        url: urlLink ,
        cache: false,
        data: {"mg_school_id" :mg_school_id,"user_type":user_type},
           // dataType: "html",
        success: function(data)
        {
        	if(data.employee>0)
	        	{
	        		alert("Document is already present.");
	        		window.location='/cloud_admins/help_document_show/';
	        		//$(".help-document-school-class option[value=1]").attr('selected','selected');
	        		//$('#help_document_mg_school_id option[value="' + "1" + '"]').prop('selected', true);


					//$("#help_document_user_type").empty();
	        	}	
	
        }
                }); 
    
    
    };


</script>

