<%= form_for :incharge, url:change_password_path, :html => 
                    {:id => 'inchargeChangePasswordFormID' } do |f| %>

  <%= f.hidden_field :user_id, :value => @incharge.id %>
  
  <%= f.label :Current_Password ,:class=> "mg-label"%><span class="required-field">&nbsp;*</span><div id="feedbackcurrentdivId"></div>
  <%= f.password_field :name ,:class=>"mg-text-field" %>
  <p>
    <%= f.label :New_Password ,:class=> "mg-label"%><span class="required-field">&nbsp;*</span><br>
    <%= f.password_field :password,:class=>"mg-text-field",:id=>"newEmployeePassword" %>
  </p>
  <div id="employeefeedbackdivId" style="color:#ff0000"></div>
  <p>
    <%= f.label :Retype_Password ,:class=> "mg-label"%><span class="required-field">&nbsp;*</span><br>
    <%= f.password_field :hashed_password ,:class=>"mg-text-field",:id=>"reEmployeePassword" %>
  </p>
  <p class="mg-p-mgtop">
   <a onclick="$(this).closest('form').submit()" id="submitbutton" class="submit mg-change-password-form-btn mg-small-form-btn"><%=t("save")%></a>
    <a class="mg-small-form-btn cancel-form-dialog"><%=t("cancel")%></a>
  </p>
<% end %>


<script>
$(document).ready(function(){
  $("#reEmployeePassword").focusout(function(){
    var temp=$("#newEmployeePassword").val();
    var tempo=$(this).val();
    if(temp==tempo)
    {
      
    }
    else
    {
      $("#employeefeedbackdivId").text("Password doesn't matches..");
    }
  });

  $("#storeManagerChangePasswordFormID").validate({
    rules: {
      "incharge[name]": {required: true},
      "incharge[password]": {required: true},
      "incharge[hashed_password]": {required: true}
    }
  });
});